.m_compensation_form .form-group {
    display: flex;
    align-items: center;
  }
  
  .m_compensation_form .input_file .center .image {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .m_compensation_form .input_file .form-control {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }
  .m_compensation_form .input_file .center {
    position: absolute;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); */
    display: flex;
    align-items: center;
  }