.ant-btn{
    width: auto;
    height: auto;
    > span{
        display: block;
    }
    &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active {
        color: rgba(0, 0, 0, 1); 
        background: #bec8c8;
        border-color: #bec8c8; 
    }
}
 .ant-radio-checked .ant-radio-inner{
    border-color: #6f42c1 !important ;
  }
  
  .ant-radio-checked .ant-radio-inner:after{
    background-color: #6f42c1;
  }
  
  .ant-radio:hover .ant-radio-inner {
    border-color: #6f42c1 ;
  }
  .ant-radio-inner::after{
    background-color: #6f42c1;
  }
  .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: #6f42c1 ;
  }
  .ant-radio-checked::after {
    border: 1px solid #6f42c1;
  }
