.ant-btn{
    width: auto;
    height: auto;
    > span{
        display: block;
    }
    &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active {
        color: rgba(0, 0, 0, 1); 
        background: #bec8c8;
        border-color: #bec8c8; 
    }
}
.ant-input-number-handler-wrap {
  display: none;
}
 .ant-radio-checked .ant-radio-inner{
    border-color: #6f42c1 !important ;
  }
  
  .ant-radio-checked .ant-radio-inner:after{
    background-color: #6f42c1;
  }
  
  .ant-radio:hover .ant-radio-inner {
    border-color: #6f42c1 ;
  }
  .ant-radio-inner::after{
    background-color: #6f42c1;
  }
  .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: #6f42c1 ;
  }
  .ant-radio-checked::after {
    border: 1px solid #6f42c1;
  }
  //donut css
  .donutchart-track{
    fill: transparent;
    stroke: #fd7e14;
    stroke-width: 16;
  }
  .donutchart-indicator {
    fill: transparent;
    stroke: #51c471;
    stroke-width: 26;
    stroke-dasharray: 0 10000;
    transition: stroke-dasharray .3s ease;
  }
  
  .donutchart {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
  }
  
  
  .donutchart-text{
    fill: #607580;
  }
  .donutchart-text-val{
    font-size:22px;
  }
  .donutchart-text-percent{
    font-size:14px;
  }
  .donutchart-text-label{
    font-size:12px;
  }

  .borrow__filter{
    width: auto;
  }