.loading_full{
    @include flex-direction(column);
    min-height: 50vh;
    .ant-spin-text{
        font-size: 24px;
        color: #dcdfeb;
        margin-top: 10px;
    }
    .ant-spin-dot {
        font-size: 40px;
        width: 1em;
        height: 1em;
    }
    .ant-spin-dot-item{
        width: 20px;
        height: 20px;
        background-color: #bdc3dc;
    }
}
