.m_slider {
    overflow: hidden;
    @media(max-width: 1400px){
        height: auto;
    }
    .slider-single .slick-arrow {
        border: none;
        color: #fff;
        font-size: 0;
    }
}


.sales_select-dates{
    .ant-picker {
        padding: 0 10px;
        .ant-picker-suffix::before{
            content: "\f107";
            font-size: 13px;
        }
    }
    .ant-picker-input{
        padding-right: 20px;
    }
}

.m_map::before{
    display: none;
}

.min-width-button{
    @media(max-width: 1400px){
        max-width: 150px;
        width: 100%;
        min-width: auto;
    }
}
.m_pager ul li{
    margin: 0 2px;
}
.m_text_status_1 {
    color: #e94c4c !important;
  }
  
  .m_border_status_1 {
    border: solid 1px #e94c4c;
  }
  
  .m_text_status_2 {
    color: #219dfd;
  }
  
  .m_border_status_2 {
    border: solid 1px #219dfd;
  }
  
  .m_text_status_3 {
    color: #399b54;
  }
  
  .m_border_status_3 {
    border: solid 1px #399b54;
  }