.text_e94c4c {
    color: #e94c4c;
}
.color_6d30ab,
.uni-text-6d30ab {
    color: #6d30ab !important;
}
.color_e94c4c {
    color: #e94c4c !important;
}
.color_656565 {
    color: #656565 !important;
}

.uni-text-0d0d0d {
    color: #0d0d0d;
}
.uni-text-fff {
    color: #ffffff;
}
