// @import "info";
// @import "project";
// @import "payment";
// @import "feedback";
// @import "order";

.user-acc {
    padding-top: 85px;
    padding-bottom: 90px;
    @media (max-width: 767px) {
        padding: 50px 0;
    }
    &__heading {
        @include flexbox;
        @include align-items(center);
        margin-bottom: 40px;
        @media (max-width: 1199px) {
            @include flex-direction(column);
            @include align-items(flex-start);
        }
    }

    .main_heading {
        margin-bottom: 0;
    }
}
