* {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

#cabinet {
    padding: 10px 20px 10px 20px;
}

.wrapper_cabinet {
    background-color: #e3e7fa;
    border-radius: 5px;
    padding: 18px 18px 18px 18px;
    margin: 15px 0 15px 0;
}

.wrapper_cabinet_title {
    background-color: #ffffff;
    padding: 8px 5px 8px 5px;
    font-weight: bold;
}

.wrapper_cabinet_content {
    margin-top: 8px;
    padding: 5px 4px 5px 4px;
    font-weight: bold;
    position: relative;
}

#wrapper_cabinet_content {
    margin: 15px 0px 15px 0px;
}

.wrapper_cabinet_button {
    background-color: #285aa1;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    float: right;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    text-align: center;
    margin: 0 4px 0 4px;
}

.wrapper_cabinet_button:hover {
    color: black;
}

.wrapper_cabinet_delete_button {
    background-color: #ff5465;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    float: right;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    text-align: center;
    margin: 0 4px 0 4px;
}

.wrapper_cabinet_delete_button:hover {
    color: black;
}


/*                                  Form                                */

.label_title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.icon_label {
    color: red;
    font-weight: bold;
    font-size: 16px;
}
