/*                          Folder Tree                             */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

* {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

#folder_tree {
    position: relative;
    width: 75%;
    /*display: inline-block;*/
    /*margin: 0 auto;*/
    padding: 20px;
    margin-left: 12px;
    /*border-top: 30px solid #5c5d5e;*/
    border-radius: 0;
    background-color: #ffffff;
    overflow: hidden;
    /*box-shadow: 0 0 80px rgba(0, 0, 0, .2);*/
}

/*form::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -20px;*/
/*    left: 15px;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    border-radius: 50%;*/
/*    background-color: #adadae;*/
/*    box-shadow: 20px 0 0 #adadae,*/
/*    40px 0 0 #adadae;*/
/*}*/

h3 {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #adadae;
    color: #5c5d5e;
    font-size: 1.1em;
}

.tree {
    padding: 20px 0;
}

.tree::after {
    content: '';
    display: block;
    clear: left;
}

.tree div {
    clear: left;
}

#folder_tree input[type="checkbox"] {
    position: absolute;
    /*left: -9999px;*/
    display: none;
}

#folder_tree label, a {
    display: block;
    float: left;
    clear: left;
    position: relative;
    margin-left: 25px;
    padding: 5px;
    border-radius: 5px;
    color: #5c5d5e;
    text-decoration: none;
    cursor: pointer;
}

#folder_tree label::before, a::before {
    display: block;
    position: absolute;
    top: 6px;
    left: -25px;
    font-family: FontAwesome, "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
}

#folder_tree label::before {
    content: '\f07b'; /* closed folder */
}

#folder_tree input:checked + label::before {
    content: '\f07c'; /* open folder */
    color: #fcba03;
}

#folder_tree a::before {
    content: '\f068'; /* dash */
}

#folder_tree input:focus + label, a:focus {
    outline: none;
    background-color: #b9c3c9;
}

#folder_tree .sub {
    display: none;
    float: left;
    margin-left: 30px;
}

#folder_tree input:checked ~ .sub {
    display: block;
}

#folder_tree input[type="reset"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #e8ebed;
    background-color: #6b7c87;
    font-family: inherit;
    font-size: .9em;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#folder_tree input[type="reset"]:focus {
    outline: none;
    box-shadow: 0 0 0 4px #b9c3c9;
}

#card_body_document {
    background-color: #d8e4f2;
}

#folder_tree .tree .check_parent:checked:first-child + label::before {
    content: '\f07c'; /* open folder */
    color: #525c5a;
}

#cabinet_document_form {
    position: relative;
}

.cabinet_document_check_box {
    width: 15px;
    height: 15px;
    position: absolute;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 13px;
}

#cabinet_document_select {
    display: inline-block;
    width: 92%;
    float: right;
    height: 60%;
    border-radius: 7px;
}

#document_card {
}

                                /*Javascript Using*/

.check_parent {

}

.url_folder {
    position: absolute;
    z-index: -1;
    display: none;
}

.input_folder {

}

.label_folder {

}

.current_url_name {

}

