/********************* Begin Content Project ***************/
/* thong tin ca nhan */
.div-border-left{
    border-left:1px solid #e9e9ee;
     padding-left:20px;
}
.button-project{
    background-color:#fcbb2c;
    text-align:left;
}
.button-action{
    background-color:#088fcc;
}
.list-project .dropdown-toggle::after{
    margin-left:30% !important;
}
.info-name{
    padding-left: 12px;
    font-size:15px;
    color:#575757;
}

/* content canh bao */
.line-bottom{
    border-bottom: 1px solid #cccccc;

}
.text-date-warning{
    color:#acacac;
    font-weight:normal !important;
}
.title-warming{
    color:#636363;
    font-weight:bold;
    text-decoration: underline;
}
.text-view-all{
    text-decoration: underline;
    text-align:right;
}
.text-department-message{
    color:#901a4d;
    font-weight:bold;
    font-size:11px;
}
/* content table */
.table-detail-project thead th{
    background-color:#71002d;
    color:#ffffff;
}
.text-department{
    color:#901a4d !important;
}

