#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar #step4:before {
    content: "4"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:not(#step1):after {
    content: '';
    width: 100%;
    height: 3px;
    background: lightgray;
    position: absolute;
    right: 50%;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:not(#step1):after {
    background: #6d30ab;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.Rectangle-5400 {
    width: 270px;

    border: solid 1px #e0e0e0;
    background-color: #fcfcfc;
    color:#575757;
    padding: 8px;
    font-style: italic;
    font-size: 12px;
    margin-left: 5px;
}

.uni-bg-reddish {
    background: #ca3f3f;
}

.uni-card {
    flex-direction: unset;
}

.uni-bg-white {
    background: white;
}

.uni-bg-white > i {
    color: black;
}

.in11385 {
    width: 225px;
    height: 32px;
}

/* begin content top */
.content_top i{
    font-size: 16px;
    color: #333333;
}

.content_top label{
    color:#333333;
    font-weight: 600;
    padding-left: 7px;
    font-size: 16px;
}

.content_top .images_slider{
    max-width: 85%;
}

.content_top .map_content{
    height: 321px;
    max-width: 85%;
    margin-left: 13px;
}

/* begin content bottom */
.button-reddish{
    background: #ca3f3f;
    font-weight: 500;
    font-size:14px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height:1.2;
    max-width: 500px;
}

.button-darkish-green{
    background: #6d30ab;
    font-weight: 500;
    font-size:14px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left:-5px !important;
    max-width:500px;
    line-height:1.2;
}

/* */
.search{
    color: #031f36;
}

.uni_text_6d30ab{
    cursor: pointer;
}

.list-table th{
    border-top:none !important;
}

.list-table th, td{

    padding: 10px 5px !important;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color:#333333;
    font-size: 14px;
}

.list-table thead th{
    border-bottom: 1px solid #ada7a7 !important;
    font-weight: bold;
    line-height: 1.22;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    color: #333333;
}

/* Page request_price/edit */
.request-price label{
    margin-bottom: 10px;
    /*color: #6d30ab;*/
}

.request-price select, .request-price input{
    border: 1px solid #e0e0e0;
    font-size: 14px;
    height: 42px;
}

.request-price textarea{
    border: 1px solid #e0e0e0;
    font-size: 12px;
    color: #606060 !important;
}

.list-table input{
    padding-top: 12px ;
    padding-bottom: 12px;
    background-color: rgba(94, 191, 255, 0.14) !important;
    color: #333333 ;
    border: none;
}

.list-table select{
    background-color: rgba(94, 191, 255, 0.14) !important;
    color: #333333 ;
    border: none;
}

.request-price input[type="file"], #content_step input[type="file"]{
    display: none;
}
.request-price .custom-file-upload {
    display: inline-block;
    padding: 6px 0px;
    cursor: pointer;

}

.request-price a.delete{
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.request-price a.delete i{
    font-size: 14px;
}



.supplier_name{
    color: #000000 !important;
    font-weight: 600;
    font-size: 14px;
}

.text-6d30ab{
     color: #6d30ab !important;
}

.text-6d30ab i{
    font-size: 12px;
}

.text-606060{
    color: #606060;
    font-size: 12px;
}

.mar-top-5{
    margin-top: 5px;
}

/* CSS BUTTON : BEGIN */
.btn-step{
    color: #fcfcfc ;
    font-weight: 500;
    letter-spacing: normal;
    float: right;
    padding: 9px 25px !important;
}

.btn-send-mail{
    background-color: #f29f05;
    border: 1px solid #f29f05;
}

.btn-send-mail:hover{
    color: #FFFFFF;
}

.btn-send-request{
    background-color: #f29f05;
    border: 1px solid #f29f05;
}

.btn-send-request:hover{
    color: #FFFFFF;
}

.btn-step {
    color: #fcfcfc;
    font-weight: 500;
    letter-spacing: normal;
    float: right;
    padding: 9px 25px !important;
}

.btn-approved {
    background-color: #4a3bcc !important;
    border: 1px solid #4a3bcc;
    padding: 9px 30px !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
}

.btn-cancel-approved{
    background-color: #db3f3f;
    border:1px solid #db3f3f;
    padding: 9px 30px !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
}

.btn-callback{
    border:1px solid #ebebeb;
    background-color: #ebebeb;
    color: #db3f3f;
    padding: 9px 25px !important;
}
.btn-callback:hover{
    color: #db3f3f;
}
/* CSS BUTTON : BEGIN */

/* begin checkbox */
.custom-control-label::before{
    background-color: #f8f8f8;
    border-radius: 0px !important;
    border: 1px solid #8d8d8d;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #6d30ab;
    border-radius: 0px !important;
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #6d30ab;
    border-radius: 0px !important;
}
/* end checkbox */

.btn-939393{
    background-color: #939393;
    border:1px solid #939393;
}

.select2-container--default.select2-container--disabled .select2-selection--single{
    background-color: #FFFFFF;
}

/* tittle tab : start */
.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs .nav-item {
    margin-bottom: -1px !important;
    flex: 1;
    /*border-bottom: 1px solid #399b54;*/
}

.nav-tabs .nav-item.active {
    border-bottom: 0px;
}

.nav.nav-tabs.nav-top-border .nav-item a {
    color:#000000;
    font-size:14px;
    background-color: #ebebeb;
    font-weight: 500;
    border-left: 1px solid #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);

}

.nav.nav-tabs.nav-top-border .nav-item a:hover {
    color:#333333;
}

.nav.nav-tabs .nav-item .nav-link {
    display: flex !important;
    justify-content: center;
    padding: 9px 0px;

}

.nav-tabs .nav-link {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.nav.nav-tabs.nav-top-border .nav-item a.nav-link.active {
    border: 1px solid #399b54;
    border-bottom: 1px solid #FFFFFF;
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 500;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
}
.text-0068b9{
    color:#0068b9 !important;

}

.text-0068b9 img, .content-document img{
    margin-right:10px;
    margin-top: -3px;
    width:15px;
}

.gantt_tree_content .text-0068b9{
    font-size: 13px;
}

.text-date{
    padding:5px 0px 5px 30px;
    font-size: 13px;
    color: black;
    font-style: italic;
}

.text-status{

    font-size: 13px;
}
/* tittle tab : end */
.content-document span{
    color: #333333;
    font-size: 13px !important;
    font-weight: normal !important;
}
.content-document, .content-document a{
    color:#0068b9 !important;
    font-size: 14px;
    text-decoration: underline;
}

.text-version{
    margin-top:5px;
    margin-left:27px;
    color: #333333 !important;
    font-size: 13px;
    text-decoration: underline;
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: unset;
    box-shadow: none;
}

.leaflet-popup-close-button{
   display: none;
}


.gantt_message_area {
    display: none;
}

/*.gantt_row, .gantt_task_row{
    border-bottom: none;
}*/

.uni_text_3b88fd {
    color: #3b88fd;
    margin-right: 5px;
    font-size: 13px;
}

.app-content .wizard>.steps>ul>li.disabled a, .app-content .wizard>.steps>ul>li.disabled {
    color: #606060;
}

.app-content .wizard  .done a{
    color: #399b54;
}

.btn-ellipsis{
    background-color: unset;
    border: 0;
}
.btn-ellipsis::after{
    content: unset;
}

.m_grid--list_project .item {
    border: 0px;
    margin-top: -12px;
}
#map {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
}

.company_info span{
    font-size: 14px;
    height: auto;
}

.row_status_approved {
    border: 1px solid #399b54;
    display: inline-block;
    min-width: 200px;
    text-align: center;
}

#modal_upload_file .form-group {
    display: flex;
    align-items: center;
}

#modal_upload_file .input_file {
    height: 103px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border: dashed 1px #c2c2c2;
}

#modal_upload_file .input_file .form-control {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

#modal_upload_file .input_file .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

#modal_upload_file .input_file .center .image {
    margin-right: 10px;
}

#modal_upload_file .input_file .center .text {
    color: #878787;
    font-size: 12px;
    font-weight: normal;
}


.avatar_project {
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

.avatar_project img {
    width: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

