.navbar-semi-dark .navbar-header {
    height: 54px;
    background-color: #2B8A3E;
}

.navbar-semi-dark {
    background-color: #2B8A3E;
}

.line-height-74 {
    line-height: 74px;
}

.btn-nav-project {
    background-color: #2B8A3E;
    color: #FFFFFF;
    border: none;
}

.item-logo {
    position: relative;
}

.dropdown-modules {
    line-height: 4 !important;
}

.dropdown-user-link {
    line-height: 3.5 !important;
}

/* Begin navbar search */
#search-navbar {
    margin-right: 22px;
    margin-top: 6px;
}

.navbar-search {
    background-color: #2B8A3E;
    margin-top: 13px;
    line-height: 1px;
    border-color: #ffffff;
    padding: 7px;
    float: right;
    color: #FFFFFF;
    width: 200px;
}

.navbar-search::placeholder {
    color: #FFFFFF;
}

.icon-search {
    top: 10px;
    color: #FFFFFF;
}

/* End navbar search */

/* Begin avatar */
.header-navbar .navbar-container ul.nav li a.dropdown-user-link .avatar {
    margin-right: -12px;
}

.avatar {
    border-radius: 50%;
    width: 38px !important;
    height: 38px;
    background-color: #bbbf40;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
}

/* End avatar */

/* Begin menu left */
.main-menu.menu-dark {
    background-color: #333739;
}

.main-menu.menu-dark .navigation > li > a {
    font-size: 14px;
}

/* End menu left */

.dropdown-toggle::after {
    content: " \25BE" !important;
}

.dropdown-lg {
    min-width: 25rem !important;
}

/* Begin Button general */
.btn-orange { /* mau vang cam */
    background-color: #f29f05;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn-green { /* mau xanh la  */
    background-color: #2b8a3e;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn-back { /* button quay lai  */
    background-color: #a7a7a7;
    font-weight: 600;
    color: #FFFFFF;
}

.btn-save { /* button luu  */
    background-color: #428c47;
    font-weight: 600;
    color: #FFFFFF;
}

.btn-add { /* button them moi */
    background-color: #064e8b;
    font-weight: 600;
    color: #FFFFFF;
}


@media (min-width: 320px) and (max-width: 480px) {
    .line-height-74 {
        line-height: 42px;
    }

    .btn-nav-project {
        line-height: 38px;
    }

    .nav .dropdown .dropdown-menu {
        margin-top: 14px;
    }

}

@media (min-width: 480px) and (max-width: 768px) {

    .line-height-74 {
        line-height: 42px;
    }

    .btn-nav-project {
        line-height: 38px;
    }

    .nav .dropdown .dropdown-menu {
        margin-top: 14px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .btn-nav-project {
        line-height: 65px;
    }

    .nav .dropdown .dropdown-menu {
        margin-top: 3px;
    }

    .item-logo {
        left: 26%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .btn-nav-project {
        line-height: 69px;
    }

    .item-logo {
        left: 25%;
    }
}

@media only screen and (min-width: 1366px) {
    .btn-nav-project {
        line-height: 68px;
    }

    .item-logo {
        left: 35%;
    }

}

/**
START BUTTON
 */

.uni-bg-reddish {
    background-color: #ca3f3f;
}

.uni-bg-darkish-green {
    background-color: #2b8a3e;
}

.uni-bg-medium-green {
    background-color: #37b24d;
}

.uni-bg-ocean-blue {
    background-color: #0068b9;
}

.uni-bg-d-blue {
    background-color: #3b88fd;
}

.uni-bg-brown-grey {
    background-color: #a7a7a7 !important;
}

.uni-bg-tangerine {
    background-color: #f29f05;
}

.uni-bg-brown-grey-two {
    background-color: #939393;
}

.uni-bg-very-light-pink {
    background-color: #e5e5e5;
}

.button-create {
    background-color: #088fcc;
    float: right;
}

/**
END BUTTON
 */

/**
START COLOR
 */
.uni-darkish-green {
    color: #2b8a3e !important;
}

.uni-ocean-blue {
    color: #0068b9;
}

.uni-tangerine {
    color: #f29f05;
}

.uni-reddish {
    color: #ca3f3f;
}

.uni-very-light-pink {
    color: #f5f5f5;
}

.uni-greyish-brown-two {
    color: #424242;
}

/**
END COLOR
 */

.uni-border-reddish {
    border: 1px solid #ca3f3f !important;
}

/*START OTHER*/
form input:focus {
    border: 1px solid #cacfe7 !important;
    background-color: #f5f5f5;
}

form input {
    /*it cause border disappear on white background if the element has class='form-control'*/
    /*border: unset !important;*/
}

.uni-card {
    flex-direction: unset;
}


.uni-cl-progress {
    color: #333333;
}

.uni-bb-1 {
    border-bottom: solid 1px #e3e3e3;
}

.uni-bb-4 {
    border-bottom: solid 4px #2b8a3e;
}

.uni-comment-placehoder::placeholder {
    font-style: italic;
}

.uni-bd-1 {
    border: solid 1px #ededed;
}

.uni-border-bottom-grey {
    border-bottom: 1px solid #dbdbdb !important;
}

.uni-pd-2-1 {
    padding: 2rem 1rem;
}

.text-green {
    color: #2b8a3e;
}

.image-circle {
    border-radius: 50%;
}

/*Smart resizing search box*/
input[type=text] {
    box-sizing: border-box;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.card .uni-box-shadow {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18) !important;
}

/*END OTHER*/

.table-detail-project thead th {
    /* background-color: #2b8a3e;
    color: #ffffff; */
}

.content-search .icon-plus {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 5px;
}

.content-search .icon-plus:before {
    content: none !important;
}

.content-search .input-search {
    float: right;
    width: 69%;
}

.content-search .form-control-position {
    background-color: #fcbb2c;
    height: 2.75rem !important;
    width: 2.75rem;
    right: 1px !important;
    color: #fff;
}

.btn-view {
    padding: 3px 5px 3px 5px;
}

.uni-hyperlink {
    color: #2b8a3e !important;
    font-weight: 500;
}

.uni-hyperlink:hover {
    color: #2b8a3e;
}

/*Status*/
.priority_type_1 {
    color: #2b8a3e;
}

.priority_type_2 {
    color: #f29f05;
}

.priority_type_3 {
    color: #ca3f3f;
}

.priority_type_4 {
    color: #ca3f3f;
}

.status_type_1 {
    color: #333333;
}

.status_type_2 {
    color: #0068b9;
}

.status_type_3 {
    color: #f29f05;
}

.status_type_4 {
    color: #ca3f3f;
}

.status_type_5 {
    color: #333333;
}

/*end status*/