li[class="parsley-required"] {
    position: relative;
    top: 100% !important;
    left: 0% !important;
}

.m_drag-images {
    position: relative;
    min-height: 300px;
}

.m_drag-images .input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.m_drag-images .text {
    position: absolute;
    background-color: #ebebeb;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.m_drag-images .text span {
    color: #6d6d6d;
    font-style: italic;
    margin-top: 13px;
}

.m_drag-images .text i {
    color: #6a32ae;
    font-size: 26px;
    width: 74px;
    height: 74px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.m_drag-images .text i:after {
    position: absolute;
    content: '';
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 50%;
    top: 6px;
    left: 6px;
    border: 1px solid #6a32ae;
}

/* Fixed image on edit customer*/
#div_image_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}


.img-thumbnail {
    height: 275px !important;
    width: 311px;
}

::-webkit-input-placeholder {
    font-style: italic;
}

.image .image-house {
    height: 278px;
}

.text-customer {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
}

.text-customer:hover {
    text-decoration: none;
    color: #000000;
}

.btn-build {
    border-radius: 41px;
    background-color: #a8c200;
    color: #ffffff;
    height: 28px;
    line-height: 1.7;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-build:hover {
    color: #ffffff;
}


.btn-tvtk {
    border-radius: 41px;
    background-color: #fb9334;
    color: #ffffff;
    height: 28px;
    line-height: 1.7;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-tvtk:hover {
    color: #ffffff;
}

.line {
    margin-bottom: 10px;
    margin-top: 0px
}

.lb-contact {
    font-weight: normal;
    color: #6d6d6d;
}

.text-address {
    font-weight: 300;
    font-style: italic;
    color: #6d6d6d;
}

.text-shareholder {
    color: #606060;
    font-weight: normal;
    margin-top: 10px;
}

.text-content {
    color: #000000;
    font-weight: 500;
}

.avatar-cricle {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.small-font-input {
    font-size: 14px;
}

.m_drag-images {
    position: relative;
    min-height: 322px;
}

.m_drag-images .input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.m_drag-images .text {
    position: absolute;
    background-color: #ebebeb;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.m_drag-images .text span {
    color: #6d6d6d;
    font-style: italic;
    margin-top: 13px;
}

/*.m_drag-images .text i {*/
/*    color: #38b6ac;*/
/*    font-size: 26px;*/
/*    width: 74px;*/
/*    height: 74px;*/
/*    background-color: #fff;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*}*/

/*.m_drag-images .text i:after {*/
/*    position: absolute;*/
/*    content: '';*/
/*    width: calc(100% - 12px);*/
/*    height: calc(100% - 12px);*/
/*    border-radius: 50%;*/
/*    top: 6px;*/
/*    left: 6px;*/
/*    border: 1px solid #38b6ac;*/
/*}*/

.text-large {
    font-size: 36px
}

.text-bold {
    font-weight: 500;
}

ul.parsley-errors-list {
    position: relative
}

/* Project */
ul.filter li {
    display: inline;
}

ul.filter li+li:before {
    padding: 10px;
    color: black;
    content: "\007c";
}

/* Shareholder */
.nopadding-left {
    padding-left: 0 !important;
}

.nopadding-right {
    padding-right: 0 !important;
}

/* Tab */
.tab-pane {
    margin-top: 15px;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs>li.tab-investor {
    font-weight: bold;
    background: #F2F2F2;
    margin: 1px;
}

.nav-tabs>li.tab-investor>a {
    color: #000;
    text-decoration: none;
}

.nav-tabs>li.active {
    background: #FFF;
    border-top: 1px solid #6d30ab;
    border-right: 1px solid #6d30ab;
    border-left: 1px solid #6d30ab;
    margin: 1px;
}

.nav-tabs>li.tab-investor>a.active,
.nav-tabs>li.tab-investor>a:hover,
.nav-tabs>li.tab-investor>a:focus {
    font-weight: bold;
    color: #6d30ab;
    border: 0px;
}

.no_data {
    position: relative;
    max-width: 245px;
    margin: 80px auto;
}

.no_data .image {
    width: 100%;
}

.no_data .image img {
    width: 100%;
}

.no_data .text {
    position: absolute;
    font-size: 18px;
    color: #6d6d6d;
    background-color: #ffffff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ///////////////////.m_shareholder-structure/////////////////////////////////// */

.uni_bg_1 {
    background-color: #67a0f5;
}

.uni_bg_2 {
    background-color: #e9c301;
}

.uni_bg_3 {
    background-color: #fb9334;
}

.uni_bg_4 {
    background-color: #63dcd2;
}

.uni_bg_5 {
    background-color: #a8c200;
}

.m_shareholder-structure .title {
    color: #6d6d6d;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
}

.m_shareholder-structure .title .number {
    display: block;
    font-size: 28px;
    color: #000;
}

.m_shareholder-structure .m_progress {
    margin-top: 45px;
    background-color: transparent;
    height: 22px;
    display: flex;
}

.m_shareholder-structure .m_progress-bar:first-child {
    border-radius: 38px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.m_shareholder-structure .m_progress-bar:last-child {
    border-radius: 38px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.m_shareholder-structure .m_progress-bar {
    height: 22px;
    position: relative;
    cursor: pointer;
}

.m_shareholder-structure .m_progress-number {
    position: absolute;
    padding: 5px 12px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #27bedf;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    color: #000;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.m_shareholder-structure .m_progress-number::before {
    position: absolute;
    content: '';
    border: 7px solid #27bedf;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.m_shareholder-structure .m_progress-bar:hover .m_progress-number {
    opacity: 1;
}

.m_shareholder-structure .table {
    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 40px;
    padding-right: 10px;
}

.m_shareholder-structure .table::-webkit-scrollbar {
    width: 7px;
}

.m_shareholder-structure .table::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    outline: 1px solid #dbdbdb;
    border-radius: 5px;
}

.m_shareholder-structure .table .name {
    color: #424242;
    font-weight: 500;
}

.m_shareholder-structure .table .money {
    color: #000;
    font-weight: 400;
}

.m_shareholder-structure .table table {
    width: 100%;
    margin-left: 20px;
}

.m_shareholder-structure .table table td {
    border-top: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 0.7rem 0;
}

.m_shareholder-structure .table .circle {
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.m_shareholder-structure .table .circle.uni_bg_1 {
    border: solid 1.8px #67a0f5;
}

.m_shareholder-structure .table .circle.uni_bg_2 {
    border: solid 1.8px #e9c301;
}

.m_shareholder-structure .table .circle.uni_bg_3 {
    border: solid 1.8px #fb9334;
}

.m_shareholder-structure .table .circle.uni_bg_4 {
    border: solid 1.8px #63dcd2;
}

.m_shareholder-structure .table .circle.uni_bg_5 {
    border: solid 1.8px #a8c200;
}

.border-right-dbd9d9 {
    border-right: 2px solid #dbd9d9 !important;
}
.position-relative {
    position: relative;
}

.m_table table {
    min-width: 970px;
    width: 100%;
}
.input-group-append .m_select_wrapper {
    width: 140px;
}
