#map {
    height: 270px;
    width: 100%;
    z-index: 1000;
}

.project-legal-card span {
    text-decoration: underline;
}

.icon-button {
    background-color: white;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    margin-left: -2px;
    font-size: inherit !important;
}

.gantt_grid_scale .gantt_grid_head_cell {
    color: black;
    font-weight: bold;
    text-align: left;
}

.gantt_task_scale .gantt_scale_line .gantt_scale_cell {
    color: black;
    font-weight: bold;
}

.gantt_row, .gantt_task_row {
    border-bottom: none;
    border-top: 1px solid #ebebeb;
}

.gantt_tree_content {
    color: #2b8a3e;
}

.gantt_tree_content > span {
    color: #0068b9;
}

.uni_title_user, .uni_task_top {
    border-top: none !important;
}

.uni_title_user .gantt_task_content {
    background: none !important;
}

.uni_title_user:hover {
    background: none !important;
}

.uni_title_user {
    background: none !important;
}

.app-content .wizard.wizard-circle > .steps .step {
    width: 35px;
    height: 35px;
    line-height: 30px;
    border: 4px solid #F4F5FA;
}

.app-content .wizard.wizard-circle > .steps > ul > li:after, .app-content .wizard.wizard-circle > .steps > ul > li:before {
    top: 35px;
}

.nav.nav-tabs.nav-underline .nav-item a.nav-link:before {
    background: #ca3f3f;
}

.nav.nav-tabs.nav-underline {
    border: none;
}

.nav.nav-tabs.nav-underline .nav-item a.nav-link.active,
.nav.nav-tabs.nav-underline .nav-item a.nav-link.active:focus,
.nav.nav-tabs.nav-underline .nav-item a.nav-link.active:hover {
    color: #ca3f3f
}

.nav.nav-tabs.nav-underline .nav-item a.nav-link {
    color: black;
}

.highlight {
    background-color: #cce6f7;
}

table > tbody > tr {
    cursor: pointer;
}

.card-legal {
    height: 170px;
    max-height: 200px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
}


/*Status*/
.priority_type_1 {
    color: #2b8a3e;
}

.priority_type_2 {
    color: #f29f05;
}

.priority_type_3 {
    color: #ca3f3f;
}

.priority_type_4 {
    color: #ca3f3f;
}

.status_type_1 {
    color: #333333;
}

.status_type_2 {
    color: #0068b9;
}

.status_type_3 {
    color: #f29f05;
}

.status_type_4 {
    color: #ca3f3f;
}

.status_type_5 {
    color: #333333;
}

/*end status*/

.m_chateau_green {
    color: #399b54;
}

.m_2b8a3e {
    color: #2b8a3e;
}

.uni-bb-1 {
    border: solid 1px #e3e3e3;
}

.m_font-size-12 {
    font-size: 12px;
}

.lock {
    background-color: #e2e2e291;
}

button, label, table {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #f8f8f8;
}

/* text tren tai tho */
.text-f8f8f8 {

    font-size: 15px;
    font-weight: 400;
    line-height: 1.19;
}

/* label cua select */
.label-navy {
    color: #000000;
    line-height: 1.12;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
}

/* table search */
.table-search td {
    padding: 0px 12px 0px 0px;
}

/* bang hien thi danh sach */

#list_projects .active {
    background-color: #cce6f7;
}

.m_table table {
    min-width: unset !important;
}

/* MAP */
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-touch .leaflet-bar a {
    width: 38px;
    height: 34px;
}

.leaflet-right .leaflet-control {
    margin-right: 10px;
    margin-top: 10px;
}

.text-map-location {
    background-color: #2b8a3e;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 50px 10px 50px;
    line-height: 1.19;
    font-size: 14px;
}

.text-map-info-pro {
    height: 100px;
    background-color: #FFFFFF;
    width: 355px;
}

.text-map-info-pro div, .text-map-info-pro span {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-size: 12px;
    font-weight: 500;
}

.text-map-info-pro i {
    paddingleft: 7px;
    padding-right: 7px;
}

.text-map-info-pro .row {
    padding: 7px 10px 0px 7px;

}

/*** Begin detail page *****/
#slideshow {
    width: 93%;
    left: 5px;
    top: 0px;
    height: 344px;
}

.name-project {
    font-size: 28px;
    font-weight: 600;

}

/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow: hidden;
}

.carousel-item-title {
    background: #e2fff3;
    margin-bottom: 10px;
}

.carousel-item-title a {
    padding: 10px;
    font-size: 20px;
    display: block;
}

.img-fluid {
    width: 100%;
}

.uni-brown-grey-three {
    color: #8d8d8d;
    font-size: 16px;
    line-height: 1.44;
    font-weight: 300;
}

.uni-greyish-brown-two {
    color: #424242;
}

.row-info-item {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.row-info-item p {
    margin: 0px;
}

.border-left {
    border-color: #dbdbdb !important;
}

.btn-tangerine {
    background-color: #bfbfbf !important;
    color: #FFFFFF !important;
}

#caurousel_competitive_projects p, #caurousel_competitive_projects span {
    font-size: 14px;
}

#caurousel_competitive_projects .nearby_project_item_content {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#caurousel_competitive_projects .uni-greyish-brown-two {
    font-size: 14px;
    margin-left: 20px;
}

#caurousel_competitive_projects .slick-slide img {
    display: unset !important;
}

#caurousel_competitive_projects .slick-arrow {
    position: absolute;
    right: 1px;
    top: -5px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#caurousel_competitive_projects .slick-next::before {
    content: "\f105";
    margin-left: 3px;
    height: 100%;
}

#caurousel_competitive_projects .slick-prev::before {
    content: "\f104";
    margin-left: 3px;
    height: 100%;
}


#caurousel_competitive_projects .slick-arrow::before {
    font-family: 'FontAwesome';
    font-size: 15px;
    font-weight: bold;
    opacity: 1;
    line-height: 1.5;
}

#caurousel_competitive_projects .slick-prev {
    right: 30px;
    left: auto;
}

/* the slides */
#caurousel_competitive_projects .slick-slide {
    margin: 0 10px;
}

/* the parent */
#caurousel_competitive_projects .slick-list {
    margin: 0 -10px;
}

.nearby_project_item_content p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Content modal add competitive projects */

#modal_add_competitive_project label {
    margin-bottom: 5px;
}

.page-item.disabled .page-link {
    border: 1px solid #BABFC7;
    color: #1E9FF2;
}

#tableProjectNearby_paginate {
    margin-top: 20px;
}

.content-right-info-project .m_grid--list_project {
    /*height: 320px;*/
    overflow-y: auto;
}

.content-right-info-project .uni_text_black {
    font-weight: 400;
}

.content-right-info-project i {
    color: #51c471;
}

.uni-reddish {
    color: #e94c4c;
    margin-left: 3px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: unset;
    box-shadow: none;
}

.leaflet-popup-close-button {
    display: none;
}


.m_grid--list_project .item {
    border: 0px;
    margin-top: -12px;
    background-color: unset;
}

.m_grid--list_project .item .content .details .title {
    padding-left: 7px;
    font-weight: 300;
}

.uni_text_51c471 {
    vertical-align: middle;
}

.la-user-circle {
    font-size: 14px;
}

.uni-ocean-blue {
    font-size: 13px;
}

.text-606060 {
    color: #606060;
    font-size: 13px;
}

.text-606060 i {
    color: #606060;
    font-size: 11px;
}

.text-0068b9 {
    color: #0068b9 !important;

}


#map {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
}

/********* UPLOAD : BEGIN **************/
.m_drag-images {
    position: relative;
    min-height: 236px;
}

.m_drag-images .input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.m_drag-images .text {
    position: absolute;
    background-color: #ebebeb;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.m_drag-images .text span {
    color: #6d6d6d;
    font-style: italic;
    font-weight: 300;
    margin-top: 13px;
}

.m_drag-images .text i {
    color: #6d30ab;
    font-size: 23px;
    width: 65px;
    height: 65px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.m_drag-images .text i:after {
    position: absolute;
    content: '';
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 50%;
    top: 6px;
    left: 6px;
    border: 1px solid #6d30ab;
}

.m_drag-images.circle {
    position: relative;
    height: 100%;
    min-height: auto;
    padding-top: 100%;
    margin: 0 auto;
}

.m_drag-images.circle .text {
    position: absolute;
    background-color: #ebebeb;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
}

.m_drag-images.circle .text span {
    text-align: center;
}

.m_drag-images.circle .input {
    border-radius: 50%;
}

.m_drag-images.circle i {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 30px;
    font-size: 23px;
}

/*# sourceMappingURL=m_drag-images.css.map */
/********* UPLOAD : BEGIN **************/

.m_margin-3 {
    margin: 3px;
}

.m_bor-r-60 {
    border-radius: 60px;
}

/***
Doing
 */
.legal_progress__1 {
    background-color: #e44111;
}

/*Finished*/
.legal_progress__2 {
    background-color: #4eb8db;
}

/*New*/
.legal_progress__3 {
    background-color: #dbdbdb;
}

.m_cursor-pointer {
    cursor: pointer;
}

.m_capital_structure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 575px) {
    .m_capital_structure {
        flex-direction: column;
    }
}

.m_capital_structure .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto" !important;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
}

.m_capital_structure .title::before {
    position: absolute;
    content: "\f24e";
    font-family: 'Line Awesome Free';
    font-size: 17px;
    color: #333333;
    left: 0;
}

.m_capital_structure .item {
    width: calc(50% - 12px);
    padding: 14px 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
}

@media (max-width: 575px) {
    .m_capital_structure .item {
        width: 100%;
    }

    .m_capital_structure .item:nth-child(3) {
        margin-bottom: 24px;
    }
}

.m_capital_structure .item:nth-child(1), .m_capital_structure .item:nth-child(2) {
    margin-bottom: 24px;
}

.m_capital_structure .list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 25px;
    /*max-height: 125px;*/
    overflow-y: auto;
}

.m_capital_structure .list::-webkit-scrollbar {
    width: 7px;
}

.m_capital_structure .list::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    outline: 1px solid #dbdbdb;
    border-radius: 5px;
}

.m_capital_structure .list li:not(:last-child) {
    margin-bottom: 6px;
}

.m_capital_structure .list a {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}

.m_capital_structure .list a:hover, .m_capital_structure .list a.active {
    color: #ca3f3f;
}

.m_capital_structure .m_btn-success {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b8a3e;
}

.m_capital_structure .m_btn-success i {
    font-size: 14px;
    color: #fff;
}

.m_capital_structure .m_btn-primary {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0068b9;
}

.m_capital_structure .m_btn-primary i {
    font-size: 14px;
    color: #fff;
}

.m_capital_structure .m_btn-danger {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ca3f3f;
}

.m_capital_structure .m_btn-danger i {
    font-size: 14px;
    color: #fff;
}

.m_capital_structure .item {
    height: 150px;
    overflow-y: scroll;
}

/*.steps ul li a {
    color: #2b8a3e !important;
}*/

.m_table {
    max-height: inherit;
}

.m_table th, .m_table td {
    white-space: inherit;
}

/*# sourceMappingURL=m_capital_structure.css.map */

#container__group-progress .progress {
    border-radius: unset;
}

.m_table td {
    padding: .6rem;
}

.btn-approved {
    background-color: #4a3bcc;
    color: #FFFFFF;
    padding: 9px 30px !important;
    border-radius: 0 !important;
    font-size: 14px;
    cursor: pointer;
    float: right;
}

.m_btn-approved {
    background-color: #4a3bcc;
    border: 1px solid #4a3bcc;
    padding: 6px 30px !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
}

.btn-cancel {
    border: 1px solid #d8d8d8;
    background-color: #FFFFFF;
    padding: 8px 30px !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #e94c4c;
    cursor: pointer;
    float: right;
}

.m_next{
    background-color: #6d30ab;
    border: 1px solid #6d30ab;
    padding: 6px 30px !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
}
.m_back{
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    padding: 6px 30px !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #6d6d6d;
    cursor: pointer;
    float: right;
}

.m_scroll {
    max-height: 310px;
    overflow-y: auto;
}

.none-border {
    border-top: none !important;
    border-bottom: none !important;
}
.btn-approved {
    background-color: #4a3bcc !important;
    border: 1px solid #4a3bcc;
    padding: 9px 30px !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
}

.btn-cancel-approved{
    background-color: #db3f3f;
    border:1px solid #db3f3f;
    padding: 9px 30px !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
}

.btn-callback{
    border:1px solid #ebebeb;
    background-color: #ebebeb;
    color: #db3f3f;
    padding: 9px 25px !important;
}
.btn-callback:hover{
    color: #db3f3f;
}
.btn-step {
    color: #fcfcfc;
    font-weight: 500;
    letter-spacing: normal;
    float: right;
    padding: 9px 25px !important;
}