.content-document{
  font-size: 13px;
}

.priority_type_1 {
    color: #2b8a3e;
}

.priority_type_2 {
    color: #f29f05;
}

.priority_type_3 {
    color: #ca3f3f;
}

.priority_type_4 {
    color: #ca3f3f;
}
.m_table{

  overflow-y: hidden !important;
}

.m_db_legal_project {
  max-height: 420px;
  overflow-y: auto; }
  .m_db_legal_project::-webkit-scrollbar {
    width: 10px; }
  .m_db_legal_project::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    outline: 1px solid #dbdbdb;
    border-radius: 5px; }
  .m_db_legal_project .item {
    display: flex;
    margin-bottom: 18px;
    padding-right: 8px; }
    @media (max-width: 375px) {
      .m_db_legal_project .item {
        display: flex;
        flex-direction: column; } }
    .m_db_legal_project .item p {
      margin: 0; }
  .m_db_legal_project .content {
    flex: 1;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px; }
    .m_db_legal_project .content .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0; }
      @media (max-width: 575px) {
        .m_db_legal_project .content .heading {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start; } }
      .m_db_legal_project .content .heading .title {
        font-size: 16px;
        font-weight: 500;
        color: #000000; }
      .m_db_legal_project .content .heading .date {
        color: #999999;
        font-size: 10px; }
    .m_db_legal_project .content .name {
      display: block;
      font-size: 13px;
      font-weight: normal;
      color: #38b6ac;
      padding-top: 3px; }
      .m_db_legal_project .content .name .text {
        font-style: normal;
        color: #6d6d6d; }
    .m_db_legal_project .content .responsibility {
      padding-top: 3px;
      padding-bottom: 8px; }
      @media (max-width: 575px) {
        .m_db_legal_project .content .responsibility {
          display: flex;
          flex-direction: column; } }
      .m_db_legal_project .content .responsibility .text {
        color: #6d6d6d;
        font-style: normal; }
      .m_db_legal_project .content .responsibility .las {
        color: #51c471;
        font-size: 13px; }
      .m_db_legal_project .content .responsibility .updater {
        color: #67a0f5;
        font-size: 13px;
        padding-right: 18px;
        margin-right: 18px;
        position: relative; }
        .m_db_legal_project .content .responsibility .updater::before {
          position: absolute;
          content: '';
          height: 16px;
          width: 1px;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          background-color: #dddd; }
          @media (max-width: 575px) {
            .m_db_legal_project .content .responsibility .updater::before {
              display: none; } }
      .m_db_legal_project .content .responsibility .assigned {
        color: #000000;
        font-size: 12px; }
    .m_db_legal_project .content .docs > div {
      margin-bottom: 8px; }
  .m_db_legal_project.activity .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px; }
  .m_db_legal_project.activity .docs {
    display: flex;
    flex-wrap: wrap; }
    .m_db_legal_project.activity .docs .child {
      flex: 33.3%; }
      @media (max-width: 768px) {
        .m_db_legal_project.activity .docs .child {
          flex: 50%; } }
      @media (max-width: 575px) {
        .m_db_legal_project.activity .docs .child {
          flex: 100%; } }
  .m_db_legal_project.notification .content {
    padding-bottom: 10px; }
    .m_db_legal_project.notification .content .heading .title {
      font-size: 14px; }
    .m_db_legal_project.notification .content .responsibility .text {
      font-style: italic; }
    .m_db_legal_project.notification .content .responsibility .updater {
      color: #000000; }
  .m_db_legal_project.notification .noti-heading {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px; }
  .m_db_legal_project.notification .times {
    margin-right: 18px; }
    .m_db_legal_project.notification .times .text {
      color: #fff;
      border-radius: 3px;
      font-size: 10px;
      padding: 2px 5px;
      text-align: center; }
    .m_db_legal_project.notification .times .before {
      color: #999999;
      font-size: 10px;
      margin-top: 4px;
      display: block; }
  .m_db_legal_project.notification .bg-danger {
    background-color: #e94c4c; }
  .m_db_legal_project.notification .bg-warning {
    background-color: #fb9334; }
  .m_db_legal_project.notification .bg-success {
    background-color: #399b54; }

/*# sourceMappingURL=m_db_legal_project.css.map */
