
.status_1 {
    color: #399b54 !important;
}

.status_2 {
    color: #ffab2e !important;
}

.status_3 {
    color: #dc3545 !important;
}

.status_4 {
    color: #6c757d !important;
}

.layout-px-spacing {
    min-height: auto !important;
}

.wrapper {
    position: relative;
    left: 50%;
    width: 1000px;
    height: 600px;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chat-system .dropdown-toggle::after {
    display: none;
}

.chat-system {
    display: flex;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.chat-system .hamburger {
    display: none;
}

.chat-system .user-list-box {
    /* width: 30%;
    max-width: 400px;
    min-width: 310px; */
    width: 370px;
    border-right: 1px solid #ebedf2;
    border-bottom-left-radius: 6px;
    background: #fff;
    border-top-left-radius: 6px;
    display: flex;
    flex-direction: column;
}

/* .chat-system .user-list-box .tab-content::-webkit-scrollbar {
width: 7px;
}

.chat-system .user-list-box .tab-content::-webkit-scrollbar-thumb {
background-color: #dbdbdb;
outline: 1px solid #dbdbdb;
} */

.chat-system .user-list-box .tab-content {
    flex: 1;
    /* overflow-y: auto; */
}

.chat-system .user-list-box .tabs-action {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    padding: 19px 0;
    padding-bottom: 18px;
    box-shadow: 0 -3px 10px 0 rgba(38, 38, 38, 0.09);
    border: none;
}

.chat-system .user-list-box .tabs-action li {
    flex: 1;
    text-align: center;
}

.chat-system .user-list-box .tabs-action .nav-link {
    border: none;
    padding: 0;
}

.chat-system .user-list-box .tabs-action li i:hover,
.chat-system .user-list-box .tabs-action .nav-link.active i {
    color: #6d30ab;
}

.chat-system .user-list-box .tabs-action li i {
    color: #999999;
    font-size: 30px;
}

.chat-system .user-list-box .tabs-action li.active i {
    color: #6d30ab;
    font-size: 30px;
}

.chat-system .user-list-box .search {
    position: relative;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
    height: 60px;
}

.chat-system .user-list-box .search svg {
    content: "\f169";
    position: absolute;
    color: #acb0c3;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 30px;
}

.chat-system .user-list-box input {
    font-size: 16px;
    width: 100%;
    color: #6d6d6d;
    border: 0;
    outline: none;
    font-style: italic;
    font-weight: 300;
    padding-left: 0;
    outline: none;
    box-shadow: none;
}

.chat-system .user-list-box .people {
    padding: 0;
    position: relative;
    margin: auto;
    flex: 1;
    /* overflow-y: auto !important; */
}

.chat-system .user-list-box .people .on-searchHeading{
    background-color: #ebebeb;
    font-size: 16px;
    padding: 7px 20px;
    padding-top: 9px;
    color: #6d6d6d;
}

.chat-system .user-list-box .people .person {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
}

.chat-system .user-list-box .people .person::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    right: 0;
    bottom: 0;
    background-color: #e0e6ed;
}

.chat-system .user-list-box .people .person:hover,.chat-system .user-list-box .people .person.active {
    background-color: rgba(238, 238, 238, 0.5);
}

.chat-system .user-list-box .people .person.border-none {
    border-bottom: none;
}

.person {
    display: inline-block;
}

.chat-system .user-list-box .people .person .user-info {
    display: flex;
    align-items: center;
    padding-left: 17px;
    position: relative;
}

.chat-system .user-list-box .people .person .user-info .close-user{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #999999;
    font-size: 20px;
}

.chat-system .user-list-box .people .person .user-info .f-status {

    font-family: FontAwesome;
    font-size: 8px;

    /* width: 8px;
height: 8px;
border-radius: 50%;
background-color: #999999; */

    color: #999999;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.chat-system .user-list-box .people .person .user-info .f-head {
    margin-right: 13px;
}

.chat-system .user-list-box .people .person .user-info .f-head figure {
    width: 45px;
    height: 45px;
    position: relative;
    overflow: hidden;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
}

.chat-system .user-list-box .people .person .user-info .f-head img {
    width: 100%;
}

.chat-system .user-list-box .people .person .user-info .f-body {
    width: 100%;
}

.chat-system .user-list-box .people .person .user-info .f-body .meta-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-system .user-list-box .people .person .user-info .f-body .meta-mes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-system .user-list-box .people .person .user-info .f-body .meta-info .user-name {
    font-size: 14px;
    color: #3b3f5c;
    font-weight: 700;
    max-width: 200px;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media(max-width:480px){
    .chat-system .user-list-box .people .person .user-info .f-body .meta-info .user-name{
        max-width: 120px;
    }
}
.chat-system .user-list-box .people .person .user-info .f-body .meta-info .icon-read {
    font-size: 14px;
    color: #6d30ab;
    padding-left: 5px;
}

.chat-system .user-list-box .people .person .user-info .f-body .meta-info .user-meta-time {
    font-size: 12px;
    top: 16px;
    right: 11px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
}

.chat-system .user-list-box .people .person .user-info .f-body .number {
    border: solid 1px #6d30ab;
    background-color: #6d30ab;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding: 1px 3px;
    display: none;
}

.chat-system .user-list-box .people .person .user-info .f-body .preview {
    font-size: 13px;
    color: #6d6d6d;
    text-align: left;
    font-weight: 300;
    font-style: italic;
    max-width: 225px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media(max-width:480px){
    .chat-system .user-list-box .people .person .user-info .f-body .preview{
        max-width: 130px;
    }
}

.chat-system .user-list-box .people .person .user-info .f-body .preview.text-overflow {
    /* height: 21px; */
    overflow: hidden;
    /* padding-right: 1em; */
    position: relative;
}

.chat-system .user-list-box .people .person .user-info .f-body .preview.text-overflow::before {
    content: '...';
    position: absolute;
    right: 4px;
    bottom: 0;
}

.chat-system .user-list-box .people .person .user-info .f-body .preview i {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.chat-system .user-list-box .people .person:hover .user-info .f-head img {
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}

.chat-system .user-list-box .people .person.active:after,
.chat-system .user-list-box .people .person:hover:after {
    display: none;
}

.chat-system .user-list-box .people .has-message .user-info .f-body .preview {
    color: #191919;
    font-style: normal;
    font-weight: 500;
    margin-right: 5px;
}

.chat-system .user-list-box .people .has-message .user-info .f-body .number {
    display: block;
}

.chat-system .user-list-box .on-searchUser,.chat-system .user-list-box .on-searchMess{
    display: none;
}

/* .chat-system .user-list-box .on-searchUser.active,.chat-system .user-list-box .on-searchMess.active{
    display: block;
} */

.chat-system .chat-box {
    position: relative;
    width: calc(100% - 370px);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    height: 80vh;
    flex: 1;
}

.chat-system .chat-box.hide {
    display: none;
}

.chat-system .chat-box .chat-not-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 217px);
}

.chat-system .chat-box .chat-not-selected p {
    align-self: center;
    font-size: 18px;
    color: #3b3f5c;
    margin-bottom: 0;
    font-weight: 600;
    background: #bfc9d4;
    padding: 7px 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
}

.chat-system .chat-box .chat-not-selected p svg {
    vertical-align: middle;
    color: #888ea8;
}

.chat-system .chat-box .overlay-phone-call.phone-call-show {
    display: block;
    opacity: 1;
}

.chat-system .chat-box .overlay-phone-call>div .calling-user-info {
    padding: 20px 16px;
}

.chat-system .chat-box .overlay-phone-call>div .calling-user-info svg {
    font-size: 28px;
    margin-right: 12px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
}

.chat-system .chat-box .overlay-phone-call>div .calling-user-info .user-name {
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    margin-right: 8px;
}

.chat-system .chat-box .overlay-phone-call>div .calling-user-info .call-status {
    vertical-align: sub;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}

.chat-system .chat-box .overlay-phone-call>div .calling-user-img {
    text-align: center;
}

.chat-system .chat-box .overlay-phone-call>div .calling-user-img img {
    border-radius: 50%;
    border: 4px solid #ebedf2;
}

.chat-system .chat-box .overlay-phone-call>div .calling-user-img .timer {
    visibility: hidden;
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px;
    color: #fff;
}

.chat-system .chat-box .overlay-phone-call>div .calling-user-img .timer .minutes {
    color: #ffffff;
}

.chat-system .chat-box .overlay-phone-call>div .calling-user-img .timer .seconds {
    color: #ffffff;
}

.chat-system .chat-box .overlay-phone-call>div .calling-options {
    text-align: center;
}

.chat-system .chat-box .overlay-phone-call>div .calling-options svg {
    font-size: 25px;
    border-radius: 50%;
    padding: 11px;
    background: #2196f3;
    margin-bottom: 23px;
    color: #fff;
    cursor: pointer;
    width: 48px;
    height: 46px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.chat-system .chat-box .overlay-phone-call>div .calling-options svg:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
}

.chat-system .chat-box .overlay-phone-call>div .calling-options svg:not(:last-child) {
    margin-right: 7px;
}

.chat-system .chat-box .overlay-phone-call>div .calling-options svg.switch-to-microphone {
    position: relative;
}

.chat-system .chat-box .overlay-phone-call>div .calling-options svg.switch-to-microphone.micro-off:after {
    content: '';
    height: 35px;
    width: 2px;
    background: #fff;
    position: absolute;
    left: 20px;
    top: 6px;
}

.chat-system .chat-box .overlay-phone-call>div .calling-options svg.cancel-call {
    background-color: #e7515a;
}

.chat-system .chat-box .overlay-video-call.video-call-show {
    display: block;
    opacity: 1;
}

.chat-system .chat-box .overlay-video-call .video-caller {
    position: absolute;
    height: 112px;
    width: 173px;
    bottom: 8px;
    right: 8px;
}

.chat-system .chat-box .overlay-video-call>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.chat-system .chat-box .overlay-video-call>div .calling-user-info {
    padding: 20px 16px;
}

.chat-system .chat-box .overlay-video-call>div .calling-user-info svg {
    font-size: 28px;
    margin-right: 12px;
    color: #fff;
    cursor: pointer;
}

.chat-system .chat-box .overlay-video-call>div .calling-user-info .user-name {
    font-size: 20px;
    color: #fff;
    margin-right: 8px;
}

.chat-system .chat-box .overlay-video-call>div .calling-user-info .call-status {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    margin-top: 10px;
}

.chat-system .chat-box .overlay-video-call>div .calling-user-info .timer {
    visibility: hidden;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.chat-system .chat-box .overlay-video-call>div .calling-user-info .timer .minutes {
    margin-bottom: 0;
    color: #ffffff;
}

.chat-system .chat-box .overlay-video-call>div .calling-user-info .timer .seconds {
    margin-bottom: 0;
    color: #ffffff;
}

.chat-system .chat-box .overlay-video-call>div .calling-user-img {
    text-align: center;
}

.chat-system .chat-box .overlay-video-call>div .calling-user-img img {
    border-radius: 50%;
    border: 4px solid #ebedf2;
}

.chat-system .chat-box .overlay-video-call>div .calling-options {
    text-align: center;
}

.chat-system .chat-box .overlay-video-call>div .calling-options svg {
    border-radius: 50%;
    padding: 10px;
    background: #2196f3;
    margin-bottom: 23px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    width: 47px;
    height: 48px;
}

.chat-system .chat-box .overlay-video-call>div .calling-options svg:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
}

.chat-system .chat-box .overlay-video-call>div .calling-options svg:not(:last-child) {
    margin-right: 7px;
}

.chat-system .chat-box .overlay-video-call>div .calling-options svg.switch-to-phone-call {}

.chat-system .chat-box .overlay-video-call>div .calling-options svg.switch-to-microphone {
    position: relative;
}

.chat-system .chat-box .overlay-video-call>div .calling-options svg.switch-to-microphone.micro-off:after {
    content: '';
    height: 35px;
    width: 2px;
    background: #fff;
    position: absolute;
    transform: rotate(46deg);
    left: 20px;
    top: 6px;
}

.chat-system .chat-box .chat-box-inner {
    display: flex;
    flex-wrap: wrap;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user {
    display: none;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #d5d5d5;
    height: 60px;
    padding: 0 20px;
}

@media(max-width:991px) {
    .chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active {
        padding-right: 70px;
    }
}

.chat-system .chat-box .chat-box-inner .chat-meta-user .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user .icon-search {
    margin-right: 5px;
    background-color: transparent;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user .icon-search.active {
    background-color: #ebebeb;
    margin-right: 15px;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user .icon {
    font-size: 20px;
    cursor: pointer;
    color: #999999;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user .icon.active {
    color: #6d30ab;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user .current-chat-user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user .current-chat-user-name .status {
    font-size: 12px;
    font-weight: normal;
    display: block;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user .current-chat-user-name .name {
    color: #191919;
    font-size: 18px;
    font-weight: 500;
    max-width: 50%;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active .chat-action-btn svg {
    cursor: pointer;
    color: #888ea8;
    margin-right: 6px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: rgba(0, 23, 55, 0.08);
}

.chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active .chat-action-btn svg:hover {
    color: #1b55e2;
    fill: rgba(27, 85, 226, 0.23921568627450981);
}

.chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active .chat-action-btn svg:not(:last-child) {
    margin-right: 9px;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active .chat-action-btn .dropdown-menu {
    box-shadow: rgba(113, 106, 202, 0.2) 0px 0px 15px 1px;
    top: 15px !important;
    padding: 10px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active .chat-action-btn .dropdown-menu a {
    font-size: 12px;
    font-weight: 700;
    color: #888ea8;
    padding: 11px 8px;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active .chat-action-btn .dropdown-menu a svg {
    color: #888ea8;
    margin-right: 6px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: rgba(0, 23, 55, 0.08);
}

.chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active .chat-action-btn .dropdown-menu a.dropdown-item.active,
.chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active .chat-action-btn .dropdown-menu a.dropdown-item:active {
    background-color: transparent;
}

.chat-system .chat-box .chat-box-inner .chat-meta-user.chat-active .chat-action-btn .dropdown-menu a:hover svg {
    color: #1b55e2;
    fill: rgba(27, 85, 226, 0.23921568627450981);
}

.chat-box-center {
    width: 100%;
    height: calc(100% - 59px);
    display: flex;
}

@media(max-width:480px){
    .chat-box-center{
        overflow-x:auto ;
    }
}
.chat-system .chat-box .chat-box-inner .chat-conversation-box {
    overflow-y: auto;
    height: calc(100% - 69px);
}

.chat-system .chat-conversation {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}
.chat-system .chat-conversation.active {
   width:80%
}

.chat-system .chat-conversation .load_to_end{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
    background: #6d30ab;
    right: 25px;
    bottom: 90px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
    display: none;
}


.chat-system .chat-conversation-box::-webkit-scrollbar {
    width: 7px;
}

.chat-system .chat-conversation-box::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    outline: 1px solid #dbdbdb;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat {
    position: relative;
    display: none;
    overflow: hidden;
    padding: 20px 25px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat {
    display: block;
    display: -webkit-flex;
    display: flex;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble {
    -moz-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -o-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble:nth-of-type(1) {
    -moz-animation-duration: 0.15s;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble:nth-of-type(2) {
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble:nth-of-type(3) {
    -moz-animation-duration: 0.45s;
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble:nth-of-type(4) {
    -moz-animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble:nth-of-type(5) {
    -moz-animation-duration: 0.75s;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble:nth-of-type(6) {
    -moz-animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble:nth-of-type(7) {
    -moz-animation-duration: 1.05s;
    -webkit-animation-duration: 1.05s;
    animation-duration: 1.05s;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble:nth-of-type(8) {
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble:nth-of-type(9) {
    -moz-animation-duration: 1.35s;
    -webkit-animation-duration: 1.35s;
    animation-duration: 1.35s;
}

.chat-system .chat-box .chat-box-inner .chat-conversation-box .chat.active-chat .bubble:nth-of-type(10) {
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.chat-system .chat-box .chat-uploads {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.chat-system .chat-box .chat-uploads li {
    margin: 0 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.chat-system .chat-box .chat-uploads li input {
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    left: 0;
    top: 0;
}

.chat-system .chat-box .chat-uploads li.btn_send {
    border: solid 1px #6d30ab;
    background-color: #6d30ab;
    margin-right: 0;
    width: 40px;
    justify-content: center;
    height: 100%;
}

.chat-system .chat-box .chat-uploads li i {
    font-size: 20px;
    color: #999999;
}

.chat-system .chat-box .chat-footer {
    display: none;
}

.chat-load--file {
    background-color: #fff;
    width: 100%;
    min-height: 50px;
    max-height: 250px;
    z-index: 1;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .10);
    border-bottom: 1px solid #ddd;
    overflow-x: auto;

}

.chat-load--file .list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.chat-load--file .list:empty {
    display: none;
}

.chat-load--file .list:empty .chat-load--file {
    display: none;
}

.chat-load--file .icon-close--all {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0;
    top: -15px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border: 1px solid #fff;
}

.chat-load--file .item {
    display: flex;
    position: relative;
    margin: 0 5px;
    margin-bottom: 5px;
}

.chat-load--file .item.file {
    border-radius: 16px;
    overflow: hidden;
    height: 37px;
    width: 250px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
}

.chat-load--file .item.img {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
}

.chat-load--file .item.img img {
    width: 100%;
    height: 100%;
}

.chat-load--file .item.file .text {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-left: 10px;
}

.chat-load--file .item.file .name {
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 175px;
}

.chat-load--file .item.file .type {
    font-weight: 500;
}

.chat-load--file .item.file .icon-file {
    background-color: rgb(0, 132, 255);
    height: 60px;
    width: 60px;
    color: #fff;
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

.chat-load--file .item .icon-close {
    height: 18px;
    width: 18px;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border: 1px solid #fff;
}


/* .chat-system .chat-box .chat-footer.chat-active {
    display: block;
    background: #fff;
    border-bottom-right-radius: 6px;
    border-top: 1px solid #d5d5d5;
    position: relative;
} */
.chat-system .chat-box .chat-footer.chat-active {
    display: block;
    background: #fff;
    border-bottom-right-radius: 6px;
    border-top: 1px solid #d5d5d5;
    position: relative;
}

.chat-system .chat-box .chat-input {
    position: relative;
    padding: 14px 24px;
    background-color: #ffffff;
}

.chat-system .chat-box .chat-form {
    border: solid 1px #d8d8d8;
    background-color: #ffffff;
    border-radius: 0;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.chat-system .chat-box .chat-input svg {
    position: absolute;
    color: #888ea8;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: rgba(0, 23, 55, 0.08);
}

.chat-system .chat-box .chat-input input {
    font-size: 16px;
    width: 100%;
    color: #999999;
    font-size: 14px;
    font-weight: 300;
    border: 0;
    outline: none;
    padding: 12px 16px 12px 0;
    height: 100%;
    font-style: italic;
    padding-left: 12px;
    box-shadow: none;
}

.chat-system .chat-box .chat-input input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #888ea8;
}

.chat-system .chat-box .chat-input input::-moz-placeholder {
    /* Firefox 19+ */
    color: #888ea8;
}

.chat-system .chat-box .chat-input input:-ms-input-placeholder {
    /* IE 10+ */
    color: #888ea8;
}

.chat-system .chat-box .chat-input input:-moz-placeholder {
    /* Firefox 18- */
    color: #888ea8;
}

.chat-system .chat-box .bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 9px 18px;
    padding-left: 0;
    vertical-align: top;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    word-break: break-word;
    max-width: 370px;
}

.chat-system .chat-box .bubble {
    display: flex;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.chat-system .chat-box .bubble .box {
    display: flex;
    flex-direction: column;
    width: calc(100% - 55px);
}

.chat-system .chat-box .bubble .list-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1;
}

.chat-system .chat-box .bubble .list-media .item {
    width: 48%;
    margin: 2px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    height: 80px;
    min-width: 70px
}
.chat-system .chat-box .bubble .list-media .item.file {
    width: 100%;
    height: auto;
    border: none;
}

.chat-system .chat-box .bubble .video video{
    height: 300px;
}

.chat-system .chat-box .bubble .video{
    position: relative;
}

.chat-system .chat-box .bubble .video::before{
    position: absolute;
    content: "\f144";
    font-weight: 900;
    font-size: 40px;
    font-family: 'Line Awesome Free';
    top: 50%;
    color: #212529;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.chat-system .chat-box .bubble .box_images.me  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1;
}
.chat-system .chat-box .bubble .box_images.you {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    flex: 1;
}


.chat-system .chat-box .bubble .box_images .item.img {
    flex: 0 0 23.5%;
    margin: 2px;
    border-radius: 5px;
    overflow: hidden;
    border:1px solid #ddd;
    display: flex;
    align-items: center;
    height: 80px;    
    min-width: 74px;
}
.chat-system .chat-box .bubble .box_images .item.file {
    margin: 2px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    height: 60px;
    width: 250px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    position: relative;
}

.chat-system .chat-box .bubble .box_images .item.file a{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.chat-system .chat-box .bubble .box_images .item.file .icon-file {
    background-color: rgb(0, 132, 255);
    height: 60px;
    width: 60px;
    color: #fff;
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

.chat-system .chat-box .bubble .box_images .item.file .type {
    font-weight: 500;
}

.chat-system .chat-box .bubble .box_images .item.file .name {
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 175px;
}

.chat-system .chat-box .bubble .box_images .text {
    background-color: #fff !important;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    min-width: auto;
}

.chat-system .chat-box .bubble .box_images figure {
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-system .chat-box .bubble .box_images figure img {
    max-height: 100%;
    max-width: 100%;
}

.chat-system .chat-box .bubble .box_images .icon-close {
    display: none;
}

.chat-system .chat-box .bubble .time {
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    margin-top: 6px;
}

.chat-system .chat-box .bubble .image {
    width: 45px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    background-color: #ddd;
}

.chat-system .chat-box .bubble .name {
    display: block;
    font-weight: 500;
    color: #000;
}

.chat-system .chat-box .bubble .text {
    padding: 10px 10px 10px 15px;
    border-radius: 4px;
    width: 100%;
    min-width: 250px;
    position: relative;
    font-size: 12px;
}

.chat-system .chat-box .bubble.you .text {
    color: #191919;
    background-color: #eaf3ff;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -moz-animation-name: slideFromLeft;
    -webkit-animation-name: slideFromLeft;
    animation-name: slideFromLeft;
    text-align: left;

}

.chat-system .chat-box .bubble.you .time {
    text-align: right;
}

.chat-system .chat-box .bubble.me {
    float: right;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    padding-right: 0;
    justify-content: flex-end;
}

.chat-system .chat-box .bubble.me .text {
    color: #6d6d6d;
    background-color: #edffe8;
    -moz-animation-name: slideFromRight;
    -webkit-animation-name: slideFromRight;
    animation-name: slideFromRight;
    text-align: right;
}

.chat-system .chat-box .bubble.me .icon-file {
    font-size: 16px;
}

.chat-system .chat-box .bubble.me .time {
    text-align: right;
}

.chat-system .chat-box .bubble.me .image {
    order: 2;
    margin-left: 10px;
    margin-right: 0;
}

.chat-system .chat-box .bubble.me:before {
    right: -3px;
}

.chat-system .chat-box .conversation-time {
    position: relative;
    font-size: 12px;
    color: #191919;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.chat-system .chat-box .conversation-time::before {
    position: absolute;
    content: '';
    background-color: #d5d5d5;
    max-width: 15vw;
    width: 100%;
    top: 0;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.chat-system .chat-info {
    width: 0;
    opacity: 0;
    border-left: 1px solid #d5d5d5;
    overflow-y: auto;
    transition: opacity 0.3s ease-in-out;
    display: none;
}

.chat-system .chat-info.active {
    width: 265px;
    opacity: 1;
    max-height: 100%;
}

@media(max-width:767px) {
    .chat-system .chat-info.active {
        position: absolute;
        background: #fff;
        right: 0;
        max-height: calc(100% - 60px);
        top: 60px;
    }
    .chat-system .chat-info.active.scroll-content{
        top: 0;
    }

}

.chat-system .chat-info::-webkit-scrollbar {
    width: 7px;
}

.chat-system .chat-info::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    outline: 1px solid #dbdbdb;
}

.chat-system .chat-info .block {
    padding: 18px 20px;
    padding-bottom: 13px;
    padding-right: 16px;
    border-bottom: 1px solid #d5d5d5;
}

.chat-system .chat-info .block .collapse-item {
    padding: 0;
    padding-top: 5px;
}

.chat-system .chat-info .block .item {
    padding: 7px 0;
    margin: 0;
}

.chat-system .chat-info .block .collapse-menu {
    position: static;
    float: none;
    box-shadow: none;
    position: static !important;
    transform: none !important;
}

.chat-system .chat-info .block .collapse-toggle {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
}

.chat-system .chat-info .block .collapse-toggle i {
    color: #6d6d6d;
    font-size: 10px;
    padding-right: 5px;
}

.chat-system .chat-info .block_01.group .icon-camera {
    position: absolute;
    right: 10px;
    bottom: 7px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 50%;

}

.chat-system .chat-info .block_01.group .icon-camera .la-camera {
    font-size: 18px;
    cursor: pointer;
}


.chat-system .chat-info .block_01.group .name {
    display: flex;
    justify-content: center;
    position: relative;
}

.chat-system .chat-info .block_01.group .input_name {
    border: none;
    width: 100%;
    text-align: center;
    outline: none;
    display: none;
}

.chat-system .chat-info .block_01.group .show_name {
    display: block;
    margin: 0;
    width: calc(100% - 50px);

}

.chat-system .chat-info .block_01.group .name.active .input_name {
    border-bottom: 1px solid #d5d5d5;
    text-align: left;
    display: block;
    width: calc(100% - 50px);

}

.chat-system .chat-info .block_01.group .name.active .show_name {
    border-bottom: 1px solid #d5d5d5;
    text-align: left;
    display: none;

}

.chat-system .chat-info .block_01.group .la-pen {
    font-size: 18px;
    color: #191919;
    cursor: pointer;
    position: absolute;
    right: 0;
}


.chat-system .chat-info .block_01.group .icon-camera input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.chat-system .chat-info .block_01 {
    padding: 22px;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
}

.chat-system .chat-info .block_01 .avatar {
    width: 130px;
    height: 130px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
    overflow: hidden;
}

.chat-system .chat-info .block_01 .avatar .img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    border-radius: 50%;
    background: #ddd;
}

.chat-system .chat-info .block_01 .avatar .img img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.chat-system .chat-info .block_01 .name {
    color: #191919;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.chat-system .chat-info .block_01 .status {
    margin-bottom: 0;
}

.chat-system .chat-info .block_02 .text {
    color: #000;
}

.chat-system .chat-info .block_02 .item {
    position: relative;
    padding-left: 16px;
}

.chat-system .chat-info .block_02 .item::before {
    position: absolute;
    content: '';
    background-color: #6d30ab;
    width: 6px;
    height: 6px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.chat-system .chat-info .block_03 .item {
    display: flex;
    align-items: center;
}

.chat-system .chat-info .block_03 .item a {
    text-decoration: underline;
}

.chat-system .chat-info .block_03 .item .image {
    max-width: 15px;
    margin-right: 6px;
}

.chat-system .chat-info .block_03 .item .arrow {
    color: #999999;
    font-size: 20px;
}

.chat-system .chat-info .block_03 .item .image img {
    width: 100%;
}

.chat-system .chat-info .block_03 .readmore {
    margin-top: 13px;
    display: inline-block;
    text-decoration: underline;
}

.chat-system .chat-info .block_04 .collapse-toggle {
    margin-bottom: 12px;
}

.chat-system .chat-info .block_04 {
    margin-bottom: 15px;
}

.chat-system .chat-info .block_04 .video{
    height: 60px;
    overflow: hidden;
    position: relative;
}

.chat-system .chat-info .block_04 .video a{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-system .chat-info .block_04 .video:before {
    position: absolute;
    content: "\f144";
    font-weight: 900;
    font-size: 25px;
    font-family: 'Line Awesome Free';
    top: 50%;
    color: #212529;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}


.chat-system .chat-info .block_04 figure {
    display: flex;
    min-height: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background: rgba(221, 221, 221, 0.5);
    width: calc(50% - 4px);
    margin: 2px;
}
.chat-system .chat-info .block_04 figure img{
    height: -webkit-fill-available;
}
.chat-system .chat-info .block_04 .readmore {
    text-decoration: underline;
    margin-top: 15px;
    display: inline-block;
}

.chat-system .chat-info .block_05 .item {
    display: flex;
    align-items: center;
}

.chat-system .chat-info .block_05 .avatar {
    position: relative;
}

.chat-system .chat-info .block_05 .status {
    position: absolute;
    right: 10px;
    bottom: 0;
    font-size: 10px;
}

.chat-system .chat-info .block_05 .item .image {
    width: 36px;
    height: 36px;
    background-color: #ece5fc;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-system .chat-info .block_05 .item .image img {
    width: 100%;
}

.chat-system .chat-info .block_05 .item .name {
    color: #333333;
    font-size: 12px;
}

.chat-system .chat-info .block_05.group .delete {
    font-size: 12px;
    color: #6d6d6d;
    cursor: pointer;
}

.chat-system .chat-info .block_05.group .position {
   font-style: normal;
   color: #6d6d6d;
   font-size: 12px;
}

.chat-system .chat-info .block_05 .readmore {
    text-decoration: underline;
    color: #6d30ab;
    margin-top: 15px;
}

.chat-system .chat-info .block_05 .add-member {
    color: #6d30ab;
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: 8px;
    display: inline-block;
}

.chat-system .chat-info .block_05 .add-member i{
    font-size: 10px;
    padding-right: 8px;
}

.chat-system .chat-info .out-group{
    color: #6d6d6d;
    margin-right: 20px;
}

.chat-system .chat-info .out-group i{
    padding-left: 2px;
    font-size: 18px;
}


@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    100% {
        margin-left: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    100% {
        margin-left: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    100% {
        margin-right: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    100% {
        margin-right: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}

.credits {
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.credits a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1199px) {
    .chat-system .chat-box .overlay-video-call .video-caller {
        height: 68px;
        width: 68px;
    }

    .chat-info {
        position: absolute;
        right: 0;
        height: calc(100% - 60px);
        background: #fff;
    }

    .chat-system .user-list-box {
        /* min-width: 270px; */
    }
}

@media (max-width: 991px) {
    .chat-system .chat-box .overlay-video-call .video-caller {
        height: 67px;
        width: 83px;
    }

    .chat-system .chat-box {
        border-radius: 6px;
    }
}

@media (max-width: 991px) {
    .chat-system .user-list-box .search {
        padding: 11px 20px;
    }

    .chat-system .hamburger {
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: #fff;
        align-self: center;
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        z-index: 78;
        background-color: #515365;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

    .chat-system .user-list-box {
        position: absolute;
        z-index: 40;
        left: -100%;
        max-width: 100%;
        /* width: 255px; */
        transition: all 0.3s ease;
    }

    .chat-system .user-list-box.user-list-box-show {
        position: absolute;
        z-index: 34;
        left: 0;
        border-radius: 0;
        max-height: 100%;
    }

    .chat-system .chat-box {
        width: 100%;
    }

    .chat-system .chat-box .overlay-video-call .video-caller {
        height: 75px;
        width: 110px;
    }
}

@media (max-width: 575px) {
    .chat-system .chat-box .overlay-video-call .video-caller {
        bottom: 83px;
    }

    .chat-system .chat-box .conversation-time span:before,
    .chat-system .chat-box .conversation-time span:after {
        background-color: transparent;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    .chat-system .chat-box .overlay-phone-call,
    .chat-system .chat-box .overlay-video-call {
        background-image: none;
    }

    .chat-system .chat-box .overlay-video-call.onConnect {
        background-attachment: local;
    }
}

.chat-write-box:focus, .chat-write-box.active{
    font-style: normal !important;
    color: #333 !important  ;
}

.chat-images{
    display: none;
}

.chat-images.show{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: calc(100% - 370px);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    height: 80vh;
    flex: 1;
}

.chat-images--meta{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    border-top-right-radius: 6px;
    height: 60px;
    padding: 0 20px;
}

@media(max-width:991px){
    .chat-images--meta{
        padding-right: 70px;
    }
}

.chat-images--meta .nav-link{
    padding: 0 8px;
    color: #999999;
    font-size: 16px;
    position: relative;
}

.chat-images--meta .nav-link::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background-color: #ddd;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.chat-images--meta li:last-child .nav-link::before{
    display: none;
}

.chat-images--meta .nav-link.active,.chat-images--meta .nav-link:hover{
    color: #6d30ab;
}

.chat-images--center{
    margin-left: 30px;
    margin-right: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
}

.chat-images--center::-webkit-scrollbar {
    width: 7px;
}

.chat-images--center::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    outline: 1px solid #dbdbdb;
    border-radius: 15px;
} 

.chat-images--center .tab-content{
    overflow: hidden;
}

.chat-images--list-heading{
    background-color: #ebebeb;
    color: #6d6d6d;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.chat-images--list{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin-left: -5px;
}

.chat-images--list .img{
    display: flex;
    flex-wrap: wrap;
    /* width: calc(100% + 10px); */
    margin-left: -5px;

    background: #ddd;
    width: calc((100% / 5) - 10px);
    padding-top:calc((100% / 5) - 10px);
    margin: 5px;
    position: relative;
}

.chat-images--list .img figure{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-images--list .img img{
    max-width: 100%;
    max-height: -webkit-fill-available;
}
@media(max-width:1300px){
    .chat-images--list .img{
        width: calc((100% / 3) - 10px);
        padding-top: calc((100% / 3) - 10px);
    }
}

/* @media(max-width:991px){
    .chat-images--list .list .img{
        width: calc((100% / 3) - 10px);
        padding-top: calc((100% / 3) - 10px);
    }
} */

@media(max-width:480px){
    .chat-images--list .img{
        width: calc((100% / 2) - 10px);
        padding-top: calc((100% / 2) - 10px);
    }
}


.chat-images--list .img .overlay{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    opacity: 0;
    z-index: -1;
}
.chat-images--list .img:hover .overlay{
    z-index: 1;
    opacity: 1;
}

.chat-images--list .img .overlay .info{
    margin-top: auto;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.chat-images--list .img .overlay .info span{
    color: #ffffff;
    font-size: 12px;
    opacity: 0.8;
    display: block;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-images--list .img .overlay i{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.conversation-add-user{
    text-align: center;
}


#addNewChat .select2-selection__choice{
    border-radius: 4px !important;
    background-color: #eaf3ff !important;
    position: relative !important;
    padding-right: 30px !important;
    border-color: #eaf3ff !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 10px !important;
}
#addNewChat .select2-selection__choice__remove{
    background-color: #eaf3ff;
    border: 1px solid #999999;
    position: absolute;
    right: 5px;
    margin: 0;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 50%;
    font-style: normal;
}
.modal-center .modal-dialog {
    max-width: 500px;
    margin: 15% auto;
}
#addNewChat .select2-container--default .select2-search--inline .select2-search__field{
    margin: 0;
    font-style: italic;
}
#addNewChat .select2-selection--multiple{
    overflow: hidden !important;
    height: auto !important;
    border: solid 1px #d8d8d8;
    background-color: #fff;
    border-radius: 0;
    padding-left: 14px;
    font-size: 14px;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-style: italic;
}
#addNewChat .select2-selection__rendered{
    padding-left: 0;
}

.form-group-select input {
    border: solid 1px #d8d8d8;
    background-color: #fff;
    height: 40px;
    border-radius: 0;
    padding-left: 14px;
    font-size: 14px;
    color: #000;
}

.form-group-select input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic;
    font-weight: normal;
    font-weight: 300;
    color: #999999;
}

.form-group-select input::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    font-weight: normal;
    font-weight: 300;
    color: #999999;
}

.form-group-select input:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    font-weight: normal;
    font-weight: 300;
    color: #999999;
}

.form-group-select input:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    font-weight: normal;
    font-weight: 300;
    color: #999999;
}

.form-group-select select {
    position: relative;
}
.form-group-select select::before {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    font-style: normal;
    color: #6d6d6d;
}

.lb-outerContainer {
    height: 80vh !important;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 4px solid #fff;
}
.lightbox .lb-image{
    border:none
}
.ekko-lightbox-item img{
    width: 100%;
}


#addMember .select2-selection__choice{
    border-radius: 4px !important;
    background-color: #eaf3ff !important;
    position: relative !important;
    padding-right: 30px !important;
    border-color: #eaf3ff !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 10px !important;
}
#addMember .select2-selection__choice__remove{
    background-color: #eaf3ff;
    border: 1px solid #999999;
    position: absolute;
    right: 5px;
    margin: 0;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 50%;
    font-style: normal;
}

#addMember .select2-container--default .select2-search--inline .select2-search__field{
    margin: 0;
    font-style: italic;
}
#addMember .select2-selection--multiple{
    overflow: hidden !important;
    height: auto !important;
    border: solid 1px #d8d8d8;
    background-color: #fff;
    border-radius: 0;
    padding-left: 14px;
    font-size: 14px;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-style: italic;
}
#addMember .select2-selection__rendered{
    padding-left: 0;
}

#loading {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }