.m_heading--title {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.m_heading--title .sub-title {
    color: #999999;
    font-weight: 300;
    display: block;
    font-style: italic;
    font-size: 14px;
}

.shareholder .nav-tabs .nav-item {
    margin-bottom: -1px !important;
    flex: 1;
    border-bottom: none;
}

.shareholder .nav-tabs .nav-item:not(:last-child) {
    border-right: 1px solid #fff;
}

.shareholder .nav-tabs .nav-item.active {
    border-bottom: 0px;
    box-shadow: none;
}

.shareholder .nav-tabs .nav-item .nav-link.active {
    border-left: 2px solid #399b54;
    border-right: 2px solid #399b54;
    border-top: 2px solid #399b54;
    border-bottom: 1px solid #FFFFFF;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
}

.shareholder .nav-tabs .nav-item .nav-link {
    display: flex !important;
    justify-content: center;
    border-radius: 0;
    background-color: #ebebeb;

    color: #333333;
    font-size: 14px;
    background-color: #e0e0e0;
    color: #000000;
    font-weight: 600;
    border: none;
    height: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
}

.shareholder .tab-content th {
    font-size: 16px;
    font-weight: bold;
}

.shareholder .tab-content .form-control {
    width: 220px;
}

.shareholder .no_data {
    position: relative;
    max-width: 245px;
    margin: 80px auto;
}

.shareholder .no_data .image {
    width: 100%;
}

.shareholder .no_data .image img {
    width: 100%;
}

.shareholder .no_data .text {
    position: absolute;
    font-size: 18px;
    color: #6d6d6d;
    background-color: #ffffff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shareholder--item {
    border: solid 1px #d8d8d8;
    padding: 16px 16px 25px 16px;
    margin-bottom: 30px;
}

.shareholder--item .heading {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.shareholder--item .heading .image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: solid 1px #e7e7e7;
}

.shareholder--item .heading .title {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    flex: 1;
}

.shareholder--item .address {
    color: #6d6d6d;
    font-weight: 300;
    margin-bottom: 5px;
    font-style: italic;
}

.shareholder--item .list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.shareholder--item .list li {
    color: #6d6d6d;
    font-weight: normal;
}

.shareholder--item .list li:not(:last-child) {
    margin-bottom: 3px;
}

.shareholder--item .list li:last-child {
    padding-top: 13px;
    margin-top: 8px;
    position: relative;
}

.shareholder--item .list li:last-child::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 80px;
    background-color: #ddd;
    top: 0;
    left: 0;
}

.shareholder--item .list .number {
    color: #000000;
    padding-left: 5px;
}

.shareholder--item .list .icon {
    color: #51c471;
    font-size: 15px;
    padding-right: 5px;
}

.shareholder--item .label {
    color: #fff;
    font-size: 12px;
    padding: 7px 22px;
}

.shareholder--item .label.local {
    background-color: #a8c200
}

.shareholder--item .label.outside {
    background-color: #fb9334;
}

.color-367be3 {
    color: #367be3;
}

.color-6a31ae {
    color: #6a31ae;
}

/* check box  */

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox+label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: solid 1px #000000;
}

.styled-checkbox:hover+label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: #000000;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #000000, 4px 0 0 #000000, 4px -2px 0 #000000, 4px -4px 0 #000000, 4px -6px 0 #000000, 4px -8px 0 #000000;
    transform: rotate(45deg);
}

.styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled+label:before {
    box-shadow: none;
    background: #000000;
}

.styled-checkbox:checked+label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: #000000;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #000000, 4px 0 0 #000000, 4px -2px 0 #000000, 4px -4px 0 #000000, 4px -6px 0 #000000, 4px -8px 0 #000000;
    transform: rotate(45deg);
}

.shareholder .time_update {
    font-size: 12px;
    color: #333333;
}

.shareholder--list--item {
    border: solid 1px #d8d8d8;
    padding: 16px 16px 25px 16px;
    margin-bottom: 30px;
    height: 100%;
    
}
.shareholder--list--item .heading {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}
.shareholder--list--item .icon-ellipsis{
    position: absolute;
    right: 0;
}

.shareholder--list--item .address {
    color: #6d6d6d;
    font-weight: 300;
    margin-bottom: 6px;
    font-style: italic;
}

.shareholder--list--item .list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.shareholder--list--item.list li {
    color: #6d6d6d;
    font-weight: normal;
}

.shareholder--list--item .list li.hasLine {
    margin-bottom: 13px !important;
}

.shareholder--list--item .list li:not(:last-child){
    margin-bottom: 6px;
}

.shareholder--list--item .list .hasLine{
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

.shareholder--list--item .list .hasLine::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 80px;
    background-color: #ddd;
    bottom: 0;
    left: 0;
}

.shareholder--list--item .list .number {
    color: #000000;
    padding-left: 6px;
}

.shareholder--list--item .list .icon {
    color: #51c471;
    font-size: 15px;
    padding-right: 5px;
}

.shareholder--list--item .label {
    color: #fff;
    font-size: 12px;
    padding: 7px 22px;
}

.shareholder--list--item .label.local {
    background-color: #a8c200
}

.shareholder--list--item .label.outside {
    background-color: #fb9334;
}

.shareholder--list--item .image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: solid 1px #e7e7e7;
}

.shareholder--list--item .title {
    color: #000;
    flex: 1;
}

.shareholder--list--item .la-ellipsis-v {
    color: #000;
}



/* ///////////////// */
.js_checkbox{
    position: relative;
}
.js_checkbox::before{
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: solid 1px #000000;
}
.js_checkbox.active::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 10px;
    background: #000000;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #000000, 4px 0 0 #000000, 4px -2px 0 #000000, 4px -4px 0 #000000, 4px -6px 0 #000000, 4px -8px 0 #000000;
    transform: rotate(45deg);
}
.js_checkbox::after{
    background: #fff;
    box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
}