.m_tabs {
    border: solid 1px #ededed;
    background-color: #ffffff;
}

.m_tabs .nav-tabs {
    padding-top: 25px;
    padding-bottom: 10px;
}

.m_tabs .nav-tabs .nav-item {
    margin: 0;
    text-align: center;
    flex: 1;
}

.m_tabs .nav-tabs .nav-link {
    background: transparent;
    border: none;
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding: 5px 0;
    text-align: center;
    font-size: 16px;
}

.m_tabs .nav-tabs .nav-link.active, .m_tabs .nav-tabs .nav-link:hover {
    color: #51c471;
}

.m_tabs .nav-tabs .nav-link.active::before, .m_tabs .nav-tabs .nav-link:hover::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #51c471;
    bottom: 3px;
    left: 0;
}

.m_tabs .nav-tabs .nav-link .number {
    margin-left: 5px;
    border-radius: 0.5rem;
    min-width: 1rem;
    display: inline-block;
    font-size: 0.7rem;
    line-height: 1rem;
    min-height: 1rem;
    vertical-align: 0.1rem;
    padding: 0 0.15rem 0 0.15rem;
    background: #ddd;
    font-weight: bold;
    color: #51c471;
}

.m_tabs .tab-content {
    padding: 20px;
    padding-top: 15px;
}

.m_tabs .tabs-actions--item:not(:last-child) {
    margin-bottom: 40px;
}

.m_tabs .tabs-actions--item .item-date {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 1px #d8d8d8;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.m_tabs .tabs-actions--item .item-date .date {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}

.m_tabs .tabs-actions--item .item-date .text {
    font-size: 12px;
    color: #6f6f6f;
}

.m_tabs .tabs-actions--item .item-active:not(:last-child) {
    margin-bottom: 30px;
}

.m_tabs .tabs-actions--item .item-active .user-info {
    display: flex;
    align-items: center;
}

.m_tabs .tabs-actions--item .item-active .user-info .avatar {
    display: block;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 3px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #ededed;
    margin-right: 12px;
    background: #a8c200;
    color: #fff;
}

.m_tabs .tabs-actions--item .item-active .user-info .name-date {
    margin-bottom: 0;
    font-size: 16px;
    color: #2b8a3e;
}

.m_tabs .tabs-actions--item .item-active .user-info .name-date .date {
    display: block;
    font-size: 0.8rem;
    color: #777777;
}

.m_tabs .tabs-actions--item .item-active .user-info .number-cmt {
    margin-left: auto;
    color: #2b8a3e;
    font-size: 15px;
}

.m_tabs .tabs-actions--item .item-active .user-cmt .message-title {
    margin-bottom: 1rem;
    margin-top: 10px;
    display: block;
}

.m_tabs .tabs-actions--item .item-active .user-cmt .message-content {
    padding-left: 25px;
}

.m_tabs .tabs-actions--heading .set-parent {
    color: #2b8a3e;
    font-size: 14px;
    font-weight: 400;
}

.m_tabs .tabs-actions--heading .set-parent i {
    padding-right: 5px;
}

.m_tabs .tabs-actions--heading .task-name {
    font-size: 15px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5px;
}

.m_tabs .tabs-actions--heading .task-name .label {
    text-transform: none;
    color: #2b8a3e;
    font-size: 14px;
    font-weight: 500;
}

.m_tabs .tabs-relations a {
    color: #6d30ab;
}

.m_tabs .tabs-relations--item:not(:last-child) {
    margin-bottom: 35px;
}

.m_tabs .tabs-relations--item .heading {
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0 1rem 0.4rem 0;
    margin: 0 0 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.m_tabs .tabs-relations .relations-create--label {
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    display: block;
    padding: 6px 0;
    margin-bottom: 7px;
}

.m_tabs .tabs-relations .relations-create--label i {
    margin-right: 5px;
}

.m_tabs .tabs-relations .relations-create--type {
    margin-right: 10px;
}

.m_tabs .tabs-relations .relations-create--actions {
    text-align: right;
}

.m_tabs .tabs-relations .relations-create--actions i {
    color: #2b8a3e;
    font-size: 25px;
    cursor: pointer;
}

.m_tabs .tabs-relations .relations-create .select2-selection__rendered {
    width: 100%;
}

.m_tabs .tabs-relations .relations-create .select2-selection {
    display: flex;
    align-items: center;
}

.m_tabs .tabs-relations .relations-create .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.m_tabs .tabs-relations .relations-create .relations-change--status {
    border: 1px solid #fff;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 3px;
}

.m_tabs .tabs-relations .relations-create .relations-change--select {
    display: none;
}

.m_tabs .tabs-relations .relations-create .relations-new .la-times {
    color: #4b4b4b;
    font-size: 20px;
    cursor: pointer;
}

.m_tabs .tabs-relations .relations-create .relations-new .row {
    padding: 3px 0;
}

.m_tabs .tabs-relations .relations-children {
    overflow: auto;
}

.m_tabs .tabs-relations .relations-children--table {
    width: 100%;
    margin-bottom: 10px;
}

.m_tabs .tabs-relations .relations-children--table thead .id {
    min-width: 55px;
}

.m_tabs .tabs-relations .relations-children--table thead .type {
    min-width: 60px;
}

.m_tabs .tabs-relations .relations-children--table thead .subject {
    width: 90%;
}

.m_tabs .tabs-relations .relations-children--table thead .close {
    width: 30px;
    text-align: right;
}

.m_tabs .tabs-relations .relations-children--table .la-times {
    cursor: pointer;
    font-size: 20px;
}

.m_tabs .tabs-relations .relations-children--table tr:hover {
    background-color: #CCE6F7;
}

.m_tabs .tabs-relations .relations-children--table tr:hover .close {
    opacity: 1;
}

.m_tabs .tabs-relations .relations-children--table td, .m_tabs .tabs-relations .relations-children--table th {
    white-space: nowrap;
    height: 28px !important;
}

.m_tabs .tabs-relations .relations-children--table th {
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    text-align: left;
    line-height: 34px;
    position: sticky;
    top: 0;
    padding: 2px 6px 2px 0;
}

.m_tabs .tabs-relations .relations-children--table td {
    color: #333333;
    padding: 8px 8px 8px 0;
}

.m_tabs .tabs-relations .relations-children--table td .close {
    opacity: 0;
    color: #2b8a3e;
}

.m_tabs .tabs-relations .relations-children--actions {
    padding: 0;
    margin: 0;
    list-style: none;
}

.m_tabs .tabs-relations .relations-children--actions li {
    display: inline-block;
}

.m_tabs .tabs-relations .relations-children--actions li:not(:last-child) {
    margin-right: 15px;
}

.m_tabs .tabs-relations .relations-children--actions a {
    color: #6d30ab;
    font-weight: 500;
    display: block;
}

.m_tabs .tabs-relations .relations-children--actions i {
    margin-right: 5px;
}

.m_tabs .tabs-watchers .item {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 7px 0;
    padding-left: 3px;
    position: relative;
}

.m_tabs .tabs-watchers .item:not(:last-child) {
    margin-bottom: 5px;
}

.m_tabs .tabs-watchers .item:hover {
    border-color: #ddd;
}

.m_tabs .tabs-watchers .item:hover .delete {
    visibility: visible;
}

.m_tabs .tabs-watchers .item .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    color: #fff;
    background-color: #a8c200;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 5px;
}

.m_tabs .tabs-watchers .item .name {
    color: #2b8a3e;
    font-size: 14px;
}

.m_tabs .tabs-watchers .item .delete {
    margin-left: auto;
    position: absolute;
    height: 100%;
    right: 0;
    text-align: center;
    width: 32px;
    background: #F8F8F8;
    border-left: 1px solid #ddd;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 2px;
}

.m_tabs .tabs-watchers .item .delete i {
    color: #e94c4c;
}

.m_tabs .tab-under {
    border-top: solid 1px #ededed;
    background-color: #f8f8f8;
    padding: 16px 19px;
    display: flex;
}

.m_tabs .tab-under .follow {
    padding: 8px 18px;
    border-radius: 3px;
    border: solid 1px #ededed;
    background-color: #ffffff;
    font-size: 16px;
    color: #333;
    margin-right: 15px;
    cursor: pointer;
}

.m_tabs .tab-under .follow i {
    margin-right: 5px;
}

.m_tabs .tab-under .readmore.show button:after {
    border-top: 0;
    border-bottom: .3em solid;
}

.m_tabs .tab-under .readmore button {
    border: solid 1px #ededed;
    background-color: #ffffff;
    color: #333333;
    font-size: 16px;
    padding: 8px 18px;
    border-radius: 3px;
}

.m_tabs .tab-under .readmore button:focus {
    box-shadow: none;
}

.m_tabs .tab-under .readmore button:after {
    border-bottom: 0;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
    vertical-align: inherit;
    transition: border 0.1s;
}

.m_tabs .tab-under .readmore .dropdown-menu {
    padding: 6px 0;
}

.m_tabs .tab-under .readmore .dropdown-menu-item {
    color: #333;
    padding: 6px 15px;
    display: block;
}

.m_tabs .tab-under .readmore .dropdown-menu-item:hover {
    text-decoration: none;
    background-color: #ddd;
}

/*# sourceMappingURL=m_tabs.css.map */
