/*.diamond {
  height: 5px;
  width: 5px;
  transform: rotate(45deg);
  background-color: #ff4961;
  margin: 3px 6px;
}

.label {
  color: #424242 !important;
  font-weight: 500 !important;
  margin-bottom: 5px !important;
  font-family: Roboto, sans-serif;
}

.btn-yellow {
  background-color: #fcbb2c !important;
  color: white !important;
}

.btn-white {
  background-color: #ebebeb !important;
  color: #424242 !important;
  border: 1px solid #c5c5c5;
}

.btn-black {
  background-color: #636363 !important;
  color: #ffffff !important;
}

.btn-success {
  background-color: #37b24d !important;
  border-color: #37b24d !important;
  color: #ffffff !important;
}

.btn-success:hover {
  background: #227d28 !important;
  border-color: #227d28 !important;
  color: #FFFFFF !important;
}

.attributes-group {
  margin-top: 1.6875rem;
  position: relative;
}

.attributes-group--header {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
  flex: 1 1 auto;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  order: 0;
  height: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin: 0 0 0.5rem 0;
  border-bottom: 1px solid #ddd;
  align-items: flex-end;
}

.attributes-group--header-container {
  display: block;
  padding: 0 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex: 1 1 auto;
  padding: 0 1rem 0.4rem 0;
}

.attributes-group--header-text {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: 0;
}

.inplace-edit--controls {
  width: 80px;
  height: 40px;
  background: #F8F8F8;
  border: 1px solid #cacaca;
  box-shadow: 2px 2px 4px #ddd;
  text-align: center;
  display: flex;
  float: right;
}

.inplace-edit--control {
  font-size: 0.9rem;
  flex: 1;
  padding: 5px;
}

.inplace-edit--control a {
  line-height: 27px;
  color: #333333;
}

.attributes-key-value {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  line-height: 1.6;
}

.attributes-key-value--key {
  white-space: normal;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #333;
}

.dropzone {
  height: 150px;
  border: 2px dashed #666EE8;
  background: #F4F5FA;
}

.dropzone .dz-message {
  font-size: 2rem;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  margin-top: -30px;
  color: #666EE8;
  text-align: center;
}

.dropzone .dz-message:before {
  content: "\e94b";
  font-family: 'feather';
  font-size: 40px;
  position: absolute;
  top: 0px;
  width: 80px;
  height: 80px;
  display: inline-block;
  left: 50%;
  margin-left: -40px;
  line-height: 1;
  z-index: 2;
  color: #666EE8;
  text-indent: 0px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.dropzone .dz-preview.dz-image-preview {
  background: transparent;
}

.dropzone .dz-preview .dz-remove {
  font-size: 1.1rem;
  color: #FF4961;
  line-height: 2rem;
}

.dropzone .dz-preview .dz-remove:before {
  content: "\e9e6";
  font-family: 'feather';
  display: inline-block;
  line-height: 1;
  z-index: 2;
  text-indent: 0px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.dropzone .dz-preview .dz-remove:hover {
  text-decoration: none;
  color: #ff1635;
}

.nav.nav-tabs.nav-iconfall .nav-item a.nav-link {
  padding: 1em 0 1em;
}

.nav.nav-tabs.nav-iconfall .nav-item a i::after {
  position: absolute;
  bottom: 1em;
  left: 10%;
  margin-left: -20px;
  width: 100%;
  height: 3px;
  background: #2CC185;
}

.bg-new {
  background-color: #66D9E8 !important;
  color: #333333 !important;
} */
body {
  font-family: 'Open Sans', sans-serif !important;
}

.uni-bg-reddish {
  background-color: #f29f05;
  font-weight: 500;
  cursor: text;
}

.button-project {
  background-color: #2b8a3e;
  text-align: left;
  font-weight: 600;
  cursor: text;
}

.button-create {
  background-color: #064e8b;
  float: right;
  width: 120px;
}

.button-save {
  background-color: #428c47;
  float: right;
  width: 120px;
}

.button-return {
  background-color: #a7a7a7;
  float: right;
  width: 120px;
}

.infor-project {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f29f05;
  /*border-bottom: solid 2px #e2e2e2;*/
  width: 100%;
}

.fa-square {
  font-size: 5px;
  vertical-align: middle;
  margin-right: 2px;
  margin-left: 3px;
}

.form-control {
  border-radius: 0px;
  color: #2b8a3e !important;
}

.fa-asterisk {
  font-size: 7px;
  vertical-align: top;
  margin-left: 2px;
  color: #f29f05;
}

input::placeholder {
  font-family: Lato;
  font-weight: 300;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa !important;
}

.task-active .nav-item .nav-link {
  color: #333333;
  background-color: #e0e0e0;
  border-bottom: 2px solid #2b8a3e;
  font-weight: bold;
}

.task-active:hover .nav-item:hover .nav-link:hover {
  color: #333333;
  background-color: #e0e0e0;
  border-bottom: 2px solid #2b8a3e;
}

.task-active .nav-item .active {
  color: #2b8a3e !important;
  border-top: 2px solid #2b8a3e;
  border-left: 2px solid #2b8a3e;
  border-right: 2px solid #2b8a3e;
  background-color: #FFFFFF;

}

.task-active:hover .nav-item:hover .active:hover {
  color: #2b8a3e !important;
  border-bottom: 2px solid white;
  background-color: #FFFFFF;

}

.infor-invest {
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2b8a3e;
  border-bottom: solid 1px #707070;
  width: 100%;
}

.infor-invest img {
  padding-bottom: 5px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.btn-total-invest {
  background-color: #efefef;
  color: #333333;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #2b8a3e !important;
}

.select2-container--default .select2-results__options .select2-results__option[aria-selected=true] {
  background-color: #2b8a3e !important;
  color: white !important;
}

.unit .select2-container--default .select2-selection--single {
  background-color: #efefef !important;
}

.unit .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #333333 !important;
}

.form-control:focus {
  box-shadow: 0 2px 6px 0 rgba(30, 159, 242, 0.28);
  border: solid 1px #51b4f4;
}

.border-tabs {
  background: white;
  width: 1px;
  border-bottom: 2px solid #2b8a3e;
}

.btn-upload-img {
  background-color: #f29f05;
  color: #ffffff;
}

#map {
  height: 500px;
}

.box-status {
  width: 1rem;
  height: 1rem;
  float: left;
  display: inline-block !important;
  vertical-align: middle !important;
  border-radius: 1px;
  background-color: inherit;
  text-align: center;
  margin-top: 4px;
  margin-right: 0.5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}


.box-status.new {
  background-color: #2b8a3e;
  color: black !important;
}

.box-status.danger {
  background-color: #e44111;
  color: black !important;
}

.box-status.new {
  background-color: #2b8a3e;
  color: black !important;
}

.box-status.new {
  background-color: #2b8a3e;
  color: black !important;
}

.box-status.new {
  background-color: #2b8a3e;
  color: black !important;
}

.box-status.new {
  background-color: #2b8a3e;
  color: black !important;
}

.icon-building {
  height: 1rem;
  width: 1rem;
  background-image: url('../img/add_project/enterprise.svg');
  vertical-align: middle !important;
}

/* --- Project Status --- */
/* progress bar */
.progress {
  height: 23px;
  background-color: #dbdbdb;
  border-radius: 2rem;
  padding:5px;
}

.progress-bar-1 {
  border-radius: 10px;
}

.progress-bar-2 {
  background-color: #93aa00;
  border-radius: 10px;
}

.progress-bar-3 {
  background-color: #f2a600;
  border-radius: 10px;
}

.progress-bar-4 {
  background-color: #fe7448;
  border-radius: 10px;
}

.progress-bar-5 {
  background-color: #e44111;
  border-radius: 10px;
}

.text-time-1{
    color:#636363;
}
.text-time-2{
    color:#c8d487 !important;
}
.text-time-3{
    color:#f2a600 !important;
}
.text-time-4{
    color:#fe7448 !important;
}

.text-time-5{
    color:#e44111 !important;
}

/* tinh trang cong viec */
.status-project {
    margin-left: 15px;
    width: 70px;
    float: left;
}
.status-project p {
    float: left;
    margin-left: 20px;
    width: 150px;
    margin-top: -2px;
    font-size: 12px;
}
.square-1 {
    width: 12px;
    height: 12px;
    float: left;
    border-radius: 1px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: #636363;
}
.square-2 {
    width: 12px;
    height: 12px;
    float: left;
    border-radius: 1px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: #93aa00;
}
.square-3 {
    width: 12px;
    height: 12px;
    float: left;
    border-radius: 1px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: #f2a600;
}
.square-4 {
    width: 12px;
    height: 12px;
    float: left;
    border-radius: 1px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: #f97448;
}
.square-5 {
    width: 12px;
    height: 12px;
    float: left;
    border-radius: 1px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: #e44110;
}
.project-title{
    color:#424242;
}

.table th {
    padding: 1rem !important;
}

.table td {
    padding: 0.75rem !important;
}