.task_information {
    width: 200px;
    height: 35px;
    background-color: #71002d;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 8px;
    text-align: center;
    color: white;
}