.m_text_a8c200 {
  color: #a8c200 !important; }

.m_text_e9c301 {
  color: #e9c301 !important; }

.m_text_fb9334 {
  color: #fb9334 !important; }

.m_text_f35e5e {
  color: #f35e5e !important; }

.m_text_e94c4c {
  color: #e94c4c !important; }

.m_text_e9c301 {
  color: #e9c301 !important; }

.m_text_399b54 {
  color: #399b54 !important; }

.fw-medium {
  font-weight: 500; }

.m_table {
  overflow-x: auto;
  margin-bottom: 35px; }
  .m_table--wrapper {
    background-color: #fff;
    padding: 0 24px;
    padding-bottom: 50px;
    width: 100%; }
  .m_table table {
    min-width: 1200px;
    margin-bottom: 0; }
  .m_table th, .m_table td {
    white-space: nowrap; }
  .m_table thead th {
    text-transform: uppercase;
    border-top: 0;
    border-bottom: 2px solid #6d6d6d;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.35;
    padding: 0 1rem 15px 1rem;
    vertical-align: middle; }
    .m_table thead th i {
      font-size: 21px;
      color: #000; }
  .m_table td {
    border-bottom: 1px solid #e3e3e3;
    color: #000;
    padding: .9rem 1rem; }
  .m_table .text-detail a {
    color: #6d30ab;
    text-decoration: underline; }
    .m_table .text-detail a:hover {
      text-decoration: none; }

.m_grid--list_project .item {
  border: solid 1px #d8d8d8;
  margin-bottom: 25px;
  background-color: #fff;
  position: relative; }
  .m_grid--list_project .item .image img {
    width: 100%; }
  .m_grid--list_project .item .content {
    padding: 13px 15px; }
    .m_grid--list_project .item .content .type {
      color: #fff !important;
      font-size: 14px;
      padding: 4px 13px;
      margin: 0;
      border-radius: 41px;
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 18px; }
      .m_grid--list_project .item .content .type.m_text_a8c200 {
        background-color: #a8c200; }
      .m_grid--list_project .item .content .type.m_text_e9c301 {
        background-color: #e9c301; }
      .m_grid--list_project .item .content .type.m_text_fb9334 {
        background-color: #fb9334; }
      .m_grid--list_project .item .content .type.m_text_f35e5e {
        background-color: #f35e5e; }
    .m_grid--list_project .item .content .number-br {
      position: absolute;
      top: 16px;
      right: 15px;
      margin: 0;
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.25); }
    .m_grid--list_project .item .content .name {
      font-size: 20px;
      font-weight: 500;
      position: relative;
      padding-bottom: 12px;
      margin-bottom: 13px;
      color: #000; }
      .m_grid--list_project .item .content .name::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 60px;
        background-color: #d8d8d8;
        bottom: 0;
        left: 0; }
    .m_grid--list_project .item .content .address {
      display: block;
      font-weight: 300;
      font-size: 16px;
      font-style: italic;
      line-height: 1.31;
      color: #6d6d6d;
      padding-top: 3px; }
    .m_grid--list_project .item .content .details {
      margin: 0;
      padding: 0;
      list-style: none; }
      .m_grid--list_project .item .content .details li {
        display: block;
        padding-bottom: 5px; }
      .m_grid--list_project .item .content .details i {
        color: #51c471;
        font-size: 17px;
        font-weight: bold; }
      .m_grid--list_project .item .content .details .title {
        color: #6d6d6d;
        padding-left: 5px; }
      .m_grid--list_project .item .content .details .text {
        color: #000;
        padding-left: 5px; }

.m_filter {
  padding-top: 25px;
  padding-bottom: 35px; }
  .m_filter--type {
    padding: 0;
    margin: 0;
    list-style: none; }
    .m_filter--type li {
      position: relative;
      padding-left: 22px;
      padding-right: 15px;
      margin-right: 10px;
      display: inline-block; }
      .m_filter--type li.first::before, .m_filter--type li:last-child::before {
        display: none; }
      .m_filter--type li::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 16px;
        background-color: rgba(0, 0, 0, 0.08);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%); }
      .m_filter--type li.first {
        padding: 0;
        margin: 0; }
        @media (max-width: 992px) {
          .m_filter--type li.first {
            width: 100%; } }
      .m_filter--type li i {
        font-size: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%); }
      .m_filter--type li span {
        font-size: 14px;
        color: #000; }
  .m_filter--show {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 15px; }
    @media (min-width: 576px) {
      .m_filter--show {
        justify-content: flex-end;
        margin-top: 0; } }
    .m_filter--show li {
      display: inline-block;
      position: relative; }
      .m_filter--show li:not(:first-child) {
        padding: 0 8px; }
      .m_filter--show li:last-child {
        padding-right: 0; }
      .m_filter--show li.first::before, .m_filter--show li:last-child::before {
        display: none; }
      .m_filter--show li::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 16px;
        background-color: rgba(0, 0, 0, 0.08);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%); }
      .m_filter--show li i {
        font-size: 26px;
        color: #999999;
        cursor: pointer; }
      .m_filter--show li button {
        background-color: transparent;
        border: none;
        padding: 0; }
      .m_filter--show li:hover i {
        color: #6d30ab; }
      .m_filter--show li.active i {
        color: #6d30ab; }

.m_pager ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .m_pager ul li {
    display: inline-block;
    font-size: 16px;
    color: #000; }
    .m_pager ul li a {
      background-color: #f9f9f9;
      border: solid 1px #f9f9f9;
      color: #6d6d6d;
      font-size: 14px;
      padding: 5px 11px;
      display: block;
      transition: all 0.1s; }
      .m_pager ul li a:hover {
        border-color: #000;
        color: #000; }
      @media (max-width: 480px) {
        .m_pager ul li a {
          margin: 5px 0; } }
.m_pager .active a {
  border-color: #000;
  color: #000; }
.m_pager .first {
  padding-right: 12px; }
  @media (max-width: 480px) {
    .m_pager .first {
      width: 100%;
      margin-bottom: 5px; } }
.m_pager .page-current {
  padding-left: 12px; }
  @media (max-width: 480px) {
    .m_pager .page-current {
      width: 100%;
      margin-top: 5px;
      padding-left: 0; } }

/*# sourceMappingURL=table.css.map */
