.uni-bg-reddish {
    background-color:#ca3f3f;
}

.button-employee {
    background-color: #fcbb2c;
}

.button-create {
    background-color: #088fcc;
    float: right;
}

.content-employee .icon-plus {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 5px;
}
.content-employee .input-search {
    float: right;
    width: 69%;
}

.content-employee .form-control-position {
    background-color: #fcbb2c;
    height: 2.7rem !important;
    right: 1px !important;
    color: #fff;
}
.table-detail-project thead th {
    background-color: #2b8a3e;
    color: #ffffff;

}
table .table_header {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.table_header tr th {
    border-bottom: 1px solid #a3a3a3 !important;
    border-top: 0px !important;
    padding: 10px 0px 10px 0px !important;
}
.table_body tr td{
    border: 0px !important;
    padding: 10px 0px 10px 0px !important;
}
.title_fs {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #424242;
    font-size: 25px;
}
.fa-asterisk {
    font-size:6px;
    color:red;
    vertical-align: top;
}
.title-add-vn {
    color: #333333;
}
.title-add-eng {
    font-weight:500;
    color: #333333;
}
.content-employee .input-search {
    float: right;
    width: 69%;
}
.btn-state {
    width: 300px;
    white-space: normal;
    word-wrap: break-word;
    background-color: white;
    color:#088fcc !important;
    border: 1px solid #088fcc;
}
.btn-state a {
    color:white !important;
}
.button-add-fs {
    background-color:#37b24d;
    padding: 10px 50px 10px 50px;
    float: right;
}
.btn-action {
    background-color:#0068b9;
    float:right;
    padding:10px 40px 10px 20px;
    width:180px;
}
.custom-control-label::before,
.custom-control-label::after {
    width: 1.25rem;
    height: 1.25rem;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #2b8a3e;
}
.custom-control-input:active ~ .custom-control-label::before {
    background-color: #2b8a3e;
}

.m_table {
    overflow: auto;
    margin-bottom: 35px;
    max-height: fit-content;
}