.main-cart__info-buyer {
    .block {
        &__01 {
            .block__heading {
                margin-bottom: 12px;
            }
            .noted {
                line-height: normal;
                &-1 {
                    @include fw-medium;
                    font-size: 16px;
                    color: #0d0d0d;
                    margin-bottom: 10px;
                }
                &-2 {
                    color: #656565;
                    margin-bottom: 18px;
                }
            }
            .link {
                color: #5480f9;
                text-decoration: underline;
            }
        }
    }
}
