/********** MAP CSS : BEGIN ***************/

.m_popup {
    max-width: 222px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
}

.m_popup::before {
    position: absolute;
    content: '';
    border: 15px solid #fff;
    border-left: 12px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 12px solid transparent;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.m_popup .top {
    font-size: 14px;
    color: #399b54;
    font-family: "Roboto" !important;
    font-weight: bold;
    padding: 8px 11px;
    margin: 0;
}

.m_popup .top .address {
    margin-top: 5px;
    font-weight: 300;
    display: block;
    color: #999999;
    font-size: 10px;
}

.m_popup .con {
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    display: flex;
}

.m_popup .con .item {
    padding: 9px 7px;
    width: 50%;
    margin: 0;
}

.m_popup .con .item:first-child {
    border-right: 1px solid #ddd;
}

.m_popup .con .item span {
    display: block;
    text-align: center;
    white-space: nowrap;
    color: #636363;
}

.m_popup .con .item i {
    font-weight: bold;
    font-style: normal;
}

.m_popup .con .item .irr_text {
    font-size: 12px;
}

.m_popup .con .item .irr_text i {
    color: #e9c301;
}

.m_popup .con .item .npv_text {
    font-size: 12px;
}

.m_popup .con .item .npv_text i {
    color: #67a0f5;
}

.m_popup .con .item .number {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.m_popup .bottom {
    padding: 8px 12px;
    margin: 0;
}

.m_popup .bottom li {
    list-style: none;
    position: relative;
    padding-left: 12px;
    margin-bottom: 5px;
    font-size: 12px;
}

.m_popup .bottom li::before {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-color: #399b54;
    border-radius: 50%;
}

.m_popup .bottom .value {
    color: #399b54;
}
