#registermail {
    background: none !important;
    .ant-form-item {
        width: 238px;
    }
    .input-group-text {
        height: 46px !important;
        border-radius: 0 !important;
    }
    .ant-form-item-control-input {
        margin-bottom: 10px;
    }
}