.product_detail{
    &--filter{
        @include select2Element;

        background-color: rgba(30, 0, 61, 0.36);
        padding: 18px 30px;
        padding-bottom: 0;

        .select2-container--default .select2-selection--single{
            padding: 0.5rem 15px;
        }

        @media(max-width:767px){
            padding: 15px;

            .select2-selection.select2-selection--single {
                height:40px !important;
                padding: 0.5rem 10px;
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered{
                margin: 0;
                line-height: 25px;
            }
              
        }
        

        .form-group{
            margin-bottom: 18px;
            @media(max-width:767px){
                margin-bottom: 10px;
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered{
                position: relative;
                padding-left: 22px;
                &::before{
                    position: absolute;
                    font-family: "Font-Awesome 5 Free";
                    font-size: 17px;
                    color: #6d30ab;
                    left: 0;
                    font-weight: 900;
                }
            }
        }

        &.column-3{
            max-width: 76.66%;
            width: 100%;
        }

        .icon_building{
            .select2-selection__rendered{
                &::before{
                    content: "\f1ad";
                }
            }
        }
        .icon_border{
            .select2-selection__rendered{
                padding-left: 25px;
                &::before{
                    content: "\f850";
                }
            }
        }
        .icon_boxes{
            .select2-selection__rendered{
                padding-left: 27px !important;
                &::before{
                    content: "\f468";
                    font-size: 16px !important;
                }
            }
        }
        .icon_boxopen{
            .select2-selection__rendered{
                padding-left: 25px !important;
                &::before{
                    content: "\f49e";
                    font-size: 16px !important;
                }
            }
        }

        .icon{
            font-size: 17px;
            color: #6d30ab;
            padding-right: 5px;
        }
    }

    &--apartment{
        padding-bottom: 60px;
        @media(max-width:767px){
            padding-bottom: 40px;
        }
        .main_heading{
            padding-top: 80px;
            padding-bottom: 40px;
            margin-bottom: 0;
            @media(max-width:767px){
                padding-bottom: 20px;
                padding-top: 50px;
            }
        }
        .right{
        }
        .apartment_detail{
            @include salesHeading();
            .product_contact {
                padding: 16px 30px;
                h5 {
                    font-weight: bold;
                }
                .address {
                    font-size: 12px;
                }
                .contact_detail {
                    margin: 0;
                    padding: 0;
                    .sns {
                        span {
                            margin-right: 10px;
                        }
                    }
                    li {
                        font-size: 16px;
                        font-weight: bold;
                        list-style: none;
                        padding-left: 15px;
                        position: relative;
                        top: 0;
                        left: 0;
                        a {   
                            margin: 0 4px;
                        }
                        .tel {
                            font-size: 18px;
                            font-weight: bold;
                            color: #e94c4c;
                        }
                        &::before {
                            position: absolute;
                            content: "\f621";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            font-size: 9px;
                            color: #e94c4c;
                            left: 0;
                            top: 7px;
                        }
                    }
                }
                .policy_detail {
                    i {
                        color: #fb9334;
                    }
                    a {
                        color: #fb9334;
                        font-size: 16px;
                        text-decoration: underline;
                        padding: 0 10px;
                    }
                }
            }
            .compare_price {
                font-family: HelveticaNeue;
                display: inline-flex;
                align-items: center;
                .num {
                    opacity: 0.65;
                    font-size: 24px;
                    line-height: 1.21;
                    text-align: center;
                    text-decoration: line-through;
                    color: #ffffff;
                    margin-right: 15px;
                }
                .discount_label {
                    padding: 5px 2px;
                    border-radius: 2px;
                    background-color: #e94c4c;
                    font-size: 14px;
                    color: #ffffff;
                    line-height: 1.14;
                    text-decoration: none;
                }
            }
            .info {
                background: #ffffff;
                margin-bottom: 40px;
                padding-bottom: 30px;
            }
            .see_bank_list {
                margin-top: 20px;
                border: 1px solid #e94c4c;
                text-align: center;
                a {
                    padding: 10px;
                    display: block;
                    color: #e94c4c;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            .info_1{ 
                @include flexbox;
                @include flex-wrap(wrap);
                border: solid 1px #e0e0e0;
                background-color: rgba(109, 48, 171, 0.08);
               
                .item{
                    @include flexbox;
                    @include flex-direction(column);
                    text-align: center;
                    flex: 1;
                    padding: 12px 8px;
                    
                    *{
                        line-height: normal;
                    }
                    @media(max-width:480px){
                        flex: auto;
                        width: 50%;
                        &:first-child{
                            width: 100%;
                            &::before{
                                height: 1px !important;
                                width: 100% !important;
                                right: auto !important;
                                top: auto !important;
                                bottom: 0;
                                left: 50%;
                                @include transform(translateX(-50%))
                            }
                        }
                    }
                    &:not(:last-child){
                        position: relative;
                        &::before{
                            position: absolute;
                            content: '';
                            width: 1px;
                            height: 100%;
                            background-color: rgba(109, 48, 171, 0.4);
                            right: 0;
                            top: 0;
                        }
                    }
                }
                .title{
                    font-size: 12px;
                    color: #0d0d0d;
                    margin-bottom: 2px;
                }
                .icon_info{
                    font-size: 10px;
                    padding-left: 3px;
                    color: #6d30ab;
                }
                .number{
                    @include fw-medium;
                }
                .unit{
                    font-size: 12px;
                    color: #656565;
                }
                .water{
                    font-size: 18px;
                    color: #e94c4c;
                }
                .acreage{
                    font-size: 18px;
                    color: #51c471;
                }
                .direction{
                    font-size: 16px;
                    color: #0d0d0d;
                }
            }
            .info_2{
                padding: 16px 30px;
                padding-bottom: 0;
                table{
                    width: 100%;
                    td{
                        border-bottom: 1px solid #ddd;
                        padding: 6px 0;
                        &:first-child{
                            border-bottom: none;
                        }
                    }
                    tr:last-child{
                        td{
                            border-bottom: none;
                        }
                    }
                }
                .heading{
                    font-size: 18px;
                    @include fw-medium;
                    color: #6d30ab;
                    margin-bottom: 3px;
                }
                .icon{
                    padding-right: 10px;
                    width: 33px;
                
                }
                .icon_label{
                    font-size: 16px;
                    color: #a8c200;
                }
                .name{
                    font-size: 14px;
                    color: #0d0d0d;
                }
                .number{
                    font-size: 14px;
                    @include fw-medium;
                    color: #0d0d0d;
                    text-align: right;
                }
            } 
            .list_button{
                @include justify-content(space-between);
                margin-top: 20px;
                .btn {
                    width: calc(50% - 7px);
                }
            }
            .incentives {
                margin-top: 0;
                padding-top: 10px;
                &__heading{
                    font-size: 18px;
                    color: #e94c4c;
                }
            }
        }

        .slider_in_tab {
            position: relative;
            .icon_like_down{
                position: absolute;
                top: 20px;
                right: 24px;
                @media(max-width:767px) {
                    top: 10px;
                    right: 15px;
                }
            }
            .icon_like_down {
                li {
                    background: #333333;
                    opacity: 0.5;
                    color: #fff;
                    .liked{
                        &.active{
                            color: #e9c301;
                        }
                    }
                }
            }
            .timeline {
                .sales_timeline--heading {
                    position: absolute;
                    left: 25px;
                    .date_number {
                        margin: 0;
                    }
                    @media(max-width:767px) {
                        left: 82px;
                    }
                }
            }
            .promotion {
                position: absolute;
                right: 0;
                bottom: 0;
                div {
                    position: absolute;
                    bottom: 111px;
                    right: 0;
                    z-index: 9;
                    img {
                        max-width: 140px;
                    }
                }
            }
            .apartment_slider {
                .image_type{
                    position: absolute;
                    top: 20px;
                    left: 160px;
                }
            }
            
        }

        .apartment_slider{
            margin-bottom: 24px;
            position: relative;
            img{
                width: 100%;
            }
            &-for{}
            &-nav{
                min-height: 100px;
                background-color: #ffffff;
                padding: 10px;
                .slick-track{
                    // left: 0 !important;
                }
                .slick-list{
                    padding: 0 !important;
                    margin: 0 40px;
                    @media(max-width:767px){
                        margin: 0 30px;
                    }
                }
                .slick-slide{
                    margin: 0 5px;
                    outline: none;
                    cursor: pointer;
                    opacity: 0.55;
                    background-color: #ffffff;
                    transition: all 0.2s ease;
                }
                .slick-current{
                    opacity: 1;
                    background-color: transparent;
                }
                .slick-active{
                    
                }
                .slick-arrow{
                    position: absolute;
                    opacity: 1;
                    &::before{
                        position: absolute;
                        font-size: 16px;
                        color: #656565;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        opacity: 1;
                        top: 50%;
                        left: 50%;
                        @include transform(translate(-50%,-50%));
                    }

                }
                .slick-prev{
                    left: 15px;
                    &::before{
                        content: "\f053";
                        
                    }
                }
                .slick-next{
                    right: 15px;
                    &::before{
                        content: "\f054";
                    }
                }
            }
            .image_type{
                position: absolute;
                top: 20px;
                left: 155px;
                @media(max-width:767px) {
                    top: 10px;
                    left: 15px;
                }
            }
            .wrap{
                height: 0;
                visibility: hidden;
                transition: all 0.3s ease;
                opacity: 0;
                &.active{
                    opacity: 1;
                    height: auto;
                    visibility: visible;
                }
            }
            
        }

        .sales_collapse{
            margin-bottom: 24px;
            .card{
                border:none;
            }
            .card-header{
                @include flexbox;
                @include align-items(center);
                @include justify-content(space-between);
                padding: 16px 24px;
                border:none;
                border-radius: 0;
                background-color: #fff;
                
            }
            .title{
                font-size: 24px;
                @include fw-medium;
                color: #0d0d0d;
                margin: 0;
                @media(max-width:767px){
                    font-size: 20px;
                }
            }
            .icon_collapse{
                @include flex_center;
                width: 31px;
                height: 31px;
                background-color: #51c471;
                border-radius: 50%;
                font-size: 12px;
                color: #ffffff;
            }
            .icon_action{}
            .collapse{
                padding: 13px 24px 20px 24px;
                border-top: 1px solid #dee2e6;
            }
        }
        .description{
            font-weight: 300;
            font-size: 16px;
            color: #0d0d0d;
            margin-bottom: 25px;
            p{
                margin-bottom: 0;
                line-height: 1.44;
            }
        }
        .image_type, .icon_like_down {
            @include flexbox;
            padding: 0;
            margin: 0;
            list-style: none;
            z-index: 1;

            li {
                @include transition(all 0.2s);
                @include flex_center;
                width: 44px;
                height: 44px;
                font-size: 16px;
                background-color: #ffffff;
                border-radius: 50%;
                
                @include fw-medium;
                letter-spacing: 0.48px;
                color: #0d0d0d;
                text-transform: uppercase;

                @media(max-width:767px) {
                    width: 30px;
                    height: 30px;
                    font-size: 12px;
                }

                &:not(:last-child) {
                    margin-right: 11px;

                    @media(max-width:767px) {
                        margin-right: 10px;
                    }
                }

                &:hover,
                &.active {
                    background-color: #6d30ab;
                    color: #fff;
                    cursor: pointer;
                    .icon{
                        color: #fff;
                    }
                }
                .icon{
                    font-size: 18px;
                    color: #0d0d0d;
                }
            }
            .type_2d {}
            .type_3d {}
            .type_ar {}
        }
        
        .icon_like_down {
            li {
                background: #333333;
                opacity: 0.5;
                color: #fff;
                .liked{
                    &.active{
                        color: #e9c301;
                    }
                }
            }
        }
        .sales_timeline--heading{
            left: 25px;
        }
    }

    .main_heading{
        margin-bottom: 25px;
        @media(max-width:767px){
           margin-bottom: 10px;
        }
    }
    .searchProject{
        margin-top: 18px;
        @media(max-width:1199px){
            margin-top: 0;
        }
    }

    .striking_apartment--content{
        .child {
            white-space: nowrap;
        }
        .details .text{
            @media(max-width:1199px){
                letter-spacing: -0.5px;
            }
            @media(max-width:767px){
                letter-spacing: normal;
            }
        }
    }

    .pagination{
        padding-top: 0;
    }
}

.bank_list {
    @media screen and (max-width: 767px) {
        padding: 50px 0;
    }
    &__title {
        @include fw-medium;
        font-size: 40px;
        color: #0d0d0d;
        padding-bottom: 30px;
    }
    &__logo {
        height: 150px;
        width: 100%;
        border: 1px solid #dee2e6;
        position: relative;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
            img {
                @include transform(scale(1.11));
            }
        }
        img {
            @include transition(0.3s ease-out all);
            width: 100%;
        }
    }
    .slick-dots {
        position: static;
        margin-top: 5px;
        @media screen and (max-width: 767px) {
            margin-top: 20px;
        }
        li {
            width: auto;
            height: auto;
            margin: 0 6px;
            button {
                border: 1px solid #6d30ab;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                padding: 0;
                position: relative;
                @media screen and (max-width: 767px) {
                    width: 14px;
                    height: 14px;
                }
                &:before {
                    font-size: 0;
                }
            }
            &.slick-active {
                button {
                    background: #fff;
                    border: 1px solid #6d30ab;
                    &:before {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: #6d30ab;
                        content: "";
                        top: 50%;
                        left: 50%;
                        @include transform(translate(-50%, -50%));
                        @media screen and (max-width: 767px) {
                            width: 7px;
                            height: 7px;
                        }
                    }
                }
            }
        }
    }
    .slick-slide {
        @include flex_center;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
    .slick-slider {
        overflow: hidden;
    }
    .slick-prev {
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
    .slick-next {
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
    /* the slides */
    .slick-slide {
        margin: 0 10px;
    }
    /* the parent */
    .slick-list {
        margin: 0 1px;
    }
}
