.div_image_preview {
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    max-width: 300px ;
    margin: 0 auto ;
}
#div_image_preview{
    display: none;
}
.m_drag-images {
    position: relative;
    min-height: 377px;
}
.img-thumbnail{
    width: auto !important;
    max-height: 318px !important;
}