.cart-expenses {
   @include salesHeading;
   &__detail {
      padding: 20px 24px;
      background-color: #fff;
      
   }
   .detail_bg_purble{
      .cart-expenses__detail{
          background-color: rgba(109, 48, 171, 0.08);
      }
      .temporary{
         font-size: 16px;
         margin-bottom: 15px;
         @include fw-medium;
      }
   }
   &__list {
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
      margin-bottom: 4px;
      &.star_green {
         .cart-expenses__title {
            color: #25b15f;
            &::before {
               color: #25b15f;
            }
         }
         .cart-expenses__value {
            color: #25b15f;
         }
      }
      &.star_red {
         .cart-expenses__title {
            color: #e94c4c;
            &::before {
               color: #e94c4c;
            }
         }
         .cart-expenses__value {
            color: #e94c4c;
         }
      }
   }
   &__title {
      font-size: 16px;
      color: #0d0d0d;
      padding-left: 15px;
      position: relative;
      @include fw-medium;
      &::before {
         position: absolute;
         content: "\f621";
         font-family: "Font Awesome 5 Free";
         font-weight: 900;
         font-size: 9px;
         color: #6d30ab;
         left: 0;
         top: 50%;
         @include transform(translateY(-50%));
      }
   }
   &__value {
      @include fw-medium;
      font-size: 16px;
      color: #0d0d0d;
   }
}
.listed_price {
   background-color: rgba(109, 48, 171, 0.08);
}
.temporary-product {
   padding: 20px 40px;
   padding-right: 15px;
   ul {

      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
          border-bottom: 1px solid #f3f4f9;
      }
      li:nth-last-child(1){
         border-bottom: none;
      }
   }
   .title{
      @include fw-medium;
   }
   &__product{
      margin-bottom: 20px;
      max-height: 215px;
      overflow-y: auto;
      @include scrollbar;
      .pd_scroll{
         padding: 0 20px;
         padding-left: 0;
      }
      
   }
   &__title{
      font-size: 18px;
      margin-bottom: 10px;
   }
   &__list {
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid #f3f4f9;
      cursor: pointer;
   }
   &__list:nth-last-child(1){
      border-bottom: none;
   }
   &__dropdown{
      display: flex;
      justify-content: space-between;
      padding-left: 15px;
      padding-bottom: 10px;
        
   }
   &__department{
      @include fw-medium;
      
      .icon{
         transition: all 0.5s;
         margin-left: 10px;
         @media (max-width: 475px) {
            margin: 0;
        }
         &.active{
            @include transform( rotate(180deg));
         }
      }
   }
   &__price {
      margin-left: auto;
      color: #e94c4c;
   }
}