.btn-action{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #0d47a1;
    color:#fff;
  }
  .btn-fixed-padding{
      width:161px;
  }
  .btn-excel{
      background-color:#ff6221;
      color:#fff;
      height:46px;
  }
  .btn-images{
      float:left;
      padding-top:10px;
  }
  .btn-print{
      background-color:#00b8d4;
      color:#fff;
      height:46px;
  }
  .div2{
      margin-left:3.2rem;
  }
  .btn p{
      padding-top:10px;
  }
  .btn-supplier{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #37474f;
    width: 100%;
    height: 46px;
  
  
  }
  .btn-supplier p{
     font-weight: bold;
    color: #0d47a1;
    margin-top:0.7em;
  
  }
  
  .btn-supplier .text-number{
      text-align:center;
     background-color: #0d47a1;
      color: #fff;
  
  }
  .btn-area{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: solid 0.5px #ff4961;
    background-color: #ffffff;
    width: 100%;
    height: 46px;
    color:#ff4961;
  
  }
  .btn-city{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: solid 0.5px #ff6f00;
    background-color: #ffffff;
    width: 100%;
    height: 46px;
    color:#ff6f00;
  }
  .btn-town{
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: solid 0.5px #1565c0;
    background-color: #ffffff;
    width: 100%;
    height: 46px;
    color:#1565c0;
  }
  .btn-table .dropdown-toggle::after{
      float:right;
  }
  #contentTable > thead > tr{
      color:#000;
      background-color: #006064;
  }
  .calendar_img{
      float: right;
      position: relative;
      top: 35px;
      left: 49px;
  }
  .text_order{
      position: relative;
      top: -34px;
      left: 53px;
      text-decoration: underline;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      font-size:16px;
      color: #ff6221;
  
  }
  .btn-fruit{
      position:relative;
      left:-14.4%;
  }
  #contentTable {
         border-bottom:1px solid #e3ebf3;
       border-left:1px solid #e3ebf3;
  }
  #contentTable tr{
         border-bottom:1px solid #e3ebf3;
  
  }
  #contentTable th{
      border-left:1px solid #e3ebf3;
         border-right:1px solid #e3ebf3;
  }
  #contentTable td{
  
         border-right:1px solid #e3ebf3;
  }
