#quantityStatistics .apexcharts-yaxis-label{
    text-decoration: underline;
}

#statisticsQuantitiesSold {
    .apexcharts-yaxis-label-vertical{
        text-decoration: none;
        font-weight: normal;
    }
    .unit{
        font-weight: normal;
    }
}

#revenueStatistics {
    .apexcharts-yaxis-label{
        text-decoration: none;
        
    }
    .unit{
        font-weight: 500;
    }
}

.sales_chat{
    font-weight: 500;
    font-size: 12px;
}