
//test 01

.bg_color_6d30ab{
    background-color: #6d30ab;
}
.bg_color_e94c4c{
    background-color: #e94c4c;
}
.border-d8d8d8{
    border: solid 1px #d8d8d8;
}
.border-6d30ab{
    border: solid 1px #6d30ab;
}
.border_6d30ab{
    border: 1px solid #6d30ab !important;
}
.border_color_6d30ab{
    border-color:  #6d30ab !important;
}
.border-width-1{
    border-width: 1px;
}
.uni_border_399b54{
    border: solid 1px #399b54;
}
.uni_text_219dfd{
    color: #219dfd !important;
}
.uni_text_25b15f{
    color: #25b15f !important;
}
.uni_border_219dfd{
    border: solid 1px #219dfd;
}
.uni_text_e94c4c{
    color: #e94c4c !important;
}
.uni_text_f1ab21{
    color: #f1ab21;
}
.m_border_e94c4c{
    border: solid 1px #e94c4c;
}
.m_text_367be3{
    color: #367be3 !important;
}
.m_text_219dfd{
    color: #219dfd !important;
}
.cursor-pointer{
    cursor: pointer;
}
.box-shadow{
    box-shadow: 0 2px 6px 0 rgba(153, 153, 153, 0.43);
}




.sales_agency{
    &_text{
        color: #38b6ac !important;
    }
    &_bg{
        background: #38b6ac !important;
    }
    &_border{
        border:1px solid #38b6ac !important;
    }
}

.sales_internal{
    &_text{
        color: #219dfd !important;
    }
    &_bg{
        background: #219dfd !important;
    }
    &_border{
        border:1px solid #219dfd !important;
    }
}

.sales_status{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    .item{
        margin: 0;
        display: flex;
        align-items: center;
        &:not(:last-child){
            padding-right: 15px;
            margin-right: 15px;
        }
        position: relative;
        &:not(:last-child){
            &::before{
                position: absolute;
                content: '';
                width: 1px;
                height: 16px;
                right: 0;
                background-color: #d8d8d8;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .title{
        margin: 0;
        color: #000;
        padding-right: 15px;
    }
    .square{
        width: 14px;
        height: 14px;
        margin-right: 7px;
    }
    .text{
        font-size: 12px;
        letter-spacing: normal;
    }
    &_01_bg{
        background-color: #6bbcd7;
    }
    &_02_bg{
        background-color: #999999;
    }
    &_03_bg{
        background-color: #9a59dc;
    }
    &_01_text{
        color: #6bbcd7;
    }
    &_02_text{
        color: #999999;
    }
    &_03_text{
        color: #9a59dc;
    }
    &_style02_01_bg{
        background-color: #9155ce !important;
    }
    &_style02_02_bg{
        background-color: #f06464 !important;
    }
    &_style02_03_bg{
        background-color: #67a0f5 !important;
    }
    &_style02_01_text{
        color: #9155ce;
    }
    &_style02_02_text{
        color: #f06464;
    }
    &_style02_03_text{
        color: #67a0f5;
    }
    &_style02_01_border{
        border:2px solid #9155ce;
    }
    &_style02_02_border{
        border:2px solid #f06464;
    }
    &_style02_03_border{
        border:2px solid #67a0f5;
    }
}

.sales_color_bg{
    &_01{
        background-color: #f06464;
    }
    &_02{
        background-color: #f1ab21;
    }
    &_03{
        background-color: #a8c200;
    }
    &_04{
        background-color: #38b6ac;
    }
    &_05{
        background-color: #367be3;
    }
    &_06{
        background-color: #f25e95;
    }
    &_07{
        background-color: #a60c5a;
     }
}

// sales_status_transaction
.transaction_status{
    &_1{
        font-weight: 500;
        color: #367be3 !important;
        border: solid 1px #367be3 !important;
        min-height: 40px;
    }
    &_2{
        font-weight: 500;
        color: #f1ab21 !important;
        border: solid 1px #f1ab21 !important;
        min-height: 40px;
    }
    &_3{
        font-weight: 500;
        color: #399b54 !important;
        border: solid 1px #399b54 !important;
        min-height: 40px;
    }
    &_4{
        font-weight: 500;
        color: #fb9334 !important;
        border: solid 1px #fb9334 !important;
        min-height: 40px;
    }
    &_5{
        font-weight: 500;
        color: #e94c4c !important;
        border: solid 1px #e94c4c !important;
        min-height: 40px;
    }
}


// payment_status
.payment_status{
    &_1{
        color: #389b54;
    }
    &_2{
        color: #6d30ab;
    }
    &_3{
        color: #df5c4e;
    }
    &_4{
        color: #f69524;
    }
    &_5{
        color: #6d6d6d;
    }
}


.payment_status_bg{
    &_1{
        background-color: #389b54;
    }
    &_2{
        background-color: #6d30ab;
    }
    &_3{
        background-color: #df5c4e;
    }
    &_4{
        background-color: #f69524;
    }
    &_5{
        background-color: #6d6d6d;
    }
}

.payment_status_border{
    &_1{
        border:1px solid #389b54;
    }
    &_2{
        border:1px solid #6d30ab;
    }
    &_3{
        border:1px solid #df5c4e;
    }
    &_4{
        border:1px solid #f69524;
    }
    &_5{
        border:1px solid #6d6d6d;
    }
}


.news_status{
    &_1{
        background-color: #6d6d6d;
        color: #ffffff;
    }
    &_2{
        background-color: #6d30ab;
        color: #ffffff;
        font-size: 12px;
        text-align: center;
    }
    &_3{
        border: solid 1px #6d30ab;
        background-color: #ffffff;
        color: #6d30ab
    }
    &_4{
        background-color: #fff;
        border: solid 1px #399b54;
        color: #399b54;
    }
    &_5{
        background-color: #fff;
        border: solid 1px #f06464;
        color: #f06464;
    }
}

.status-commisson{
    &-bg-01{
        background-color: #e94c4c !important;
    }
    &-bg-02{
        background-color: #fb9334 !important;
    }
    &-bg-03{
        background-color: #367be3 !important;
    }
    &-text-01{
        color: #e94c4c !important;
    }
    &-text-02{
        color: #fb9334 !important;
    }
    &-text-03{
        color: #367be3 !important;
    }
}

.voucher_type{
    border: solid 1px #ee7777;
    background-color: #fff2f2;
    color: #e94c4c;
    padding: 6px 20px;
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    font-size: 16px;
}


@mixin summernoteStyle {
	.note-editor{
		border:none !important;
		font-family: "summernote";
		.dropdown-toggle::after {
			display: none;
		}
		.dropdown-menu{
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
			border: 1px solid rgba(0,0,0,.15);
			background-color: #fff;
			padding: 5px 0;
			margin: 2px 0 0;
			a {
				display: block;
				padding: 3px 20px;
				margin-left: 10px;
				clear: both;
				font-weight: 400;
				line-height: 1.42857143;
				color: #333;
				white-space: nowrap;
				position: relative;
				i {
					color: #000;
					visibility: hidden;
					width: 12px;
					height: 13px;
					display: inline-block;
					left: 0;
					top: 5px;
					position: absolute;
					&::before{
						position: absolute;
						content: '';
						font-family: 'Line Awesome Free';
						font-weight: 900;

					}
				}
				&.checked i {
					visibility: visible;
					&::before{
						content: "\f00c";
					}
				}

			}
		}

		.note-toolbar{
			position: absolute;
			z-index: 1;
			bottom: 5px;
			left: 18px;
			background: #fff;
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
			display: none;
			&.show-toolbar{
				display: block;
			}
			> .note-btn-group{
				position: relative;

				&:not(:last-child){
					padding-right: 10px;
					&::before{
						position: absolute;
						content: '';
						background-color: rgba(100,121,143,0.122);
						width: 1px;
						height: 20px;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}


			}
		}
		.note-editable{
			padding-left: 18px !important;
			padding-right: 18px !important;
		}
		.note-placeholder{
			padding-left: 18px !important;
			font-weight: 300;
			font-style: italic;
			color: #999999;
			font-family: "Roboto" !important;
		}
	}
}
