.sales_list-zone{
    .nav-tabs{
        border-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tab-content{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .nav-item{
        padding: 0 38px 5px 39px;
        @media(max-width: 1199px){
            padding: 0 20px 5px 20px;
        }
    }
    .nav-link {
        padding: 0;
        border-radius: 0;
        border: none;
        position: relative;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.66px;
        color: #0d0d0d;
        
        &::before{
            position: absolute;
            content: '';
            width: 0;
            height: 2px;
            background-color: #6d30ab;;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.2s;
        }
        &:hover, &:focus,&.active{
            border: none;
            color: #6d30ab;
            &::before{
                width: 100%;
            }
            
        }
    }
    .zone{
        &--wrap{
            display: flex;
            @media(max-width: 1199px){
                flex-direction: column;
            }
        }
        &--heading{
            text-align: center;
            font-size: 29px;
            font-weight: 500;
            letter-spacing: 0.87px;
            color: #0d0d0d;
            margin-bottom: 18px;
            margin-top: 10px;
        }
        &--left{
            width: 72.24vw;
            min-height: 580px;
            border: solid 1px #d8d8d8;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            @media(max-width: 1199px){
                width: 100%;
                order: 2;
                margin-top: 20px;
            }
            .form-group{
                position: absolute;
                top: 24px;
                right: 24px;
                .select2{
                    width: 230px !important;
                }
                .select2-selection__rendered{
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04);
                    padding-left: 15px;
                    padding-right: 15px;
                    &::before,&::after{
                        position: absolute;
                        right: 15px;
                        font-style: normal;
                        font-family: 'Line Awesome Free';
                        font-weight: 900;
                        color: #6d30ab  !important;
                    }
                    &::before{
                        content: "\f0d7";
                        top: 5px;
                    }
                    &::after{
                        content: "\f0d8";
                        top: -5px;
                    }
                }
            }
            .compass{
                max-width: 74px;
                position: absolute;
                right: 70px;
                bottom: 25px;
                img{
                    width: 100%;
                }
            }
            .actions{
                opacity: 0.8;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                background-color: #f3f3f3;
                position: absolute;
                right: 20px;
                bottom: 20px;
                padding:0 4px;
                padding-top: 4px;
                display: flex;
                flex-direction: column;
                .icon{
                    font-size: 20px;
                    color: #656565;
                    margin: 4px 0;
                }
            }
            .map{
                max-width: 600px;
                img{
                    width: 100%;
                }
            }
        }
        &--right{
            // width: 27.75vw;
            width: 415px;
            margin-left: 20px;
            border: 1px solid #6d30b3;
            overflow: hidden;
            @media(max-width: 1199px){
                width: 100%;
                margin: 0;
                
            }
            .title{
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 500;
                color: #6d30ab;
                margin: 0;
                border-bottom: 1px solid #6d30b3;
                padding: 15px 13px 12px 13px ;
            }
            .floor_list{
                margin: 10px;
                max-height: 1000px;
                overflow-y: auto;
                margin-right: -10px;
                padding-right: 13px;
                @include scrollTable;
            }
            .floor_item{
                margin-bottom: 5px;

                &.active{
                    .house_list{
                        display: block;
                        padding:10px 8px 0 24px;
                        margin-right: 10px;
                        margin-bottom: 20px;
                    }
                    .floor_name{
                        background-color: transparent;
                        .text-left{
                            color: #6d30ab;
                        }
                    }
                }
            }
            .floor_name{
                background-color: #ebebeb;
                padding:5px 5px 5px 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .text-left{
                    font-size: 20px;
                    letter-spacing: 0.66px;
                    color: #000000;
                    font-weight: 500;
                }
                .text-right{
                    background-color: #ffffff;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 0.66px;
                    color: #6d30ab;
                    padding:10px 12px;
                    min-height: 50px;
                }
            }
            .house_list{
                padding: 0;
                margin: 0;
                list-style: none;
                display: none;
                max-height: 280px;
                overflow-y: scroll;
                @include scrollTable;
            }
            .house_item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 12px;
                padding-bottom: 12px;
                padding-right: 10px;
                border-bottom: 1px solid #e6e6e6;
                
                .name{
                    font-size: 18px;
                    color: #0d0d0d;
                }
                .check{
                    display: flex;
                    align-items: center;
                }
                .number{
                    font-size: 18px;
                    font-weight: 500;
                    color: #51c471;
                    padding-right: 14px;
                    line-height: normal;
                }
                

            }
            

        }
        
    }

    #selectProduct{
        .modal-dialog {
            @media (min-width: 576px){
                max-width: 790px;
                margin: 1.75rem auto;
            }
        }
        .house_name{
            height: 40px;
            border: solid 1px #d8d8d8;
            background-color: #ebebeb;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            .right{
                font-size: 16px;
                color: #51c471;
            }
        }
        .house_heading{
            font-size:18px;
            font-weight: 500;
            color: #000000;
            margin-bottom: 5px;
        }
        .form-group{
            margin-top: 10px;
        }
       
        .modal-footer{
            border-top: none;
            padding-bottom: 30px;
            button{
                min-width: 190px;
                height: 40px;
            }
        }
    }
}