.header__topbar .navbar-nav .customize-input .icon-search {
    top: 6px
}

.btn_dropdown_outline {
    border: 1px solid #367be3;
    background-color: #FFFFFF;
    color: #367be3;
    padding: 9px 20px;
    padding-right: 40px;
    margin: 0;
    text-transform: none;
    font-size: 14px
}

.m_grid--list_project .item {
    margin-top: 0;
    background-color: unset;
    height: 100%;
    border: solid 1px #d8d8d8
}

.m_grid--list_project .item .content .name a {
    color: #6d30ab;
    text-decoration: underline
}

.m_grid--list_project .item .content .name a:hover {
    color: #000;
    text-decoration: none
}

.m_grid--list_project .item .content .type.m_text_f7b84b {
    background-color: #f7b84b
}

.m_grid--list_project .item .content .type.m_text_f33652 {
    background-color: #f33652
}

.m_grid--list_project .item:hover {
    border-top: 1px solid #5ebfff
}

.m_grid--list_project .item:hover .image img {
    transform: none
}

.page-breadcrumb .breadcrumb-item a {
    color: #6d30ab
}

.sales_list_button .min-width-button {
    min-width: 190px
}

.sales_list_button.sales_list_button button:not(:last-child) {
    margin-right: 15px
}

.sales_list_button .min-height-40 {
    min-height: 40px
}

.m_drag-images {
    position: relative;
    min-height: 100%
}

.m_drag-images p.text .add_img {
    padding: 5px;
    background-color: #ffffff;
    border-radius: 50%
}

.m_drag-images p.text .add_img img {
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #6d30ab
}

@media (max-width: 991px) {
    .m_drag-images {
        min-height: 300px
    }
}

.m_drag-images .input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer
}

.m_drag-images .text {
    position: absolute;
    background-color: #ebebeb;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0
}

.m_drag-images .text span {
    color: #6d6d6d;
    font-style: italic;
    margin-top: 13px
}

.m_drag-images .text i {
    color: #6a32ae;
    font-size: 26px;
    width: 74px;
    height: 74px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.m_drag-images .text i:after {
    position: absolute;
    content: "";
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 50%;
    top: 6px;
    left: 6px;
    border: 1px solid #6a32ae
}

.m_drag-images #div_image_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto
}

.action_right {
    box-shadow: 0px 20px 50px 0 rgba(0, 0, 0, 0.3)
}

.action_right .action {
    color: #367be3;
    font-weight: normal;
    font-size: 16px;
    -webkit-text-stroke: 0.5px #367be3
}

.action_right .action.active {
    background-color: #367be3;
    color: #fff
}

.fs-18 {
    font-size: 18px
}

.fs_14 {
    font-size: 14px !important
}

.width-140 {
    max-width: 140px;
    width: 100%
}

.min-height-40 {
    min-height: 40px !important
}

.uni_text_367be3 {
    color: #367be3 !important
}

.uni_text_fb9334 {
    color: #fb9334 !important
}

.uni_text_219dfd {
    color: #219dfd !important
}

.uni_text_f1ab21 {
    color: #f1ab21 !important
}

.uni_text_6d6d6d {
    color: #6d6d6d !important
}

.uni_text_f7b84b {
    color: #f7b84b !important
}

.uni_text_fd7e14 {
    color: #fd7e14 !important
}

.uni_text_f33652 {
    color: #f33652 !important
}

.uni_border_367be3 {
    border: solid 1px #367be3
}

.uni_border_f1ab21 {
    border: 1px solid #f1ab21
}

.m_text_fd7e14 {
    background-color: #fd7e14
}

.select2.select2-container.select2-container--default {
    width: 100% !important
}

.select2 .selection .select2-selection--multiple ul li {
    margin-right: 15px !important
}

.select2 .selection .select2-selection--multiple ul li.select2-selection__choice {
    background-color: #eaf3ff !important
}

.select2 .selection .select2-selection--multiple ul li.select2-selection__choice .select2-selection__choice__remove {
    float: right !important;
    margin-right: 0px !important
}

.select2 .selection .select2-selection--multiple ul li.select2-selection__choice .select2-selection__choice__remove::before {
    content: "" !important;
    border-radius: 50% 50% !important;
    border: 1px solid #999 !important;
    padding-right: 12px !important;
    position: relative !important;
    right: -11px !important;
    font-size: 9px !important;
    bottom: 1px !important
}

.m_table table tr th,
.m_table table tr td {
    padding-left: 0px !important
}

.block_summernote .note-editor {
    width: 100%
}

.block_summernote .summernoteOnHead .note-toolbar {
    background-color: #f3f3f3;
    border-bottom: 1px solid #d8d8d8;
    padding: 0 5px
}

.block_summernote .summernoteOnHead .note-editor.note-airframe,
.block_summernote .summernoteOnHead .note-editor.note-frame {
    border: 1px solid #d8d8d8
}

.block_summernote .summernoteOnHead .note-popover .popover-content>.note-btn-group,
.block_summernote .summernoteOnHead .note-toolbar>.note-btn-group {
    margin: 0;
    border-right: 1px solid #d8d8d8
}

.block_summernote .summernoteOnHead .btn-group {
    padding: 0px 5px
}

.block_summernote .summernoteOnHead .dropdown-toggle::after {
    display: none
}

.block_summernote .summernoteOnHead .dropdown-menu {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 5px 0;
    margin: 2px 0 0
}

.block_summernote .summernoteOnHead .dropdown-menu a {
    display: block;
    padding: 3px 10px;
    margin-left: 0;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    position: relative
}

.utilities .js_checkbox::before {
    width: 15px !important;
    height: 15px !important
}

.utilities .js_checkbox.active::before {
    background-color: #6d30ab !important;
    border: 1px solid #6d30ab !important
}

.utilities .js_checkbox.active::after {
    top: 7px !important;
    left: 2px !important;
    background-color: #FFFFFF;
    box-shadow: 2px 0 0 #ffffff, 4px 0 0 #ffffff, 4px -2px 0 #ffffff, 4px -4px 0 #ffffff, 4px -6px 0 #ffffff, 4px -8px 0 #ffffff
}

.item .icon {
    color: #6d30ab
}

.item:hover {
    box-shadow: 0 2px 10px 0 rgba(30, 159, 242, 0.3)
}

.item:hover figure.image img {
    transform: scale(1.01)
}

.item .content p.name .link_href_6d30ab {
    text-decoration: underline;
    color: #6d30ab;
    font-weight: 500
}

.card.square .overview img {
    width: 100%
}

.card.square .zoom {
    width: 30px;
    height: 60px;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(109, 109, 109, 0.2);
    background-color: #ffffff;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer
}

.card.square .zoom div {
    width: 100%
}

.card.square .zoom .minus {
    position: relative;
    top: 5px
}

.card.square .zoom .minus::before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    left: 5;
    top: 23px;
    right: 5px
}

.card.square .zoom .plus {
    position: relative;
    top: 15px
}

.card.square .action_right {
    width: 30px;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(109, 109, 109, 0.2);
    background-color: #ffffff;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer
}

.card.square .action_right .action:not(:last-child)::before {
    content: '';
    height: 1px;
    width: 20px;
    background-color: #e6e6e6;
    position: absolute;
    margin-top: 24px;
    left: 5px
}

.card.square .action_right .action {
    padding-top: 5px
}

.card.square .link_create_block {
    position: absolute;
    top: 40px;
    right: 90px;
    padding: 10px 40px;
    background-color: #6d30ab;
    border: 1px solid #6d30ab
}

.card.square .link_create_block a {
    color: #ffffff
}

.block_info {
    color: #ffffff;
    background-color: #6d30ab;
    max-width: 150px;
    width: 100%
}

.block_info span {
    position: relative;
    display: block;
    padding: 9px 20px
}

.m_table table tr th {
    font-size: 16px;
    padding: 0 1rem 15px 1rem;
    border-bottom: 1px solid #6d30ab
}

.m_table table .la-arrow-up {
    font-size: 15px;
    color: #6d6d6d;
    -webkit-text-stroke: 0.5px #6d6d6d
}

.m_table table .la-arrow-down {
    font-size: 15px;
    color: #6d30ab;
    -webkit-text-stroke: 0.5px #6d30ab
}

.m_table table .floor a {
    text-decoration: underline
}

.m_table table td a {
    color: #000000
}

.m_table table td.text-customer a {
    text-decoration: underline
}

.m-action .dropdown-menu .dropdown-item {
    color: #367be3;
    border: 1px solid #367be3;
    border-top: none
}

.content_zone {
    align-items: center;
    justify-content: center;
    flex: 1
}

.pics {
    border: solid 1px #d8d8d8;
    min-height: 194px
}

.pics img {
    width: 100%
}

.pics .content {
    text-align: center;
    padding: 15px 0px
}

.pics i.la-times {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #e94c4c
}

.pics i.la-times::before {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 3px;
    -webkit-text-stroke: 1px #e94c4c
}

.m_table--sales .files {
    display: flex;
    align-items: center
}

.m_table--sales .files .file_image {
    width: 18px;
    margin-right: 6px
}

.m_table--sales .files .file_image img {
    width: 100%
}

.choose_product {
    margin-top: 30px
}

.choose_product_title {
    font-size: 15px;
    margin-bottom: 20px
}

.choose_product input {
    border: solid 1px #d8d8d8;
    background-color: #ebebeb
}

.choose_product .unit {
    color: #000000;
    font-weight: normal
}

.m_table td.detail a {
    text-decoration: underline
}

.m_table td i.la-comments {
    color: #fb9334;
    font-size: 20px
}

.m_table td i.la-times {
    color: #6d6d6d;
    font-size: 20px
}

.m_table td {
    border-bottom: 1px solid #6d30ab
}

.m_table td.file_layout,
.m_table td.parcel {
    text-decoration: underline
}

.floor_selected {
    border: solid 1px #6d30ab;
    display: inline-flex
}

.floor_selected a {
    text-decoration: underline
}

.floor_selected .floor {
    background-color: #6d30ab;
    font-weight: 500;
    color: #ffffff;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px
}

.floor_selected .agency {
    font-weight: 500;
    padding: 8px 19px;
    border-right: solid 1px #6d30ab
}

.border-bottom-none {
    border-bottom: solid 1px #fff !important;
    box-shadow: none
}

input {
    border-radius: 0 !important
}

.bg_d8d8d8 {
    background-color: #d8d8d8 !important
}