
.text_51c471 {
    color: #51c471;
}
.text_4a3bcc {
    color:#4a3bcc;
}
.text_999999 {
    color: #999999;
}

.color_6d30ab,
.uni-text-6d30ab {
    color: #6d30ab !important;
}

.color_e94c4c {
    color: #e94c4c !important;
}

.color_656565 {
    color: #656565 !important;
}

.color_e9c301 {
    color: #e9c301 !important;
}

.uni-text-0d0d0d {
    color: #0d0d0d;
}

.uni-text-fff {
    color: #ffffff;
}