// modal
.modal-background {
    background-color: #000;
    display: none;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    width: 100vh;
    top: 0;
    left: 0;
    z-index: 1;

    &.active {
        display: none;

        @media (max-width: 767px) {
            display: block;
        }
    }
}

.modal-dialog {
    @include flexbox;
    @include align-items(center);
    height: 90%;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.3s;

    &.open {
        opacity: 1;
    }
}

.modal-content {
    border-radius: 0;
    border: none;

    @media (max-width: 480px) {
        width: 95%;
        margin: 0 auto;
    }
}

.modal-header {
    @include flexbox;
    @include align-items(center);
    border-radius: 0;
    border: none;
    padding: 17px 24px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;

    .close {
        font-size: 22px;
        color: #ffffff;
        padding: 0;
        margin: 0;
        opacity: 1;
        text-shadow: none;
        cursor: pointer;

        &:not(:disabled):not(.disabled):focus,
        &:not(:disabled):not(.disabled):hover {
            color: #ffffff;
        }
    }
}

.modal-title {
    @include fw-medium;
    font-size: 24px;
    color: #ffffff;
}

.modal-body {
    padding: 0;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.65);

    &.show {
        opacity: 1;
    }
}

.modal_special {
    box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.13);

    .modal_label {
        font-size: 16px;
    }

    .modal_color_red {
        color: #e94c4c;
    }

    .modal_discount_input {
        display: flex;
    }

    .modal_txt_percent {
        max-width: 18%;
        text-align: center;
    }

    .list_special_offers {
        display: flex;
        align-items: baseline;
        border-bottom: solid 1px #dee2e6;
        padding: 10px 0;

        .modal_icon_check {
            color: #51c471;
            margin-right: 10px;
        }

        .content_offers {
            font-size: 16px;
            width: 100%;
            .link_change_money {
                text-decoration: underline;
                font-size: 12px;

                a {
                    color: #6d30ab;
                }
            }
        }

        .redemption_form {
            display: none;
            .title {
                font-size: 12px;
            }

            .check_box_redemption {
                display: flex;
                font-size: 14px;
                @media (max-width: 767px) {
                    display: block;
                }
                input{
                    text-align: center;
                    width: 50%;
                    margin-left: 15px;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }
                .check_money{
                    display: flex;
                    padding-left: 30px;
                    @media (max-width: 767px) {
                        padding-left: 0;
                    }
                    .modal_color_red{
                        height: 26px;
                        max-width: 100px;
                        width: 100%;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}