.table_fixed {
    overflow-y: unset;
    max-height: initial;

    tbody {
        display: block;
        overflow: auto;

        @include scrollbarTable;
    }

    thead,
    tbody tr {
        display: table;
        width: 100%;
        // table-layout:fixed;
    }

    tr {

        td:first-child,
        th:first-child {
            width: 3%;
        }

        td,
        th {
            white-space: normal !important;
        }
    }
}

.table_original {
    overflow-x: auto;

    &.table-td-top {
        td {
            vertical-align: top;
        }
    }

    &.nowrap {

        th,
        td {
            white-space: nowrap;
        }
    }

    @media (max-width: 991px) {
        overflow-x: auto;
    }

    table {
        width: 100%;

        @media (max-width: 991px) {
            width: 680px;
        }
    }

    th,
    td {
        font-size: 16px;
        color: #0d0d0d;
        padding: 12px 14px;
    }

    th {
        border-bottom: 1px solid #6d30ab;
        @include fw-medium;
        padding: 5px 14px;
    }

    td {
        // height: 48px;
        border-bottom: solid 1px #b3b3b3;
    }

    .last {
        td {
            border-bottom: 1px solid transparent;
        }
    }

    .border-bottom-none {
        border-bottom: 1px solid transparent;
    }


}

.table_purple {
    overflow-x: auto;

    table {
        width: 100%;
        background-color: #fff;
        border: solid 1px #e6e6e6;
    }

    td,
    th {
        font-size: 14px;
    }

    th {
        background-color: #6d30ab;
        padding: 10px;
        color: #fff;
        font-weight: normal;
        font-family: $HelveticaNeue;
        text-transform: uppercase;
    }

    td {
        padding: 14px 10px;
        border-bottom: 1px solid rgba(154, 154, 154, 0.44);
    }
}

.table_basic {
    margin: 20px 0;
    @media (max-width: 991px) {
        overflow-x: auto;
    }

    table {
        text-align: center;
        min-width: 800px;
        width: 100%;
        // overflow-x: auto;
    }

    th {
        color: #6d30ab;
        background-color: rgba(109, 48, 171, 0.15);
        font-size: 16px;
        padding: 18px 5px;
        border: 1px solid #6d30ab;
        font-weight: bold;
    }

    td {
        padding: 19px 10px;
        font-size: 16px;
        @include  fw-medium;
        border: 1px solid #6d30ab;
    }

    tr:nth-of-type(1) {
        td {
            border-top: none;
        }
    }

    tr:last-child {
        td {
            border-bottom: none;
        }
    }

    .top_table {
        padding-right: 12px;
        @media (min-width: 992px) and (max-width:1199px){
            padding-right: 10px;
        }
    }

    .body_table {
        overflow-y: auto;
        overflow-x: unset;
        height: 500px;
        padding-right: 5px;
        @include scrollbarTable;
        @media (min-width: 992px) and (max-width:1199px){
            padding-right: 3px;
        }
        &::-webkit-scrollbar-thumb {
            outline: none;
        }

        @media (max-width: 991px) {
            min-width: 807px;
            width: 100%;
        }

        tr:nth-child(even) {
            background-color: #f4f4f4;
        }
    }

    .bottom_table {
        padding-right: 12px;
        @media (min-width: 992px) and (max-width:1199px){
            padding-right: 10px;
        }
        table {
            background-color: #6d30ab;
            border: none;
        }

        th {
            @include  fw-medium;
            color: #fff;
            font-size: 20px;
            padding: 15px 5px;
        }

        td {
            border: none;
        }
    }
}