

.button-employee {
    background-color: #fcbb2c;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
}

.button-create {
    background-color: #088fcc;
    float: right;
}

.content-employee .icon-plus {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 5px;
}

.content-employee .icon-plus:before {
    content: none !important;
}

.content-employee .input-search {
    float: right;
    width: 69%;
}

.content-employee .form-control-position {
    background-color: #fcbb2c;
    height: 2.7rem !important;
    right: 1px !important;
    color: #fff;
}


.text-department {
    color: #901a4d !important;
}

/* checkbox */
.custom-checkbox .custom-control-label::before {
    border-radius: 0 !important;

}

.custom-control-label::before, .custom-control-label::after {
    left: 50%;
    transform: translate(-50%, 0%);
}

/* .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: transparent;
} */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    content: "";
    position: absolute;
    left: -21px !important;
    top: 11px;
    background: #000000;
    width: 2px;
    height: 2px;
    /* box-shadow: 2px 0 0 #000000, 4px 0 0 #000000, 4px -2px 0 #000000, 4px -4px 0 #000000, 4px -6px 0 #000000, 4px -8px 0 #000000; */
    box-shadow: 2px 0px 0px 0px #ffffff, inset 19px 20px 20px 20px #ffffff, 4px 0 0 #ffffff, 4px -2px 0 #ffffff, 4px -4px 0 #ffffff, 4px -6px 0 #ffffff, 4px -8px 0 #ffffff;

    transform: rotate(45deg);

}

/* add employee page */
.button-cancel {
    background-color: #c5c5c5;
}

/* upload image */
.imagePreview {
    width: 100%;
    background-position: center center;
    /*background-image: url("../../static/img/icon-upload.jpg");*/
    /*background-color: #fff;*/
    /*background-size: cover;*/
    background-repeat: no-repeat;
    display: inline-block;
}

.imgUp {
    margin-bottom: 15px;
    text-align: center;
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.imgAdd {
    width: 30px;
    height: 30px;

    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}

.btn-upload {
    color: #2b8a3e;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    font-weight: bolder;
}

.label-yes::before, .label-yes::after {
    left: 0%;
    top: 38%;
}

.label-no::before, .label-no::after {
    left: 0%;
    top: 38%;
}

.editEmployee .form-control {
    width: 100%;
}

select[multiple='multiple'] {
    overflow-y: scroll !important;
    height: 300px;
}

.fa-square {
    font-size: 5px;
    vertical-align: middle;
    margin-right: 2px;
    margin-left: 3px;
}

.ptx-25 {
    padding-top: 25px;
}


.m_drag-images {
    position: relative;
    min-height: 100%;
}

.m_drag-images .input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.m_drag-images .text {
    position: absolute;
    background-color: #ebebeb;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.m_drag-images .text span {
    color: #6d6d6d;
    font-style: italic;
    margin-top: 13px;
}

/*.m_drag-images .text i {*/
/*    color: #38b6ac;*/
/*    font-size: 26px;*/
/*    width: 74px;*/
/*    height: 74px;*/
/*    background-color: #fff;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*}*/

/*.m_drag-images .text i:after {*/
/*    position: absolute;*/
/*    content: '';*/
/*    width: calc(100% - 12px);*/
/*    height: calc(100% - 12px);*/
/*    border-radius: 50%;*/
/*    top: 6px;*/
/*    left: 6px;*/
/*    border: 1px solid #38b6ac;*/
/*}*/

/* New format for image preview */
.m_drag-images .text i {
    color: #6a32ae;
    font-size: 26px;
    width: 74px;
    height: 74px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.m_drag-images .text i:after {
    position: absolute;
    content: '';
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 50%;
    top: 6px;
    left: 6px;
    border: 1px solid #6a32ae;
}

#div_image_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}


/* tittle tab : start */

/*NO DATA*/
.no_data {
    position: relative;
    max-width: 245px;
    margin: 80px auto;
}

.no_data .image {
    width: 100%;
}

.no_data .image img {
    width: 100%;
}

.no_data .text {
    position: absolute;
    font-size: 18px;
    color: #6d6d6d;
    background-color: #ffffff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.employee_info_line {
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.3);
    height: 100%;
    width: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.employee_info input:read-only,
.employee_info input:disabled {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;;
}

.employee_info .title {
    font-size: 18px;
    font-weight: 500;
    color: #51c471;
    text-transform: uppercase;
    margin: 0;
}

.employee_info .sub-title {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #999999;
    margin: 0;
    font-style: italic;
    text-transform: none;
}


.m_table td {
    border-bottom: 1px solid #e3e3e3;
    color: #000;
    vertical-align: middle;
    padding: .9rem 1rem;
}

.dropdown-menu {
    box-shadow: 0 0 2px 0 rgba(88, 151, 251, 0.64);
}

/*.dropdown-menu > .dropdown-item {*/
/*    color: #606060;*/
/*    padding: 5px 7px;*/
/*    border: 1px solid #ffffff;*/
/*}*/

/*.dropdown-menu > .dropdown-item > a {*/
/*    font-size: 12px;*/
/*}*/

/*.dropdown-menu > .dropdown-item:hover {*/
/*    box-shadow: 0 0 2px 0 rgba(88, 151, 251, 0.64);*/
/*    color: #2b8a3e;*/
/*    border: solid 1px #5897fb;*/
/*    background-color: #ededed;*/
/*}*/

small {
    width: 100%;
    text-align: right;
}

.nav-tabs .nav-item.active {
        border-bottom: 0px;
    }

    .nav-tabs .nav-item {
        margin-bottom: -1px !important;
        flex: 1;
    }

    .nav.nav-tabs.nav-top-border .nav-item a.nav-link.active {
        border: 1px solid #6d30ab;
        border-bottom: 1px solid #FFFFFF;
        color: #000000;
        background-color: #FFFFFF;
        font-weight: 500;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    }

    .nav.nav-tabs.nav-top-border .nav-item a {
        color: #000000;
        font-size: 14px;
        background-color: #ebebeb;
        font-weight: 500;
        border-left: 1px solid #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
        border-radius: 0 !important;
    }

    .nav.nav-tabs .nav-item .nav-link {
        display: flex !important;
        justify-content: center;
        padding: 9px 0px;
    }
    .m-action.btn-uni-action {
        border: 1px solid #367be3;
        background-color: #FFFFFF;
        color: #367be3;
        padding: 9px 30px 10px 20px !important;
        margin: 0;
        text-transform: none;
        cursor: pointer;
        font-size: 14px;
        min-width: 72px;
    }
    .fw-medium{
        font-weight: 500;
    }