.form-simple input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-simple input[type="mail"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-simple input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.help-block ul {
  margin: 0  !important;
  padding: 0 !important; }
  .help-block ul li {
    list-style: none; }

.btn-login {
  background-color: #2b8a3e;
  color:white;
}
::-webkit-input-placeholder {
   font-style: italic;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #2b8a3e !important;
    border-radius: 0px !important;
}
.custom-control-input:active ~ .custom-control-label::before {
    background-color: #2b8a3e !important;
  border-radius: 0px !important;
}

.content-right-img {

    -webkit-background-size : contain;
    background-size : contain;
    background-repeat: no-repeat;
}