.ant-input-group-addon{
    width: 30%;
    padding: 0;
    border-radius: 0;
    border: none;
    .ant-select{
        margin: 0 !important;
        border: solid 1px #d8d8d8;
        border-left: 0;
    }
    .ant-select-selector{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .ant-select .ant-select-arrow{
        width: 10px;
        right: 5px;
    }
}

.form-control{
    &.ant-input-group-wrapper{
        padding: 0;
        border: none;
        input{
            border: solid 1px #d8d8d8;
            height: 40px;
            border-radius: 0;
            padding-left: 14px;
            font-size: 14px;
            color: #000;
        }
    }
}

.ant-picker{
    display: flex;
    padding: 0 15px;
    align-items: center;
    .ant-picker-input{
        input{
            border-radius: 0 !important;
            padding: 0;
            border: none !important;
            height: 100% !important;
            [value='']{
                
            }
        }
    }
    .ant-picker-suffix{
        width: 15px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            content: "\f133";
            font-family: 'Line Awesome Free';
            font-size: 20px;
            right: 11px;
            top: 20px;
            font-weight: 900;
        }
        .anticon{
            
        }
        svg{
            display: none;
        }
        .ant-picker-clear{
            display: none;
        }
    }
}
