.main-cart__payment {
    .block {
        &__01 {
            .block__heading {
                margin-bottom: 12px;
            }
            .noted {
                color: #0d0d0d;
                font-size: 16px;
                line-height: 1.38;
                margin-bottom: 15px;
                text-align: justify;
            }
            .highlight {
                @include fw-medium;
                color: #e94c4c;
            }
            .checkbox-inline {
                @include fw-medium;
                font-size: 18px;
                color: #0d0d0d;
                padding-left: 28px;
                line-height: normal;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                .checkbox-custom {
                    width: 19px;
                    height: 19px;
                    top: 0;
                }
                .checkbox-custom-dummy {
                    border: 1px solid #6d30ab;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    top: 0;
                    &::after {
                        @include transform(translate(-50%, -50%));
                        left: 50%;
                        top: 50%;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        border: none;
                    }
                }
                &.active {
                    .checkbox-custom-dummy::after {
                        background-color: #6d30ab;
                    }
                }
            }
        }
    }

    .payment-opts {
        &__wrap {
            margin-left: 30px;
        }
        &__credit {
            margin-bottom: 15px;
            @include flexbox;
            .img {
                margin: 0 2px;
                img {
                    width: 100%;
                }
            }
        }
        &__local-card {
            @include flexbox;
            @include flex-wrap(wrap);
            border: solid 1px #9a9a9a;
            padding: 8px;
            .img {
                overflow: hidden;
                border-radius: 5px;
                border: dashed 1px #9a9a9a;
                width: 18%;
                margin: 1%;
                @media (max-width: 767px) {
                    width: 31%;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}
