.modal{
    z-index: 10500;
}

.modal-backdrop{
    z-index: 10400;
}


/*modal-content*/
.modal-content{
    background-color: transparent;
    border: none;
    width: 1172px;
    height: 633.4px;
    

}
/*modal-body*/
.modal-body{
    background-color: #ffffff;
    
}

/*modal Trash*/
.modal_Trash .modal-dialog{
    width: 410px;
    position: relative;
    
}

.modal_Trash .modal-content{
    border-radius: 0;
    border: none;
}

.modal_Trash .swal-title {
    color: rgba(0,0,0,.65);
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    line-height: normal;
    text-align: center;
}

.modal_Trash .swal-footer {
    padding-top: 13px;
    margin-top: 13px;
    padding: 13px 16px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.title-popup{
    font-size: 20px;
    font-weight: 500;
    color: #6d30ab;
    line-height: 24px;
}
.input-popup-select-require{
    width: 726px;
}
.input-popup-product{
    margin-left: 200px;
    width: 348px;
}
.align-modal-position{
    margin-left: -300px;
    margin-top: 50px;
    padding: 20px;
}
.price-sale-project{
    width: 252px;
    margin-left:0px;
}

.sale-project-currency{
    margin-left: -30px;
    margin-top: 26px;
    width: 100px;
}
.sale-price{
    margin-left: 20px;
}
.sale-low-est{
    margin-left: -20px;
}
.sale-highest{
   margin-left: -15px;
}
.sale-project{
    width: 100px; 
    margin-top: 27px;
}
.bonus-sale-project{
    width: 252px;
}
.sale-project-bonus {
    width: 96px;
    margin-top: 27px;
}
.sale-priority{
    width: 348px;
}
.text-area-case{
    width: 1095px;
    height: 95px;
    opacity: 0.65;
    margin-top: -20px;
}
.sale-project-save{
    width: 100px; 

}
.input-popup-select-require-priority{
   width: 96%
}

  .type-promotion {
      font-size: 18;
      color: #e94c4c;
      border: 1px solid #ee7777;
      background-color: #fff2f2;
      padding: 10px;
  }
  .des-promotion{
      color: #6d30ab;
      font-size: 16px;
      font-weight: bold;
  }
  .code-promotion{
    font-size: 16px;
    
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 10500;
  }
