.cost-input {
    margin-left: -170px;
    width: 113px;
    margin-top: 15px;

}
.currency-unit {
    width: 57px;
    margin-top: -57px;
    margin-left: -57px;
}
.convert-input{
    margin-left: -100px;
    width: 113px; 
    margin-top: 15px;
}
.currency-unit-convert{
    margin-top: -57px;
    width: 57px;
}
.priority-input{
    color: #e94c4c;
}
