@import "./scrollbar";
@import "./note";
@import "./status_cart";
@import "./checkbox";
@import "./chart";
@import "./sales_open";
@import "./sales_round-management";
@import "./sales_summary";
@import "./sales_list-zone";
@import "./sales_house-selected";
@import "./sales_distribution-channel";
@import "./sales_list_distribution_channel";
@import "./sales_cart_filter";
@import "./sales_method_filter";
@import "./sales_note";
@import "./sale_info";
@import "./sales_feedback";
@import "./sales_management_grid";
@import "./news";
@import "./approval_history";
@import "./contract";
@import "./sales_policy"; 

.sidebar-item {
	display: flex;
	flex-direction: column;
}

#div_image_preview {
	text-align: center;

	.img-thumbnail {
		max-height: 350px;
		max-width: 100%;
		width: auto;
	}

	small {
		display: block;
		width: 100%;
		text-align: right;
	}
}

.default_image_minerva {
	background-color: #ebebeb;
	text-align: center;
	img {
		width: auto !important;
	}
}

.select2-selection--multiple {
	.select2-selection__choice {
		position: relative;
		padding-right: 25px !important;
	}
	.select2-selection__choice__remove {
		position: absolute;
		right: 5px;
	}
	.select2-search__field {
		padding-left: 0 !important;
	}
}

.select2-highlight{
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		font-weight: 500 !important;
	}
}

.table-sticky-01 > thead > tr > th,
.table-sticky-01 > thead > tr > td {
	background: #fff;
	top: 0;
	position: sticky;
	z-index: 1;
}

.table-height {
	height: 320px;
	display: block;
	overflow: scroll;
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td {
	border: 1px solid #ddd;
}

table.responsive-table {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;

	thead {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 50px;
		line-height: 3em;
		background: #eee;
		table-layout: fixed;
		display: table;
	}

	th {
		background: #eee;
	}

	td {
		line-height: 2em;
	}

	tr > td,
	th {
		text-align: left;
	}
}

.m_table--fixed {
	&.td-border-right {
		border-right: solid 1px #6d30ab;
		
		// td:last-child:before {
		// 	background-color: #6d30ab;
		// 	position: absolute;
		// 	content: "";
		// 	top: 0;
		// 	right: 0;
		// 	width: 1px;
		// 	height: 100%;
		// 	-webkit-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2);
		// 	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2);
		// 	border-right: solid 1px #6d30ab;
		// }
	}

	th {
		height: 71px;
		vertical-align: bottom !important;

		b {
			width: 100%;
			display: block;
		}
	}

	td {
		height: 70px;
	}
}

.table_text_center {
	td,
	th {
		text-align: center;
	}
}

.table_fixed {
	overflow-y: unset;
	max-height: initial;
	@include scrollTable;

	tbody {
		display: block;
		overflow-x: auto;
		overflow-y: scroll;
		height: 100%;
		@include scrollTable;
	}

	thead,
	tbody tr {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	tr {
		td:first-child {
			//width: 10%;
		}

		td,
		th {
			white-space: normal !important;
		}
	}

	&.hasCollapse {
		.child.active {
			display: flex;
		}
	}
}

.sales_status_table table {
	min-width: 740px;
	td,
	th {
		border-bottom: solid 1px #6d30ab !important;
		box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1);
	}
}

.table-responsive {
	overflow-x: auto;
	@include scrollTable;

	table {
		//width: 740px;
	}
}

.table-sticky {
	td,
	th {
		border-top: none;
	}

	td.border-bottom-none {
		border-bottom: none !important;
		box-shadow: none;
	}
	tbody {
		height: 300px;
		overflow-y: auto;
		width: 100%;
		/* for custom scrollbar for webkit browser*/

		@include scrollTable() //&::-webkit-scrollbar {
			//  width: 6px;
			//}
			//
			//&::-webkit-scrollbar-track {
			//  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			//}
			//
			//&::-webkit-scrollbar-thumb {
			//  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			//};;
	}
	thead,
	tbody,
	tr,
	td,
	th {
		display: block;
	}
	tbody td,
	tbody th,
	thead > tr > th {
		float: left;
		position: relative;

		&::after {
			content: "";
			clear: both;
			display: block;
		}
	}
}

@for $i from 1 to 26 {
	.fs-#{$i} {
		font-size: $i + px !important;
	}
}

.block-name {
	height: 40px;
	box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.1);
	background-color: #f06464;
	color: #fff;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

a[ref="change-avatar"] {
	color: #6d30ab;
	text-decoration: underline;
	font-size: 14px;
}

[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled,
button:disabled {
	opacity: 0.5;
}

.btn-uni-blue-outline {
	border: solid 1px #367be3;
	background-color: #ffffff;
	font-size: 14px;
	text-align: center;
	color: #367be3;
	padding: 6px 30px !important;
}

.btn-uni-purple-outline {
	border: solid 1px #6d30ab;
	background-color: #ffffff;
	font-size: 14px;
	text-align: center;
	color: #6d30ab;
	padding: 6px 30px !important;
}

.pwd-hasEye {
	position: relative;

	.form-control {
		padding-right: 35px;
	}

	.icon {
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);

		&:hover {
			color: #6d30ab;
		}
	}
}

.img-thumbnail {
	border-radius: 0;
	width: 100%;
}

.opacity-0 {
	opacity: 0;
}

.batch_number {
	border: solid 1px #6d30ab;
	background-color: #f9f7fc;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	position: absolute;
	top: 50%;
	left: 0;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 20px;
	color: #6d30ab;
	font-weight: 500;

	&.active {
		border: solid 1px #ee7777;
		background-color: #fff2f2;
		color: #e94c4c;
	}
	&.tba {
		background-color: #ebebeb;
		border: solid 1px #ebebeb;
		color: #6d6d6d;
		font-weight: normal;
	}
}

.m_heading {
	@media (max-width: 991px) {
		.m_search {
			width: 100%;
			order: 2;
			&--input {
				flex: 1;
			}
		}
	}
	@media(max-width:480px){
		.dropdown{
			width: 100%;
			button{
				width: 100%;
			}
		}
		
	}

	.dropdown {
		.dropdown-menu {
			border-radius: 0;
			width: 100%;
			max-height: 300px;
			overflow-y: auto;

			/*change the thinkness of the scrollbar here*/
			&::-webkit-scrollbar {
				width: 7px;
				height: 7px;
			}

			/*add a shadow to the scrollbar here*/
			&::-webkit-scrollbar-track {
				-webkit-border-radius: 0;
				border-radius: 0;
				background-color: #d4d1d1;
			}

			/*this is the little scrolly dealio in the bar*/
			&::-webkit-scrollbar-thumb {
				-webkit-border-radius: 0;
				border-radius: 0;
				background: #9f9c9c;
				outline: 1px solid #9f9c9c;
				height: 3px;
			}

			/*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
			&::-webkit-scrollbar-corner {
				display: none;
				height: 0px;
				width: 0px;
			}
		}

		.dropdown-item {
			color: #000000;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			white-space: normal;
			// padding-left: 0;
			// padding-right: 15px;

			padding-left: 10px;
			padding-right: 10px;

			&:not(:last-child) {
				border-bottom: 1px solid #ddd;
			}
		}

		.icon-dropdown {
			font-size: 22px;
			font-weight: 900;
			color: #6d30ab;
			padding-right: 8px;
		}
	}

	&--title {
		font-size: 18px;
		font-weight: 500;
		display: block;
		line-height: normal;
		text-transform: uppercase;

		.sub-title {
			width: 100%;
			font-size: 14px;
			font-weight: 300;
			color: #999999;
			text-transform: initial;
			font-style: italic;
			display: block;
		}
	}
}

.dropdown.hasArrow {
	&.top {
		.dropdown-menu.show {
			transform: translate3d(-75px, -50px, 0px) !important;

			&::before {
				bottom: -4px;
			}
		}
	}

	&.bottom {
		.dropdown-menu.show {
			transform: translate3d(-75px, 25px, 0px) !important;

			&::before {
				top: -4px;
			}
		}
	}

	.dropdown-menu.show {
		box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.16);
		border: solid 1px #d8d8d8;

		&::before {
			position: absolute;
			content: "";
			width: 10px;
			height: 10px;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			border: solid 1px #d8d8d8;
			background: #fff;
		}

		.dropdown-item {
			position: relative;
			z-index: 1;
			background-color: #fff;
		}
	}
}

.scan_qrcode {
	max-width: 130px;
	margin: 0 auto;
	padding-bottom: 70px;

	.text {
		font-weight: 500;
		text-align: center;
		color: #6d30ab;
		font-size: 16px;
		text-align: center;
		display: block;
	}

	.loading {
	}

	&--error {
		max-width: 90%;
		margin: 0 auto;
		margin-bottom: 20px;

		.image {
			max-width: 65px;
			margin: 0 auto;
		}

		.title {
			font-weight: 500;
			color: #000000;
			margin-bottom: 5px;
		}

		.des {
			color: #6d6d6d;
			margin-bottom: 0;
		}
	}
}

.spinnerCode {
	position: relative;

	&:before,
	&:after {
		content: "";
		position: relative;
		display: block;
	}

	&:before {
		animation: spinnerCode 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		width: 50px;
		height: 50px;
		border-radius: 8px;
		background-color: #6d30ab;
		margin: 0 auto;
		top: 30px;
	}

	&:after {
		animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		bottom: -45px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.2);
		width: 50px;
		height: 22px;
		margin: 0 auto;
	}

	@keyframes spinnerCode {
		50% {
			border-radius: 50%;
			transform: scale(0.5) rotate(360deg);
		}

		100% {
			transform: scale(1) rotate(720deg);
		}
	}

	@keyframes shadow {
		50% {
			transform: scale(0.5);
			background-color: rgba(#000, 0.1);
		}
	}
}

.spinner {
	position: relative;

	&:before,
	&:after {
		content: "";
		position: relative;
		display: block;
	}

	&:before {
		animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		width: 1em;
		height: 1em;
		background-color: #fff;
	}

	&:after {
		animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		bottom: -0.5em;
		height: 0.25em;
		border-radius: 50%;
		background-color: rgba(#000, 0.2);
	}
}

@keyframes spinner {
	50% {
		border-radius: 50%;
		transform: scale(0.5) rotate(360deg);
	}

	100% {
		transform: scale(1) rotate(720deg);
	}
}

@keyframes shadow {
	50% {
		transform: scale(0.5);
		background-color: rgba(#000, 0.1);
	}
}

.line_center {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 1px;
	height: 98%;
	background-color: #6d6d6d;
}

.opacity-3 {
	opacity: 0.3;
}

input,
textarea {
	outline: none;
}

.select2-container--open {
	z-index: 9999999;
}

.select2-dropdown {
	border-radius: 0;
}

.select2-selection--single {
	outline: none;
	box-shadow: none;
}

.select2-container--disabled .select2-selection--single {
	background-color: #ebebeb !important;
}

.select2-container--open .select2-dropdown--below {
	border-radius: 0;
}

.select2-selection--multiple {
	.select2-selection__rendered {
		padding-left: 15px !important;
	}

	.select2-search__field {
		margin-top: 0 !important;
	}
}

.m_slider {
	@media (max-width: 1199px) {
		max-width: 100%;
	}

	.slick-track {
		display: flex;
	}

	.slider {
		height: 0;
		opacity: 0;

		&.slick-initialized {
			opacity: 1;
			height: auto;
		}

		.slick-slide {
			outline: none;
			display: flex;
			align-items: center;
			height: auto;
			background: white;
			margin: 0 3px;
			img {
				border: none;
			}
		}
	}

	.slider-nav {
		.slick-slide {
			@media (max-width: 1199px) {
				max-height: 75px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			// img{
			//     @media(max-width:1199px){
			//         position: absolute;
			//         max-height: 100%;
			//         min-width: auto;
			//         width: auto;
			//         left: 50%;
			//         top: 0;
			//         transform: translateX(-50%);
			//         -moz-transform: translateX(-50%);
			//         -o-transform: translateX(-50%);
			//         -webkit-transform: translateX(-50%);
			//     }

			// }
		}
	}

	.slider-single {
		.slick-slide {
			margin: 0;
			img {
				@media (max-width: 1199px) {
					min-width: auto;
				}
			}
		}
	}
}

.sales_tabs {
	.nav-tabs {
		@media (max-width: 991px) {
			border-bottom: none;
		}

		.nav-item {
			margin-bottom: -1px !important;
			flex: 1;
			@media (max-width: 991px) {
				flex: 0 0 33.3%;
				margin-bottom: 2px !important;
			}
			@media (max-width: 480px) {
				flex: 0 0 49%;
			}

			&.active {
				border-bottom: 0px;
			}

			.nav-link {
				display: flex !important;
				justify-content: center;
				padding: 9px 5px;
				text-align: center;
				height: 100%;
				text-transform: uppercase;
				@media (max-width: 991px) {
					box-shadow: none !important;
					align-items: center;
				}
			}
		}

		&.nav-top-border .nav-item a.nav-link.active {
			border: 1px solid #6d30ab;
			border-bottom: none;
			color: #000000;
			background-color: #ffffff;
			font-weight: 500;
			box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
			@media (max-width: 991px) {
				border: 1px solid #6d30ab;
			}
		}

		&.nav-top-border .nav-item a {
			color: #000000;
			font-size: 14px;
			background-color: #ebebeb;
			font-weight: 500;
			border-left: 1px solid #ffffff;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
			border-radius: 0 !important;
		}
	}
}

.m_grid--list_project {
	@media (max-width: 1199px) {
		margin-top: 20px;
	}

	.item {
		.image {
			height: auto;
			position: relative;
			&::before{
				content: "";
				display: block;
				padding-top: 67%;
			}
			img{
				width: 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}

		.icon {
			color: #6d30ab;

			&.cart {
				font-size: 18px;
			}
		}

		.news {
			position: relative;

			.badge {
				position: absolute;
				right: -7px;
				top: -7px;
				font-size: 8px;
				font-family: "Roboto";
				font-weight: normal;
				line-height: normal;
				padding: 1px 3px;
			}
		}

		.content {
			.name {
				color: #6d30ab;
			}

			.address {
				font-size: 14px;
				line-height: 1.5;
			}

			.details {
				position: relative;
				li {
					padding-bottom: 8px;
    				padding-left: 25px;
				}
				i{
					position: absolute;
					left: 0;
				}
				.la {
					font-size: 15px;
				}

				.title {
					padding-left: 0;
				}

				.text {
				}
			}
		}
	}
}

.m-action {
	.dropdown-toggle {
		font-weight: 500;
	}

	&.show {
		.dropdown-toggle {
			background-color: #367be3;
			color: #fff;

			&::after {
				color: #fff;
			}
		}

		.dropdown-menu {
			border: solid 1px #367be3;
		}

		.dropdown-item {
			border: none !important;
			color: #367be3;

			.icon-dropdown {
				color: #367be3;
				padding-right: 8px;
				font-weight: 900;
				font-size: 16px;
			}

			&:hover {
				background-color: #eee;
			}
		}
	}
}

.custom_select2_multiple {
	select.form-control[multiple],
	select.form-control[size] {
		height: auto !important;
	}

	.select2 {
		width: 100% !important;
		height: auto !important;
		min-height: 40px;

		.select2-selection__choice {
			background-color: #eaf3ff !important;
			position: relative;
			padding-right: 30px !important;
			padding-left: 10px !important;
			border-radius: 4px !important;
		}

		.select2-selection__choice__remove {
			position: absolute !important;
			right: 4px !important;
			width: 16px;
			height: 16px;
			color: #999999;
			border: 1px solid;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			top: 50%;
			transform: translateY(-50%);
			border-color: transparent;
		}

		.select2-selection--multiple {
			min-height: 40px;
			overflow: hidden !important;
			height: auto !important;
			position: static !important;

			.select2-selection__rendered {
				flex-wrap: wrap;
			}
		}
	}
}

.min-width-100-pc {
	// overflow: unset;
	@media (max-width: 1400px) {
		overflow-x: auto;
	}

	table {
		min-width: 100% !important;

		@media (max-width: 991px) {
			min-width: 1200px !important;
		}
	}
}

.max-width-100 {
	max-width: 100% !important;
}

.max-height-100 {
	max-height: 100% !important;
}

.min-height-40 {
	min-height: 40px !important;
}

.min-width-button {
	min-width: 190px;
	@media (max-width: 767px) {
		min-width: 140px;
	}
}

.width-110 {
	max-width: 110px;
	width: 100%;
}

.min-width-110 {
	min-width: 110px !important;
}

.max-width-130 {
	max-width: 130px !important;
}

.min-width-140 {
	min-width: 140px !important;
}

.max-width-140 {
	max-width: 140px !important;
}

.min-width-230 {
	min-width: 230px !important;
}

.min-width-65 {
	min-width: 65px !important;
}

.min-width-80 {
	min-width: 80px !important;
}

.max-width-auto {
	max-width: unset !important;
}

.whitespace-normal {
	white-space: normal !important;
}

.flex_1 {
	flex: 1;

	@media (max-width: 1199px) {
		flex: auto;
		padding: 8px 0;
	}
}

.sales_list_button {
	* {
		margin-bottom: 5px;
		&:not(:first-child) {
			margin-left: 15px;
		}
	}
}

.group_value_percent {
	display: flex;

	&.on-modal {
		.group_value_percent--child {
			flex-direction: row;
			flex: 1;
		}

		.group_value_percent--unit {
			border-left: solid 1px #d8d8d8;
		}
	}

	&--child {
		display: flex;
		flex-direction: column;
		border: solid 1px #d8d8d8;

		&.single {
			flex-direction: row;

			.group_value_percent--unit {
				border-left: solid 1px #d8d8d8;
			}

			.group_value_percent--item {
				border-bottom: none;
			}
		}

		&:nth-child(2) {
			border-left: none;
		}
	}

	&--item {
		height: 40px;
		border-bottom: solid 1px #d8d8d8;

		&:nth-child(2) {
			border-bottom: none;
		}
	}

	&--value {
		background-color: #ebebeb;
		color: #000000;
		padding: 10px 12px;
		width: 100%;
		text-align: right;
	}

	&--unit {
		background-color: #f9f9f9;
		color: #6d6d6d;
		padding: 0 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 55px;
		width: 100%;
	}
}

.heading-outline {
	border: solid 1px #367be3;
	background-color: #ffffff;
	font-weight: 500;
	color: #367be3;
	padding: 9px 20px;
}

.btn_dropdown_outline {
	border: 1px solid #367be3;
	background-color: #ffffff;
	color: #367be3;
	padding: 9px 20px;
	padding-right: 40px;
	margin: 0;
	text-transform: none;
	cursor: pointer;
	font-size: 14px;
	min-width: 72px;

	&::after {
		border: none;
		content: "\f107";
		font-family: "Line Awesome Free";
		font-weight: 900;
		font-size: 11px;
		color: #367be3;
	}
}

.btn_outline-purple {
	border: 1px solid #6d30ab;
	background-color: #ffffff;
	color: #6d30ab;
	padding: 9px 20px;
	padding-right: 40px;
	padding-left: 15px;
	margin: 0;
	text-transform: none;
	cursor: pointer;
	position: relative;
	width: 100%;
	min-width: 72px;
	text-align: left;

	&::after {
		border: none;
		content: "\f107";
		font-family: "Line Awesome Free";
		font-weight: 900;
		font-size: 11px;
		color: #6d30ab;
		right: 10px;
		position: absolute;
	}
}

.form-group {
	label {
		width: 100%;
	}

	textarea {
		border: solid 1px #d8d8d8;
		background-color: #fff;
		border-radius: 0;
		padding-left: 14px;
		font-size: 14px;
		color: #000;
		border-radius: 0 !important;

		@mixin placeholder {
			font-style: italic;
			font-weight: normal;
			font-weight: 300;
			color: #999999;
			font-size: 14px;
		}

		&::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			@include placeholder;
		}

		&::-moz-placeholder {
			/* Firefox 19+ */
			@include placeholder;
		}

		&:-ms-input-placeholder {
			/* IE 10+ */
			@include placeholder;
		}

		&:-moz-placeholder {
			/* Firefox 18- */
			@include placeholder;
		}
	}
}

.form-control {
	background-clip: unset !important;
	border-radius: 0 !important;

	&.acreage {
		border: solid 1px #d8d8d8;
		background-color: #f9f9f9 !important;
		color: #333333;
		width: 70px;
		text-align: center;
		border-left: none;
	}

	&:disabled,
	&[readonly] {
		background-color: #ebebeb;
	}
}

.m_drag-images {
	position: relative;
	height: 100%;

	@media (max-width: 991px) {
		min-height: 300px;
	}

	.input {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		opacity: 0;
		z-index: 1;
		cursor: pointer;
		display: flex;
	}

	.text {
		position: absolute;
		background-color: #ebebeb;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 0;

		span {
			color: #6d6d6d;
			font-style: italic;
			margin-top: 13px;
		}

		i {
			color: #6a32ae;
			font-size: 26px;
			width: 74px;
			height: 74px;
			background-color: #fff;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			&:after {
				position: absolute;
				content: "";
				width: calc(100% - 12px);
				height: calc(100% - 12px);
				border-radius: 50%;
				top: 6px;
				left: 6px;
				border: 1px solid #6a32ae;
			}
		}
	}

	#div_image_preview {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 300px;
		margin: 0 auto;
	}
}

.m_pager {
	.form-group {
		margin-bottom: 0;
	}

	.text-page {
		align-items: center;
	}
}

.m_table {
	padding-bottom: 5px;

	.border-th {
		box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2);
		border-bottom: solid 1px #6d30ab;
		padding-bottom: 8px;
	}

	/*change the thinkness of the scrollbar here*/
	&::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	/*add a shadow to the scrollbar here*/
	&::-webkit-scrollbar-track {
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	/*this is the little scrolly dealio in the bar*/
	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background: #dbdbdb;
		outline: 1px solid #dbdbdb;
		height: 3px;
	}

	/*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
	&::-webkit-scrollbar-corner {
		display: none;
		height: 0px;
		width: 0px;
	}
}

.m_table--sales {
	@mixin borderBottom {
		position: absolute;
		content: "";
		bottom: -1px;
		left: 0;
		height: 0.052vw;
		background: #6d30ab;
		width: 100%;
		box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2);
	}

	tr {
		&.vertical-bottom {
			* {
				vertical-align: bottom;
			}
		}
	}

	th,
	td {
		//border-bottom: none;
		border-bottom: solid 1px #6d30ab !important;
		// box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 0px 0 #6d30ab;
		//&::after {
		//    @include borderBottom;
		//}
	}

	thead {
		th {
			//border-bottom:none;
			//border-bottom: solid 1px #6d30ab;
			padding: 0.9rem 1rem;
			padding-bottom: 15px;
			font-size: 16px;

			// background: white;
			// position: sticky;
			// top: 0;
			// z-index: 11;
			position: relative;
		}
	}

	td {
		// box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2);
		// border-bottom: solid 1px #6d30ab;
		position: relative;
		//border-bottom: none;
		padding: 0.9rem 1.2rem;

		&.border-bottom-none {
			border-bottom: solid 1px #fff !important;
			box-shadow: none !important;
			border-top: none !important;
			height: 100%;

			&::after {
				display: none;
			}
		}
	}

	.icon_sort {
		transform: rotate(90deg) translateY(-5px);
		color: #6d30ab;
		font-size: 18px;
		cursor: pointer;
	}

	&.padding-lr-0 {
		td,
		th {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.files {
		display: flex;
		align-items: center;
		border: none;
		.file_image {
			width: 18px;
			margin-right: 6px;
			margin-left: 0;
			margin-bottom: 0;
			img {
				width: 100%;
			}
		}

		.file_name {
			color: #399b54;
			text-decoration: underline;
			white-space: initial;
		}
	}

	.updates {
		.name {
			color: #333333;
			font-weight: 500;
		}

		.date {
			color: #333333;
			font-size: 11px;
		}
	}

	.icon {
		// font-size:18px;
		font-size: 20px;
		font-weight: 900;
		color: #6d30ab;
		cursor: pointer;

		&.icon_collapse {
			&.active {
				&::before {
					content: "\f056";
				}
			}
		}
		&.icon_toggle {
			&.active {
				&::before {
					content: "\f056";
				}
			}
		}

		&.icon_collapse.angle {
			font-size: 18px;

			&.active {
				&::before {
					content: "\f106";
					// content: "\f107";
				}
			}
		}
	}

	.icon-dots {
		font-size: 21px;
		color: #6d30ab;
	}

	.list_project {
		display: flex;
		padding: 0;
		margin: 0;
		border: solid 1px #6d30ab;
		flex-direction: column;
		max-width: 140px;

		li {
			list-style: none;

			font-weight: 500;
			color: #6d30ab;
			min-height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			padding: 5px;

			&:not(:last-child) {
				border-bottom: solid 1px #6d30ab;
			}

			&.active,
			&:hover {
				background-color: #6d30ab;
				color: #fff;
			}
		}
	}

	.child {
		display: none;

		&.active {
			display: table-row;
		}
	}

	tr.highlight {
		td {
			background-color: #fff7e6;

			&.no-highlight {
				background-color: transparent;
			}

			&.border-bottom-none {
				background-color: transparent;
			}

			&.null {
				background-color: transparent;
			}
		}
	}

	tr.none-highlight {
		td {
			background-color: transparent;
		}
	}

	tr.highlightBolder {
		td {
			background-color: rgba(233, 76, 76, 0.07);

			&.border-bottom-none {
				background-color: transparent;
			}

			&.null {
				background-color: transparent;
			}
		}
	}

	tr.vertical-top {
		td {
			vertical-align: top;
		}
	}

	.form-group {
		.select2 {
			width: 100% !important;
		}

		.select2-container--default .select2-selection--single .select2-selection__rendered {
			padding-left: 10px;
			padding-right: 28px;
		}
	}

	.dropdown-menu {
		padding-left: 10px;
		padding-right: 10px;

		.dropdown-item {
			color: #000000;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-right: 15px;
			padding-left: 0;

			&:not(:last-child) {
				border-bottom: 1px solid #ddd;
			}
		}

		.icon-dropdown {
			font-size: 22px;
			font-weight: 900;
			color: #6d30ab;
			padding-right: 8px;
		}
	}
}

.input_open_sale {
	width: 65px;

	input,
	input:disabled,
	input:read-only {
		background-color: #6d30ab !important;
		font-weight: 500;
		color: #fff !important;
		padding: 7px 12px;

		&::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			color: #fff;
		}

		&::-moz-placeholder {
			/* Firefox 19+ */
			color: #fff;
		}

		&:-ms-input-placeholder {
			/* IE 10+ */
			color: #fff;
		}

		&:-moz-placeholder {
			/* Firefox 18- */
			color: #fff;
		}
	}
}

.input_date {
	display: flex;
	align-items: center;

	.text_date {
		color: #6d30ab;
		padding-right: 15px;
	}

	input {
		width: 185px;
	}
}

.input_revenue {
	input {
		width: 83px;

		&:disabled,
		&:read-only {
			color: #e94c4c;
			font-weight: 500;
			background-color: #ebebeb;
			text-align: center;

			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				font-weight: 500;
				color: #e94c4c;
				text-align: center;
			}

			&::-moz-placeholder {
				/* Firefox 19+ */
				font-weight: 500;
				color: #e94c4c;
				text-align: center;
			}

			&:-ms-input-placeholder {
				/* IE 10+ */
				font-weight: 500;
				color: #e94c4c;
				text-align: center;
			}

			&:-moz-placeholder {
				/* Firefox 18- */
				font-weight: 500;
				color: #e94c4c;
				text-align: center;
			}
		}
	}

	.m_select_wrapper {
		&::before {
			font-size: 16px;
			right: 12px;
		}

		select {
			padding-left: 9px;
			padding-right: 30px;
			color: #6d6d6d;

			&:disabled {
				font-style: normal;
				border: solid 1px #d8d8d8;
				background-color: #f9f9f9 !important;
				color: #6d6d6d;
			}
		}
	}
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	-ms-appearance: textfield;
	-o-appearance: textfield;
	outline: none;
	box-shadow: none;

	&:focus,
	&:hover {
		outline: none;
		box-shadow: none;
	}

	/* Chrome, Safari, Edge, Opera */
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.icon-dots {
	font-size: 21px;
	color: #6d30ab;
}

.icon_noti {
	position: relative;
	color: #fb9334 !important;
	font-size: 22px;

	small {
		position: absolute;
		top: -2px;
		right: 0;
		border-radius: 50%;
		width: 14px;
		height: 14px;
		box-shadow: 0 0 4px 0 rgba(109, 109, 109, 0.17);
		color: #ebebeb;
		font-size: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.data_null {
	margin-top: 80px;
	margin-bottom: 80px;
	max-width: 245px;
	margin-left: auto;
	margin-right: auto;

	&--image {
		position: relative;

		img {
			width: 100%;
		}
	}

	&--text {
		position: absolute;
		height: 74px;
		width: 100%;
		background-color: #ffffff;
		font-size: 20px;
		text-align: center;
		color: #6d6d6d;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.leaflet-control-zoom {
	border-radius: 0 !important;

	a {
		border-radius: 0 !important;
	}
}

.input-group-text {
	border: solid 1px #d8d8d8;
	background-color: #f9f9f9;
	border-radius: 0 !important;
}

.sales_number_selected {
	display: inline-flex;

	.selected {
		padding: 0 15px;
		min-width: 80px;

		&:not(:last-child) {
			position: relative;

			&::before {
				position: absolute;
				content: "";
				background-color: #999999;
				width: 1px;
				height: 18px;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&_01 {
			font-weight: 500;
			color: #9155ce;
			text-align: right;
		}

		&_02 {
			font-weight: 500;
			color: #f06464;
			text-align: left;
		}
	}
}

.sales_select-dates {
	display: flex;
	justify-content: flex-end;

	.item {
		width: 50%;
		max-width: 135px;

		&:first-child {
			margin-right: 30px;
			@media(max-width: 992px){
				margin-right: 15px;
			}
		}

		.text {
			line-height: 1.38;
			color: #6d6d6d;
			margin-bottom: 6px;
		}

		.m_datepicker {
			input {
				border-radius: 5px;
				border: solid 1px #d8d8d8;
				height: 30px;
				font-size: 12px;
				color: #000000;
				cursor: pointer;
				padding-right: 20px;
			}

			&::before {
				content: "\f107";
				font-size: 12px;
				font-weight: 900;
				height: 100%;
				@media(max-width: 992px){
					right: 5px;
				}
			}
		}
	}
}

.floor_selected {
	border: solid 1px #6d30ab;
	display: inline-flex;

	a {
		text-decoration: underline;
	}

	.floor {
		background-color: #6d30ab;
		font-weight: 500;
		color: #ffffff;
		min-width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 12px;
	}

	.agency {
		font-weight: 500;
		padding: 8px 19px;
		border-right: solid 1px #6d30ab;
	}

	.internal {
		font-weight: 500;
		padding: 8px 19px;
	}

	.channel {
		min-height: 38px;
	}
}

.m_datepicker {
	&::before {
		z-index: 2;
	}
}

.datepicker {
	th {
		padding: 8px 10px;
	}

	td {
		padding: 4px 10px;
	}

	table {
		box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
	}
}

.link_href_000 {
	text-decoration: underline;
	color: #000;
	font-weight: 500;

	&:hover {
		color: initial;
	}
}

.link_href_6d30ab {
	text-decoration: underline;
	color: #6d30ab;
	font-weight: 500;

	&:hover {
		color: initial;
	}
}

.statistical_list_href {
	display: flex;

	a {
		text-align: center;
		text-decoration: underline;
		flex: 1;
		font-weight: 500;
		padding: 14px;
		box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.1);
		@media (max-width: 767px) {
			padding: 14px 8px;
		}
	}

	&_01 {
		color: #51c471;
		border: solid 1px #7bce92;

		&:hover {
			color: #51c471;
		}
	}

	&_02 {
		color: #219dfd;
		border: solid 1px #219dfd;

		&:hover {
			color: #219dfd;
		}
	}
}

.sales_input_group {
	display: flex;
}

.light_image {
	max-width: 12px;
	width: 100%;
	margin-right: 10px;

	img {
		width: 100%;
	}
}

.m_filter_alphabet {
	display: flex;
	flex-wrap: wrap;

	a {
		color: #000000;
		position: relative;
		padding-left: 9px;
		padding-right: 9px;
		text-transform: uppercase;

		&:not(:last-child) {
			&::before {
				position: absolute;
				content: "";
				width: 1px;
				height: 10px;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				background-color: #ddd;
			}
		}

		&.active,
		&:hover {
			color: #6d30ab;
		}
	}
}

.sales_star {
	position: absolute;
	left: -25px;
	font-size: 14px;
	line-height: 18px;
	color: #6d30ab;
}

.min-max {
	flex-wrap: unset !important;

	* {
		height: 40px;
	}

	&.heading {
		.icon {
			justify-content: center;
		}

		input {
			border: solid 1px #6d30ab;
			text-align: center;
		}

		.input-group-text {
			border: solid 1px #6d30ab;
			background-color: #6d30ab;
			color: #fff;
		}
	}

	.icon {
		color: #ffffff;
		padding: 0 10px;
		background-color: #e94c4c;
		display: flex;
		align-items: center;
		font-size: 14px;
		min-width: 55px;
		margin: 0;
	}

	input {
		color: #6d30ab;
		font-weight: 500;
		max-width: 56px;
		width: 100%;
		min-width: 55px !important;
		text-align: center;
		border-radius: 0;
		border: solid 1px #d8d8d8;
		text-align: left;
		padding-left: 5px;
		padding-right: 5px;
	}

	.min {
		border-right: 0 !important;
	}

	.max {
		border-left: 0 !important;
	}

	.input-group-text {
		border: solid 1px #d8d8d8;
		background-color: #f9f9f9;
		color: #000000;
		border-left: none;
		border-radius: 0;
		min-width: 40px;
		text-align: center;
	}
}

.modal {
	padding: 0 !important;
	.modal-content {
		border-color: #fff;
		background: #fff;
	}
	&.show {
		.modal-dialog {
			margin-left: auto;
			margin-right: auto;
			max-width: 95%;
			@media (max-width: 1199px) {
				max-width: 90%;
				// margin-left: 30px;
				// margin-right: 30px;
			}

			&.center {
				height: 90%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			@media (max-width: 767px) {
				max-width: 95% !important;
			}
		}
	}

	.modal-content {
		overflow-y: auto;
		/*change the thinkness of the scrollbar here*/
		&::-webkit-scrollbar {
			width: 7px;
			height: 7px;
		}

		/*add a shadow to the scrollbar here*/
		&::-webkit-scrollbar-track {
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}

		/*this is the little scrolly dealio in the bar*/
		&::-webkit-scrollbar-thumb {
			-webkit-border-radius: 5px;
			border-radius: 5px;
			background: #dbdbdb;
			outline: 1px solid #dbdbdb;
			height: 3px;
		}

		@media (max-width: 991px) {
			max-height: 70vh;
		}
	}

	.modal-body {
		padding-left: 25px;
		padding-right: 25px;
		border: 1px solid #fff;
	}
}

.note-editor {
	width: 100%;
    // border: none !important;
}
.note-placeholder{
	font-family:'Roboto';
	font-style: italic;
	font-weight: 300;
}

.summernoteOnHead {
	.note-toolbar {
		background-color: #f3f3f3;
		border-bottom: 1px solid #d8d8d8;
		padding: 0 5px;
	}

	.note-editor.note-airframe,
	.note-editor.note-frame {
		border: 1px solid #d8d8d8;
	}

	.note-popover .popover-content > .note-btn-group,
	.note-toolbar > .note-btn-group {
		margin: 0;
		border-right: 1px solid #d8d8d8;
	}

	.btn-group {
		padding: 0px 5px;
	}

	.dropdown-toggle::after {
		display: none;
	}

	.dropdown-menu {
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		border: 1px solid rgba(0, 0, 0, 0.15);
		background-color: #fff;
		padding: 5px 0;
		margin: 2px 0 0;

		a {
			display: block;
			padding: 3px 10px;
			margin-left: 0;
			clear: both;
			font-weight: 400;
			line-height: 1.42857143;
			color: #333;
			white-space: nowrap;
			position: relative;
		}
	}
}

.bg-f9f9f9 {
	.select2-selection--single {
		background-color: #f9f9f9 !important;
	}

	.select2 {
		width: 100% !important;
	}
}

.exclamation {
	position: relative;
	display: inline-flex;
	margin-right: 15px;

	.icon {
		color: #e94c4c;
		font-size: 22px;
		margin: 0;
	}

	.text {
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 12px;
		height: 12px;
		background-color: #e94e4e;
		color: #fff;
		position: absolute;
		right: 1px;
		top: -2px;
		font-weight: 500;
		font-size: 7px;
		font-style: normal;
	}
}

.input_file {
	height: 103px;
	width: 100%;
	position: relative;
	overflow: hidden;
	border: dashed 1px #c2c2c2;

	.form-control {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		cursor: pointer;
		opacity: 0;
		z-index: 1;
	}

	.center {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		padding-left: 50px;
		@media (max-width: 480px) {
			width: 100%;
			max-width: 95%;
		}

		&::before {
			position: absolute;
			content: "\f0c6";
			font-size: 50px;
			left: 0;
			font-family: "Line Awesome Free";
			font-weight: 900;
			color: #e3e3e3;
		}
	}

	.center .image {
		margin-right: 10px;
	}

	.text {
		color: #878787;
		font-size: 12px;
		font-weight: normal;
	}
}

.action_right {
	width: 30px;
	text-align: center;
	box-shadow: 0 4px 10px 0 rgba(109, 109, 109, 0.2);

	position: absolute;
	top: 40px;
	right: 40px;
	cursor: pointer;

	.action {
		padding: 5px 0;
		position: relative;
		background-color: #ffffff;

		&.active {
			background-color: #367be3;

			i {
				color: #fff;
			}

			&::before {
				display: none;
			}
		}

		&:not(:last-child)::before {
			content: "";
			height: 1px;
			width: 20px;
			background-color: #e6e6e6;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		i {
			color: #367be3;
		}

		&.reDraw {
			margin-top: 7px;
		}
	}
}

.link_create_block {
	position: absolute;
	top: 40px;
	right: 90px;
	padding: 10px 40px;
	background-color: #6d30ab;
	border: 1px solid #6d30ab;

	a {
		color: #ffffff;
	}
}

.zoom {
	width: 30px;
	height: 60px;
	text-align: center;
	box-shadow: 0 4px 10px 0 rgba(109, 109, 109, 0.2);
	background-color: #ffffff;
	position: absolute;
	top: 40px;
	left: 40px;
	cursor: pointer;

	div {
		width: 100%;
	}

	.minus {
		position: relative;
		top: 5px;
	}

	.minus::before {
		content: "";
		width: 20px;
		height: 1px;
		background-color: #e6e6e6;
		position: absolute;
		left: 5;
		top: 23px;
		right: 5px;
	}

	.plus {
		position: relative;
		top: 15px;
	}
}

/*flag*/
.flag_item--service {
	position: relative;

	.text {
		display: flex;
		flex-direction: column;
		text-align: center;
		position: relative;
		z-index: 1;
		padding-top: 0.104vw;
		min-width: 8.854vw;

		// padding-top: 2px;
		// min-width: 170px;
		@media (max-width: 1199px) {
			padding-top: 2px;
			min-width: 150px;
		}
	}

	.icon {
		// font-size: 45px;
		font-size: 2.344vw;
		color: #ffffff;

		@media (max-width: 1199px) {
			font-size: 40px;
		}
	}

	.name {
		color: #ffffff;
		// font-size: 18px;
		font-size: 0.938vw;
		font-weight: 500;
		line-height: 1.28;
		letter-spacing: 0.54px;
		font-style: normal;
	}

	&::before,
	&::after {
		position: absolute;
		content: "";
	}

	&::before {
		width: 0.052vw;
		border-left: 0.104vw dashed #fff;
		// width: 1px;
		// border-left: 2px dashed #fff;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
		bottom: -100%;

		@media (max-width: 1199px) {
			width: 1px;
			border-left: 2px dashed #fff;
		}
	}

	&::after {
		height: 0.625vw;
		width: 0.625vw;
		// height: 12px;
		// width: 12px;
		border-radius: 50%;
		bottom: -100%;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;

		@media (max-width: 1199px) {
			height: 10px;
			width: 10px;
		}
	}
}

.flag_purple{
	position: relative;
	&.center{
		padding: 0;
		.line{
			display: none;
		}
	}
	&.top-left,&.top-right{
		// padding-bottom: 50px;
		padding-bottom: 10%;
		.line{
			left: 50%;
			transform: translateX(-50%);
		}
		.text{
			top: 0;
		}
	}
	&.bottom-left{
		padding-top: 50px;
		.line{
			top: 0; 
			right: 6px;
			&::before {
				top: 0;
			}
		}
	}	
	&.bottom-right{
		padding-bottom: 50px;
		.line{
			left: 6px;
			bottom: 0;
		}
	}
	&.middle-left{
		padding-right: 60px;
		margin-left: -115px;
		.line{
			height: 1px;
			width: 100%;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			&::before {
				right: 0;
			}
		}
	}
	&.middle-right{
		padding-left: 60px;
		margin-left: 115px;
		.line{
			height: 1px;
			width: 100%;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			&::before {
				left: 0;
			}
		}
	}
	.line{
		width: 1px;
		height: 50px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		background-color: #6143c3;
		position: absolute;
		&::before {
			content: "";
			position: absolute;
			height: 5px;
			width: 5px;
			right: -2px;
			bottom: -2px;
			border-radius: 50%;
			background-color: #6143c3;
		}
	}
	.text{
		width: 160px;
		font-size: 18px;
		color: #ffffff;
		font-weight: 500;
		letter-spacing: 0.54px;
		z-index: 1;
		display: block;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
		background-image: linear-gradient(104deg, #6b32ae 1%, #6143c3 51%, #6b35ab 101%);
		position: relative;
		z-index: 2;
		border: solid 0.5px #6d30ab;
		position: relative;
		overflow: hidden;
		text-align: center;
		i{
			font-style: normal;
			position: relative;
			display: block;
			padding: 10px;
			&::before{
				position: absolute;
				content: "";
				height: 100%;
				width: 100%;
				border: 1px solid rgba(255, 255, 255, 0.8);
				left: 0;
				top: 0;
			}
		}

		&::before,&::after{
			position: absolute;
			content: "";
			width: 35px;
			height: 35px;
			// background-image: url(../static/images/circle_white.png);
			background-repeat: no-repeat;
			background-position: top left;
			z-index: 3; 
		}
		&::before{
			left: 0;
			top: 0;
		}
		&::after{
			right: 0;
			bottom: 0;
			transform: rotate(180deg);
		}
		
	}
}


.flag_item--purple {
	position: relative;
    width: 160px;
	@media (max-width: 1199px) {
		padding: 8px 15px;
	}
	&::before{
		content: '';
		display: block;
		padding-top: 75%;
	}

	.line{
		width: 5px;
		height: 100%;
		right: 0;
		bottom: 0;
		background-color: #4a3bcc;
		position: absolute;
		&::before {
			content: '';
			position: absolute;
			height: 15px;
			width: 15px;
			right: -5px;
			border-radius: 50%;
			bottom:0;
			background-color: #4a3bcc;
		}
	}
	.text {
		font-size: 18px;
		color: #ffffff;
		font-weight: 500;
		letter-spacing: 0.54px;
		position: absolute;
		z-index: 1;
		width: 100%;
		display: block;
		background-image: linear-gradient(to bottom, #4a3bcc, #6d30ab);
		padding: 12px 20px;
		top: 0;
		// &::before,
		// &::after {
		// 	position: absolute;
		// 	content: "";
		// 	background-color: #4a3bcc;
		// }
		// @media (max-width: 767px) {
		// 	min-width: 150px;
		// 	font-size: 16px;
		// }
	}

	.content {
		background-image: linear-gradient(to bottom, #4a3bcc, #6d30ab);

		p {
			margin: 0;
		}

		.name {
			min-width: 170px;
			color: #ffffff;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.6px;
			text-align: center;
			color: #ffffff;
			display: block;
		}

		.option {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.item {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			&:first-child {
				// padding-right: 1.042vw;
				// margin-right: 1.042vw;
				padding-right: 20px;
				margin-right: 20px;

				// @media(max-width:767px) {
				//     padding-right: 15px;
				//     margin-right: 15px;
				// }
				&::before {
					// width: 0.052vw;
					// height: 0.781vw;
					width: 1px;
					height: 15px;
					position: absolute;
					content: "";
					background-color: #fff;
					right: 0;
					// @media(max-width:767px) {
					//     width: 1px;
					//     height: 12px;
					// }
				}
			}
		}

		.number {
			// font-size: 0.833vw;
			font-size: 16px;
			letter-spacing: 0.48px;
			color: rgba(255, 255, 255, 0.75);
			font-style: normal;

			@media (max-width: 767px) {
				font-size: 14px;
			}
		}

		.icon {
			// padding-right: 0.260vw;
			// font-size: 0.781vw;
			padding-right: 5px;
			font-size: 15px;
			color: #51c471;
			font-weight: 900;

			// @media(max-width:767px) {
			//     padding-right: 2px;
			//     font-size: 12px;
			// }
		}
	}
}

.flag_item--white {
	position: relative;

	.text {
		position: relative;
		z-index: 1;
		color: #ffffff;
		font-weight: 500;
		letter-spacing: 0.54px;
		color: #6d30ab;
		background-color: #fff;
		// font-size: 0.938vw;
		// min-width: 8.854vw;
		// padding: 0.521vw 1.042vw;
		// border: 0.052vw solid #6d30ab;
		font-size: 18px;
		min-width: 170px;
		padding: 10px 20px;
		border: 1px solid #6d30ab;

		// @media(max-width:767px) {
		//     font-size: 16px;
		//     min-width: 140px;
		//     padding: 6px 15px;
		//     border: 1px solid #6d30ab;
		// }
		&::before {
			position: absolute;
			content: "";
			right: 0;
			background-color: #fff;
			// width: 0.208vw;
			// height: 0.208vw;
			// bottom: -0.104vw;
			width: 4px;
			height: 4px;
			bottom: -2px;
			// @media(max-width:767px) {
			//     width: 3px;
			//     height: 3px;
			//     bottom: -1px;
			// }
		}
	}

	&::before,
	&::after {
		position: absolute;
		content: "";
		background-color: #fff;
		border: 1px solid #6d30ab;
	}

	&::before {
		width: 6px;
		height: 200%;
		right: 0;
		bottom: -200%;
		border-top: none;
	}

	&::after {
		height: 15px;
		width: 15px;
		border-radius: 50%;
		bottom: -200%;
		right: -4px;
	}
}

.sales_map {
	position: relative;
	overflow: hidden;
	&--block_info{
		background-color: rgba(0, 0, 0, 0.45);
		height: 100%;
		min-width: 330px;
		padding: 20px 24px;
		padding-right: 14px;
		position: absolute;
		z-index: 1;
		top: 0;
		left: -350px;
		transition: all 0.3s ease;
		&.active{
			left: 0;
		}

		.name{
			font-size: 20px;
			font-weight: bold;
			color: #ffffff;
			text-transform: uppercase;
			padding-bottom: 14px;
			margin-bottom: 15px;
			position: relative;
			&::before{
				position: absolute;
				content:'';
				height: 1px;
				width: 50px;
				background-color: #ffff;
				left: 0;
				bottom: 0;
			}
		}
		.list{
			max-height: 755px;
			overflow-y: auto;
			padding-right: 10px;
			@include scrollTable;
		}
		.item{
			margin-bottom: 10px;
			padding-left: 20px;
			position: relative;
		}
		.heading, .child{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.label{
			font-size: 13px;
			font-weight: bold;
			color: #ffffff;
			text-transform: uppercase;
		}
		.icon{
			position: absolute;
			color: #ffffff;
			left: 0;
			top: 5px;
		}
		.value{
			font-size: 13px;
			font-weight: 500;
			color: #6d30ab;
			padding:3px 10px;
			text-transform: uppercase;
			background-color: #fff;
			max-width: 200px;
		}
		.link{
			font-weight: 500;
			color: #ffffff;
			text-decoration: underline;

			&:hover{
				text-decoration: none;
			}
		}
		.child{
			margin-top: 10px;
		}
		.summary{
			height: 30px;
			display: flex;
			margin-top: 10px;
			> *{
				width: 100%;
				height: 100%;
				padding: 0 20px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.times{
				border: solid 1px #ffffff;
				color: #fff;
				font-size: 12px;
			}
			.channel{
				border: solid 1px #f4f4f4;
				background-color: #ffffff;
				font-size: 12px;
				font-weight: 500;
				color: #0d1a17;
				i{
					font-style: normal;
					color: #6d30ab;
				}
				&:not(:last-child){
					position: relative;
					&::before{
						position: absolute;
						content: '';
						width: 1px;
						height: 11px;
						background-color: #d8d8d8;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
					}
				}
			}
			.agency{
				
			}
			.internal{}
		}
	}
}

.map_detail {
	box-shadow: 0 3px 6px 0 rgba(43, 43, 43, 0.24);
	background-color: #ffffff;
	padding: 15px 20px 20px 20px;
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: -1;
	// visibility: hidden;
	opacity: 0;
	transition: all 0.1s ease;

	max-width: 225px;
	width: 100%;

	&.active {
		z-index: 1;
		// visibility: visible;
		opacity: 1;
	}

	&--name {
		font-size: 18px;
		font-weight: bold;
		color: #6d30ab;
		padding-bottom: 8px;
		margin-bottom: 10px;
		position: relative;

		&::before {
			position: absolute;
			content: "";
			height: 1px;
			width: 50px;
			bottom: 0;
			left: 0;
			background-color: #ddd;
		}
	}

	&--list {
		margin-bottom: 15px;
	}

	&--item {
		margin-bottom: 5px;
	}

	&--btn {
		.btn {
			font-size: 12px;
			border-radius: 0;
			max-width: 80px;
			width: 100%;
			padding: 5px !important;
		}
	}

	.icon {
		color: #51c471;
		padding-right: 5px;
	}

	.title {
		color: #6d6d6d;
	}

	.value {
		color: #000000;
	}
}

.loading_full {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999999;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all 0.2s ease-in-out;
	opacity: 1;

	&.invisible {
		opacity: 0;
	}

	.spinner-text {
		color: #fff;
		margin-top: 5px;
		padding-left: 15px;
	}

	.spinner-border {
		color: #fff;
		width: 3rem;
		height: 3rem;
	}
}

.exchange-rate {
	display: flex;
	align-items: center;

	.btn_outline-purple {
		font-weight: 500;
	}

	.dropdown {
		//width: 105px;
	}

	.dropdown-menu {
		//min-width: auto;
		//max-width: 105px;
		//width: 100% !important;
	}

	&__label {
		font-size: 12px;
		font-weight: 500;
		color: #000000;
		padding-right: 5px;
	}
}

.text-exchange-rate {
	letter-spacing: normal;
	color: #efeeff !important;

	&:hover {
		color: inherit;
	}
}

.loading_upload {
	height: 34px;
	border-radius: 3px;
	background-color: #9155ce;
	text-align: center;
	border: none;
	width: 100%;
	color: #fff;
}

.mapboxgl-ctrl-bottom-right {
	right: 15px !important;
	bottom: 15px !important;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

	.mapboxgl-ctrl-group {
		border-radius: 0 !important;
		box-shadow: none !important;
		background-color: #f3f3f3;
	}

	.mapboxgl-ctrl {
		margin: 0 !important;
	}

	.mapboxgl-ctrl-icon {
		background-image: none !important;
		position: relative;

		&:before {
			font-family: "Line Awesome Free";
			font-weight: 900;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 20px;
			color: #656565;
			position: absolute;
		}
	}

	.mapboxgl-ctrl-fullscreen {
		.mapboxgl-ctrl-icon {
			&:before {
				content: "\f0b2";
			}
		}
	}

	.mapboxgl-ctrl-zoom-in {
		.mapboxgl-ctrl-icon {
			&:before {
				content: "\f067";
			}
		}
	}

	.mapboxgl-ctrl-zoom-out {
		.mapboxgl-ctrl-icon {
			&:before {
				content: "\f068";
			}
		}
	}

	button {
		border: none;
		border-radius: 0;
	}

	button + button {
		border: none !important;
	}
}

.swal-icon--info {
	background: rgba(109, 48, 171, 0.9);
	&:before,
	&:after {
		background-color: #fff;
	}
}

@mixin smallCircleTop {
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: #e94c4c;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 8px;
	color: #ffffff;
	top: -1px;
    right: -1px;
	line-height: normal;
}
.icon_total_request {
	font-size: 24px !important;
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	small {
		@include smallCircleTop;
	}
	
}

.number_circle_top{
	position: relative;
	small {
		@include smallCircleTop;
		top: -6px;
		right: -5px;
	}
}

.parsley-required{
	white-space: pre-wrap;
}

.select2_currency{
	max-width: 85px;
	background-color: #f9f9f9;
}

.files{
	border-top: 1px solid #ddd;
	overflow-x: auto;
	max-width: 1020px;
	@include scrollTable;

	&_wrap{
		display: flex;
		padding: 15px 0 8px 0;
	}
	
	
	.file_item{
		display: inline-table;
		width: 200px;
		padding: 15px;
		margin:0 5px 5px 5px;
		box-shadow: 0 0 5px 0 rgba(206, 206, 206, 0.5);
		background-color: #ffffff;
		transition: all 0.3s ease;
		cursor: pointer;
		&:hover{
			box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
		}
		@media(max-width: 767px){
			width: 150px;
	   	}
	}
	.file_image{
		width: 100%;
		max-width: 60px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 12px;
		img{
			width: 100%;
		}
	}
	.file_name{
		color: #399b54;
		text-align: center;
		word-break: break-all;
	}
}



.sales_time-payment{
	@media(max-width: 768px){
		overflow-x: auto;
		@include scrollTable()
	}
	.m_table{
		@media(max-width: 768px){
			min-width: 650px;
			margin-bottom: 20px;
		}
	}
}


//my customize
.table-shadow-none td,.table-shadow-none th{
	box-shadow: none;
}

.table-bootstrap{
	td,th{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
}