.cursor-pointer{
    cursor: pointer;
}
.exchanges_apartment{
    overflow-x:auto;
    &--wrap{
        overflow: auto;
    }
    &--item{
        min-width: 665px;
    }
    &--heading {
        .filter{
            min-height: 41px !important;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    &--child{
        .number{
            background-color: #e94c4c !important;
        }
        .direction{

        }
        .right{
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(center);
        }
        .line .number{
            top: -12px !important;
        }
    }
}
.striking_apartment--content .card-body{
    background-color: #fff;
    border: 1px solid #ededf4;
}