.header {
    .languages{
        button{
            border: none;
            background-color: transparent;
            outline: none;
            box-shadow: none;
            width: 100%;
        }
        .language_link{
            padding: 10px 15px;
        }
    }
    .header_menu{
        @include flex-wrap(wrap);
        .logo {
            .item-link::before{
                display: none;
            }
        }
        .item-link::after{
            top: 3px;
        }
    }
    .header_border{
        @include flex-wrap(wrap);
        
        @media (max-width: 767px){
            height: auto !important;
            transform: none !important;
            height: auto !important;
            opacity: 1 !important;
        }
    }
}
#form-login {
    .form-group {
        .form-control {
            height: 50px;
        }
    }
    .errors {
        color: #ff4d4f;
        text-align: center;
    }
}
.avatarLogin {
    width: 17px;
    border-radius: 50%;
    margin-top: -4px;
}