.notifi{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 6;
    max-width: 300px;
    width: 100%;
    @media (max-width: 767px){
        max-width: 245px;
    }
    &__item{
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    &__wrap{
        border-radius: 10px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding: 10px;
        @include flexbox;
        @include align-items(center);
    }
    &__text{
        width: calc(100% - 45px);
        font-size: 16px;
        letter-spacing: 0.48px;
        color: #0d0d0d;
        line-height: 1.4;
        padding-left: 10px;
        max-height: 45px;
        overflow: hidden;
        @media (max-width: 767px){
            font-size: 12px;
            max-height: 32px;
        }
    }
    &__icon{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #e94c4c;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @media (max-width: 767px){
            width: 30px;
            height: 30px;
        }
        img{
            width: 100%;
        }
        &_img{
            max-width: 28px;
            margin: 0 auto; 
            @media (max-width: 767px){
                max-width: 18px;
            }
        }
    }
}