.project_detail--apartment{
    .apartment_detail{
        .info_contact{
            padding: 20px 30px;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
.apartment_slider-for{
    background-color: #eee;
    .slick-track{
        @include align-items(center);
        max-height: 500px;
    }
}
.apartment_slider-nav{
    .slick-track{
        @include align-items(center)
    }
}

.no_flashsale{
    &.apartment_slider .image_type{
        left: 0;
        margin: 0;
    }
}